[2019-05-21 13:00] damccorm commented on #312
Yeah, I agree this should be fixed. Add a PR to address it

[2019-05-21 13:06] damccorm commented on #311
Whoops, sorry didn't see this one until now. As best I can tell there isn't an api for that. We just generate this library based off the [rest endpoints](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-5.0&viewFallbackFrom=vsts-rest-4.1) and it doesn't look like they have it.

If you need this, the best path forward is to request it in the [developer community](https

[2019-05-21 13:20] FXschwartz commented on #311
@damccorm No problem, appreciate the response!

I will do that then and see if its something they could do.

Thanks!

[2019-05-21 13:20] #311 closed

[2019-05-22 11:23] erik-am commented on #310
I'm also looking forward to this being added! 👍

[2019-05-23 18:11] aasim opened #315 "IRequestOptions inteface defined in VsoBaseInterfaces doesn't support adding redirection options"
### Environment
Node version: v8.12.0
Npm version: 6.4.1
OS and version: Windows 10
azure-devops-node-api version: 8.0.0

### Issue Description
The IRequestOptions interface in the typed-rest-client package was updated recently to add the ability to follow redirects, and also to be able to not pass in authorization info for presigned urls. The [IRequestOptions ](https://github.com/microsoft/azure-

[2019-05-24 12:56] stephenmichaelf commented on #315
@damccorm Can you take a look? Thanks!

[2019-05-24 13:46] #315 closed

[2019-05-24 13:47] stephenmichaelf commented on #306
Closing due to inactivity. Please reopen if you continue to have the issue. Thanks!

[2019-05-24 13:47] #306 closed

[2019-05-28 20:13] sylvanaar commented on #172
I have run into this issue - I am considering opening another one in case they are different.

If I use NTLM, my node application simply exits. I think I have tracked down the issue to `HttpClientResponse.readBody` which for API calls using NTLM recieves 2 bodies, the first is the 401, and the second is the successful payload, however the promise is resolved twice, and that seems to break things.

[2019-05-29 18:36] grawcho opened #317 "getServiceEndpoints missing in 8.*.*"
### Environment
Node version: v10.15.3
Npm version: 6.9.0
OS and version: linux (fedora 28 kernel 5.0.16
azure-devops-node-api version: 8.1.0

### Issue Description
i'm using azure-devops-node-api to rotate secrets in service endpoints from script and tried to upgrade from 7.2.0 to 8.1.0 and geterviceEndpoints / updateServiceEndpoints is missing from the TaskAgentAPIBase.d.ts

### Expected behavio

[2019-05-29 18:40] stephenmichaelf commented on #317
@grawcho There can be breaking changes across major versions of the lib.

[2019-05-29 20:38] damccorm commented on #317
I'm going to close since this is expected behavior. We guarantee back-compat for minor/patch updates, but not for major version updates

[2019-05-29 20:38] #317 closed

[2019-05-29 20:40] grawcho commented on #317
What could be a possible solution?

On Wed, May 29, 2019, 23:39 Danny McCormick <notifications@github.com>
wrote:

[2019-05-29 20:51] damccorm commented on #317
In the short term, you can hit the endpoint directly - https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/get%20service%20endpoints?view=azure-devops-rest-5.0

Longer term, it looks like this has been moved into its own API, we should hopefully be able to generate it for this library soon as well - see #310. It might be worth adding this request in the [developer comm

[2019-06-04 16:22] aashishsharma490 commented on #312
I can still see the issue in version 8.0.0.
Is this fixed? Is there a workaround?

[2019-06-04 16:50] damccorm commented on #312
The fix is in 8.2.0 which hasn't been released yet

@bryanmacfarlane can we release?

[2019-06-04 18:32] Coderrob opened #318 "TestAPI AddTestResultsToTestRun always failing due to undocumented fields."
### Environment
Node version: 8.12.0
Npm version: 6.4.1
OS and version: Win10
azure-devops-node-api version: ^8.0.0

### Issue Description
Calling `testApi.addTestResultsToTestRun([testResult], projectName, testRunId)` bombs regardless of what shallow copies or values are provided. I've tried the payload for the result:

[code]
Keep running into this error:

![errors](https://user-images.githubuse

[2019-06-04 19:06] Coderrob commented on #318
I found a workaround until this issue is resolved by overriding the function `addTestResultsToTestRun` and downdgrading the api version to `'5.0-preview.5'`.

[code]

[2019-06-04 19:10] damccorm commented on #318
Cool, that's helpful. I'm guessing that it probably just needs to be regenerated then, it must have gotten out of sync with the endpoint somehow. I'm planning on regening the whole library soon (tonight or tomorrow morning), so hopefully that should fix the issue.

[2019-06-04 19:13] damccorm commented on #318
As far as the larger point about docs goes, these APIs have pretty extensive docs [here](https://docs.microsoft.com/en-us/rest/api/vsts/?view=vsts-rest-4.1), including one for [this function](https://docs.microsoft.com/en-us/rest/api/azure/devops/test/results/add?view=azure-devops-rest-5.1).

This library is just generated from those endpoints, so while we can pull in comments in the source code t

[2019-06-04 20:45] Coderrob commented on #318
@damccorm I've read through the documentation a few times from 4/5.0/5.1. A lot of MS documentation pages/sites there is often github integration with repo monitors, but not the case for ADO REST API docs.

There are no indicators (I've seen anyway) to know what is a required field or combo of fields with the functions.

I was hoping to see a sample here of expected calls using the TestAPI from cr

[2019-06-05 12:56] aashishsharma490 commented on #312
I hope it comes out soon!

[2019-06-05 13:57] damccorm commented on #318
I think this actually does exist, see the feedback section at the bottom of the page. That in turn links to [this repo](https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues?utf8=%E2%9C%93&q=%22f74b7d51-aede-ed93-437e-601654d8fa7e%22&in=body)

Just added a PR to regen (#320), it looks like its probably not going to fix this unfortunately, so I'm guessing you're right that its an issue with t

[2019-06-05 14:16] Coderrob commented on #318
This library got me about 90% of the way towards not having to use my own implementation, and I was able to override the results function to make it work. That's still a win for me. Thanks @damccorm!

[2019-06-05 14:19] damccorm commented on #318
Glad its helpful, hopefully these endpoint issues get sorted out as well.

I'm going to close here because I dont _think_ we have anything left to track on our end. If I'm mistaken just comment and I'll reopen.

[2019-06-05 14:19] #318 closed

[2019-06-08 20:59] eps1lon opened #321 "WebAPI points to wrong package.json"
### Environment
Node version: 10.16.0
Npm version: 6.9.0
OS and version: Ubuntu 18.04.2 LTS
azure-devops-node-api version: 9.0.0

### Issue Description
package is published as flat bundle but tested inside nested lib folder: https://github.com/microsoft/azure-devops-node-api/blob/3c7622f8f5787bed172e60158ab793880a277a32/api/WebApi.ts#L148

### Expected behaviour
Following the readme doesn't cause

[2019-06-09 02:30] dmitryserbin commented on #321
Same issue here - azure-devops-node-api v9.0.0

[2019-06-10 03:06] damccorm commented on #321
Hm, a couple takeaways here:
1) Lets revert #313 and rerelease. That's clearly the culprit that is causing this issue. We should also reopen issue #312 and come up with a better solution.
2) This reveals an issue with our tests/samples. Neither of them picked up on this issue even though its pretty blatant - the installed code just doesn't work. We should revisit #171 which I think would help us c

[2019-06-10 06:49] ABHINANDAN9006 opened #323 "DeployPhases property filter always shows undefined in Release definition"
Environment
Node version: v10.15.1
Npm version: 6.4.1
OS and version: windows 10
azure-devops-node-api version: 7.2.0

Issue Description:
I want to fetch the release task id form WorkFlowTask but when I am fetching the release definition, definition doesn't contain deployPhases property under environment. so I am unable to segregate the workFlowtasks and it's ids.

Here is the code:

 const releas

[2019-06-10 13:37] jeffpriz opened #324 "No Way to configure backlog for team I've created through API"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version: 8.0.0

### Issue Descriptio

[2019-06-10 16:19] yoadsn opened #325 "Prop Access on undefined"
### Environment
Node version: Any
Npm version: Any
OS and version: Any
azure-devops-node-api version: 6+

### Issue Description
This line access `res` which is never defined. Somehow - I must be missing something here - could this truly be production code? Got this using the Auth0 Azure Devops integration.

### Expected behaviour
To not throw.

### Actual behaviour
Throws.

### Steps to reproduce

[2019-06-10 16:53] stephenmichaelf commented on #325
Some questions:

1. Could you share the code that calls this code so we can take a look?
2. Did you do a fiddler trace to see what response you're getting? If so, can you share?
3. Did you try updating to the latest version of the lib?
4. Are you using Azure DevOps or Azure DevOps Server?
5. Is it happening always or sometimes? Did it just start happening?

[2019-06-10 18:34] yoadsn commented on #325
Hi,
Sure - so this is the `package.json` within the package that uses this code:
https://github.com/auth0-extensions/auth0-deploy-extensions/blob/master/package.json
And this is where it gets called:
https://github.com/auth0-extensions/auth0-deploy-extensions/blob/ba4c57a0077cf4c64f7eaa6f533c2e6fc4fb6f0b/server/lib/providers/tfs-git.js

I have no access to the network and there is not trace of the

[2019-06-10 18:42] stephenmichaelf commented on #325
Thanks for the detailed response! As far as variable definition, see highlight below:

![image](https://user-images.githubusercontent.com/450490/59218033-4a04f800-8b8d-11e9-8204-4ffcfdd34681.png)

The variable is defined in the callback.

Given their code has changed too, it makes sense to me for them to investigate on their end and let us know if they find there is a specific issue in this lib. I

[2019-06-10 20:56] #321 closed

[2019-06-11 09:02] yoadsn commented on #325
Sorry for missing this 🤦‍♂  - I was sure I looked carefully at the code.
Will see how the other lib analyzes this problem.

[2019-06-11 10:37] yoadsn commented on #325
This was resolved on the other lib - must have been a bad configuration on my part.
Thanks for the help and prompt response!

[2019-06-11 10:37] #325 closed

[2019-06-11 12:14] jeffpriz opened #326 "Builds failing tsc on AzureDevOps hosted agent"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version: 6.9.0
OS and version: v10.15.3 win32 x64
azure-devops-node-api version: 8.

[2019-06-11 12:21] stephenmichaelf commented on #326
@jeffpriz When you say exact commit I assume that means of your project? Are you referencing this lib using a specific version or a ~/^? Can you check the version of tsc you're using?

When I've seen this issue in the past it's been due to Typescript compiler version.

[2019-06-11 12:57] jeffpriz commented on #324
Attempting to Create a New Area path seems to fail while using the API Also.
export async function AddAreaPath(vsts: nodeApi.WebApi, projectRef:CoreInterfaces.TeamProjectReference, areaPath:string):Promise<WorkItemTrackingInterfaces.WorkItemClassificationNode>
{
    return new Promise<WorkItemTrackingInterfaces.WorkItemClassificationNode>(async (resolve, reject) => {
        try {
            var

[2019-06-11 13:44] jeffpriz commented on #326
@stephenmichaelf  So my Package.json did look like this:
  "devDependencies": {
    "typescript": "^2.4.2",
    "@types/node": "^6.0.31"
  },
  "files": [
    "dist/",
    "src/",
    "config/"
  ],
  "dependencies": {
    "azure-pipelines-task-lib": "^2.8.0",
    "azure-devops-node-api": "^8.0.0",
    "reflect-metadata": "^0.1.10",
    "tslib": "^1.9.3",
    "xml-parser": "^1.2.1",
    "xmldom":

[2019-06-11 14:09] stephenmichaelf commented on #326
There was a bug with 9.0.0, there is a fix in and we should be deploying it today.

As far as the build issue, I am unable to recreate it. I used the following dependencies in package.json:

`"dependencies": {
    ...
    "azure-devops-node-api": "8.0.0"
  },
  "devDependencies": {
    ...
    "typescript": "^2.4.2"
  }`

This built fine.

Can you share your full package.json?

[2019-06-11 14:25] jeffpriz commented on #326
right, so building with 8.0.0 will not cause a build issue.. building with 8.1.1 WILL cause a build issue.

[package.json.txt](https://github.com/microsoft/azure-devops-node-api/files/3276952/package.json.txt)

[2019-06-11 14:46] stephenmichaelf commented on #326
9.0.1 has been released. Can you try that?

[2019-06-11 14:53] jeffpriz commented on #326
Version 9.0.1 build successfully, and I no longer receive the runtime error about the package.json.. so that's good..

[2019-06-11 15:16] jeffpriz opened #327 "Creating a new Area Path with createOrUpdateClassificationNode fails"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 6.11.2
Npm version:
OS and version:
azure-devops-node-api version: 9.0.1

### Issue Des

[2019-06-11 15:17] jeffpriz commented on #324
I've created issue 327 https://github.com/microsoft/azure-devops-node-api/issues/327 for the issue with createing Area.. once I do create the area.. I still have the issue of how do I associate that new area with my new team?

[2019-06-11 15:18] jeffpriz commented on #326
created issue https://github.com/microsoft/azure-devops-node-api/issues/327 for the trouble with createing an Area.. I think you've solved the original issue for this issue! thanks

[2019-06-12 15:28] jeffpriz commented on #324
Using the updateTeamFieldValues and updateTeamFieldSettings can let me do what I need for the updating of the team.. still having issue 327 though, can't create  a new area path.. closing this issue

[2019-06-12 15:28] #324 closed

[2019-06-12 16:08] stephenmichaelf commented on #327
@jeffpriz Did you check the HTTP request/response here to see if it looks as expected? Do you have a working raw HTTP request? This library is a generated wrapper of the REST apis so it's possible the issue is with the setup of the call.

[2019-06-12 18:07] jeffpriz commented on #327
@stephenmichaelf I'm struggling to find a good way to check the raw request/response.. suggestions?

[2019-06-12 20:13] jeffpriz commented on #327
Hmm, well through a lot of trial and error, and a lot of shots in the dark, I found that if I add the Path to the path "Areas" it works as I wanted... This really could use some explanation and or documentation help either here And/or on the API Documentations page.. it's REALLY unclear why I don't specify the area path name as the path that I want to add the area to..   It would seem that "Areas"

[2019-06-12 20:13] #327 closed

[2019-06-13 08:55] mhgk opened #328 "Error using query"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 10.15.3
Npm version:  6.9.0
OS and version:  VS2017
azure-devops-node-api version: 2.4.

[2019-06-13 12:42] stephenmichaelf commented on #328
@mhgk Could you check the raw HTTP request/response and see what's happening there? Does the response say "Invalid resource"?

[2019-06-13 12:43] stephenmichaelf commented on #326
Of course! Closing as it's resolved.

[2019-06-13 12:43] #326 closed

[2019-06-13 12:44] stephenmichaelf commented on #323
Two things to try:

1. Check the raw HTTP response and make sure it contains the data you're looking for
2. Do a print of JSON.stringify(releases) and see if the values are somewhere else in the object model

Let me know if that gets you closer.

[2019-06-13 13:45] mhgk commented on #328
@stephenmichaelf I'm not sure how to do that actually? Its running as a task in a release pipeline.

[2019-06-13 13:57] stephenmichaelf commented on #328
Couple things:

Not sure what you mean by "It runs fine if i use the Build/Release setting instead of query." Could you elaborate?

For tracing, I would suggest running the node api on your local dev box and making sure the call you are making works, it makes debugging much easier. Has this call ever worked or is it new? Then we can narrow down if it's a problem with the call in general, auth, etc

[2019-06-17 19:12] adraut opened #329 "Update TFS Version and Library Table in Readme"
The [api-and-tfs-mapping table in the readme](https://github.com/microsoft/azure-devops-node-api/blob/master/README.md#api-and-tfs-mapping) needs updated for newer versions of TFS and Azure DevOps server.

[2019-06-17 19:21] damccorm commented on #329
Updated accordingly

[2019-06-17 19:21] #329 closed

[2019-06-17 19:45] adraut commented on #329
@damccorm Is TFS Update 3 any different than TFS Update 2?  Should the 6.6.3 version of the library be used over 6.6.2 in any case?

[2019-06-18 20:42] damccorm commented on #329
Nope, there's some overlap on these, all API versions will work on the server version mentioned as well as later versions.

Sure if you need whatever came in the patch. In general, I'd probably recommend using the later versions of the library when in doubt, we release bug fixes pretty regularly. To be a little more precise here - anything `<7.0.0` should work for TFS Update 2 or 3, we no longer m

[2019-06-19 15:05] pabrams commented on #163
@damccorm Do you have a link to the Issue?

[2019-06-19 15:27] damccorm commented on #163
No, its on that team's internal backlog so there's not a great way to provide visibility unfortunately.

As of now I don't think they've started work on this, I'll update here when they do.

[2019-07-03 06:03] HSSE-Dev opened #330 "Connection and Authentication Settings for Pipeline Task Execution (Azure DevOps Server)"
Hello,
I would like to use the azure-devops-node-api to develop a pipeline task for Azure Devops. Unfortunately I'm not quite sure which authentication settings have to be used for this because I have different rights in the BuildAgent than when I access the API externally. In Powershell scripts it worked with the flag "UseDefaultCredentials".
Thank you in advance.

[2019-07-03 12:09] stephenmichaelf commented on #330
@HSSE-Dev Node doesn't have the ability to UseDefaultCredentials. If you wanted to use default credentials you could write a Powershell task but of course then you won't have access to the node API and would have to create rest calls and handle the response yourself.

You could also pass a PAT as a secret variable to the definition but would have to provide guidance on that to anyone using the tas

[2019-07-03 12:49] HSSE-Dev commented on #330
Hello Stephen,
thanks for the quick answer even if it doesn't make me happy. Then I will probably use the PAT, although it is not quite optimal for the user because of the temporal sequence of the PATs. The goal is to collect some build information (ChangeSets, WorkItems, Testresult, etc.) which will then be sent to an API rest interface. The easiest way would have been the azure-devops-node-api.

[2019-07-03 17:32] vKarter commented on #172
We have still the issue. :/ Anyone knows something?

[2019-07-05 11:58] vladnega opened #331 "Download Artifact task failing in getBuildApi with tunnel error"
### Environment
Node version: 10.13.0
Npm version: N/A
OS and version: Windows Server 2016 Standard
azure-devops-node-api version: 7.2.0

### Issue Description
When running a YAML pipeline, it always fails at the Download Artifact task from the deployment stage. Here is a link:
https://dev.azure.com/lloydslondon/Lloyds/_build/results?buildId=5669&view=logs&j=22e8b1b6-9aa9-5014-5ac4-2849544435ca&t=

[2019-07-09 05:09] #330 closed

[2019-07-17 23:34] surr34 opened #333 "Add required Reviewer"
### Environment
Node version: v12.3.0
Npm version: 6.9.0
OS and version: Windows 10 (1903)
azure-devops-node-api version: 9.0.1

### Issue Description
Depending on the result of our pipeline execution we want to block the PR until someone from a specific group approves the PR. Therefore we want to add a required reviewer group to the PR by calling `createPullRequestReviewer` with `{ isRequired: tr

[2019-07-18 14:37] damccorm commented on #333
Could you try hitting the endpoint directly with your parameters and see if that works? See info on how to do that [here](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20request%20reviewers/create%20pull%20request%20reviewer?view=azure-devops-server-rest-5.0). That will help us determine if this is an issue with the endpoint or this library.

Would also be helpful if you could ca

[2019-07-18 21:40] surr34 commented on #333
Hitting the endpoint directly has the effect shows the same behavior, the reviewer is added as an optional reviewer. So I assume it's not related to the node api.
Is there any other way to "block" the PR?

[2019-07-22 12:22] vKarter commented on #172
@damccorm Do you have any info about it?

[2019-07-22 13:56] damccorm commented on #172
No, unfortunately. As of my last message in this thread I was unable to repro (assuming you specify domain/workspace). I'm guessing there's a decent chance that these issues are popping up because of configuration issues, though I'm not really sure what in particular would be causing them - NTLM is particularly fragile and challenging to debug which makes diagnosing them hard.

To be honest, my ad

[2019-07-22 15:06] sylvanaar commented on #172
Hi I recently had an issue with NTLM that was related to the typed-rest-client.

I opened up a ticket there with my finding. We have worked around it here, but maybe this is also your issue.

https://github.com/microsoft/typed-rest-client/issues/151

[2019-07-23 22:10] vKarter commented on #172
@sylvanaar Thanks a lot. I removed readBody() and resolve(res) and now is works :)

[2019-07-23 23:27] msftjayongg opened #334 "Locations call throws an exception; cannot proceed to do anything else."
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v8.11.3
Npm version: 5.6.0
OS and version: Windows 10  [Version 10.0.18362.239]
azure-d

[2019-07-23 23:51] msftjayongg commented on #334
Ugh - user error.  I included the Project in the URL, and I shouldn't have.

[2019-07-23 23:51] #334 closed

[2019-07-24 15:08] Manuha opened #335 "Release get approvals api is not working"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version: api-version=5.1

### Issue

[2019-07-25 06:18] #335 closed

[2019-07-25 10:24] stephenmichaelf commented on #292
@dmitryserbin Where did you end up landing on this?

[2019-07-25 10:41] dmitryserbin commented on #292
@stephenmichaelf I couldn't get the retry mechanism properly working, so I ended up writing a little retry [decorator](https://github.com/dmitryserbin/azdev-release-orchestrator/blob/master/OrchestratorV1/retry.ts) for to use with the get methods.

It is quite tricky to troubleshoot and reproduce as the issue is intermittent. And I cannot enable debug mode for long period of time to catch the issu

[2019-07-27 05:12] lmmarsano opened #336 "Explain how to look up and supply identities required by the API"
### Environment
Node version: v10.16.0
Npm version: 6.10.2
OS and version: Oracle Linux Server release 7.6
azure-devops-node-api version: 9.0.1

### Issue Description
Would someone care to explain how to use REST APIs to convert a regular identifier such as an e-mail address into an identifier for the `id`s
https://github.com/microsoft/azure-devops-node-api/blob/517dd5d9b2e8037f52cc49d11e988beb72d

[2019-07-29 00:07] damccorm commented on #336
We don't own the endpoints, so I'm not an expert on this (and in fact have basically no knowledge of most of them, we just expose methods generated from their endpoints in this library). With that said, all of the endpoints should be documented here - https://docs.microsoft.com/en-us/rest/api/azure/devops/

This one in particular is documented here - https://docs.microsoft.com/en-us/rest/api/azure

[2019-07-30 12:42] #331 closed

[2019-07-31 08:26] caitakan opened #337 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'authenticatedUser' of null"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 11.9.0
Npm version: 6.5.0
OS and version: Win10
azure-devops-node-api version: 9.0.1

#

[2019-07-31 08:29] #337 closed

[2019-08-09 06:57] saikrishnav opened #339 "Serialization code is not translating dictionaries correctly if key is enum."
### Issue Description

For example: queryTestResultsReportForRelease(project: string, releaseId: number, releaseEnvId: number, publishContext?: string, includeFailureDetails?: boolean, releaseToCompare?: TestInterfaces.ReleaseReference): Promise<TestInterfaces.TestResultSummary> returns "TestResultSummary" with below member as dictionary type and key is "TestOutcome" Enum

### Expected behaviour
E

[2019-08-09 07:00] saikrishnav commented on #339
"Return false" statement at Line 283 in Serialization.ts always returns "False" after matching with a enum value (weird) - which makes the newKey always "False". So, the new dictionary gets overwritten with same key again and again - ends up with single KV pair always with "false" as the key.

[2019-08-09 20:05] hibroseph commented on #259
@jholovacs How did you find/have access to that class GitHttpClient? I am trying to locate it to use it in an internship project I am currently involved in.

[2019-08-12 04:00] #339 closed

[2019-08-12 19:20] hibroseph commented on #259
@pasangh While trying to follow the above example given by jholovacs, I keep getting an issue with the ```string.Empty``` for the filter parameter. That filter parameter is referring to unlock/locking the branch. I am not sure what I should do for that parameter.

[2019-08-15 11:46] kachkaev opened #341 "CHANGELOG.md / UPGRADING.md / Release info missing"
### Issue Description

I have a project using `azure-devops-node-api@8.0.0`. Running [`ncu`](https://www.npmjs.com/package/npm-check-updates) this morning I discovered that the latest version is 9.0.1, so went to check what breaking changes I need to be aware of. However, I could  not find CHANGELOG.md, UPGRADING.md or Release info in this repo.

### Expected behaviour

I'd expect new versions to

[2019-08-16 10:34] puagarwa commented on #305
@NxSoftware  can you validate the fix and help to close if issue is fixed.

[2019-08-16 17:40] saikrishnav commented on #305
@puagarwa  - Any idea what release this fix would go in? (if not already)

[2019-08-19 17:51] damccorm commented on #305
@bryanmacfarlane can we release `9.0.2`?

[2019-08-26 10:14] Evit15 opened #342 "Version 0.7.0 (For TFS2015) does not exist in NPM"
### Issue Description
Version 0.7.0 (For TFS2015) does not exist in NPM.
https://www.npmjs.com/package/azure-devops-node-api

### Expected behaviour
Version 0.7.0 (For TFS2015) exists in NPM

[2019-08-26 12:53] stephenmichaelf commented on #342
For older versions, the package was [vso-node-api](https://www.npmjs.com/package/vso-node-api).

[2019-08-26 12:53] #342 closed

[2019-08-27 02:35] Evit15 commented on #342
Hi @stephenmichaelf

Thank for your quick reply!

What version of vso-node-api do you recommend for TFS 2015 ?

[2019-08-27 15:34] eanders-MS opened #343 "How to get specific fields from work item?"
azure-devops-node-api version: 9.0.1

I was able to successfully get query results from `workItemTrackingApi.queryById`, but the resultant list of work items have only a few generic fields on them. How can I get additional fields of the work item? Specifically, I'd like to read "Target Date", but also other fields.

[2019-08-29 17:27] bengreenier commented on #281
Hi @damccorm - Seems like this is still missing, and I believe I am seeing it used in [the referenced repo](https://github.com/microsoft/azure-devops-dotnet-samples/blob/62bda633ca49b960bd0eeb1c7c0d36b53d046b58/ClientLibrary/Samples/ProjectsAndTeams/ProjectsSample.cs#L206) - Any chance we can get this added/supported here? I'm working on a tool to be used with some of our partners @ ms, and being

[2019-08-29 17:31] jtpetty commented on #343
@eanders-MS - Looking at the API documentation, it does not appear there is a way to control the fields returned back from queryById ( https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/wiql/query%20by%20id?view=azure-devops-rest-5.1)

Would it be possible for you to use queryByWiql() instead? It seems to have more control over which fields are returned. (https://docs.microsoft.com/en-us/r

[2019-08-29 18:55] eanders-MS commented on #343
Thanks for the reply. Turns out the answer was right in front of me. I needed to call `workItemTrackingApi.getWorkItem`, and pass the names of the fields I wanted to retrieve. Here's the full list of fields I'm fetching, in case it helps others:

[code]

[2019-08-29 18:55] #343 closed

[2019-09-01 20:12] nadavsinai commented on #172
@damccorm will this issue be fixed as per @vKarter	findings in https://github.com/microsoft/typed-rest-client/issues/151#issuecomment-514403286
patching node_modules on post-install is not a nice option...

[2019-09-09 09:58] TomBonnerAtTFL opened #344 "`oSDescription` has an incorrect case"
Node version: 11.12.0
Npm version: 6.9.0
OS and version: Windws
azure-devops-node-api version: 9.0.1

### Issue Description
The field [`oSDescription`](https://github.com/microsoft/azure-devops-node-api/blob/master/api/interfaces/TaskAgentInterfaces.ts#L2079) I think has the incorrect casing. It has a capital `S` when it should be lower-case. This is different to both the returned value from DevOp

[2019-09-09 09:58] TomBonnerAtTFL commented on #344
I understand this might be outside this repo's scope. But am happy to be redirected.

[2019-09-11 09:18] Mattious opened #345 "Random timeout on request"
Hi,

i've implemented a flow to get release information from a node api by using the package azure-devops-node-api.
I've a strange behaviour. It works perfectly but suddenly i get timeout for the request: connect ETIMEDOUT 13.107.42.18:443

The flow when i get a release status (or also queue a release) is

-  Connect to azure devops api:
[code]
- get the release status

[code]

The time out can oc

[2019-09-18 12:22] mmajcica opened #346 "getProjectCollection needs edit rights"
I'm trying to get the name of the collection, considering that I do know only the collection ID.

[code]

Unfortunately, it seems that the account I'm using, no matter it can access a project in the collection, thus it can read info about the collection, it can't create an instance of TeamProjectCollection object in the API.

The error I do get is the following:
`Error: Access Denied: Project Coll

[2019-09-18 14:13] TheUniquePaulSmith opened #347 "Not able to authenticate with "adal-node" Bearer token obtained via Device Profile auth flow"
### Environment
Node version:  v12.4.0
Npm version:  6.9.0
OS and version: Windows 10 1803
azure-devops-node-api version: 9.0.1
adal-node version: 0.2.1

### Issue Description
Not able to authenticate with "adal-node" Bearer token obtained via Device Profile auth flow.
Error returns
**TF400813: The user '' is not authorized to access this resource.**

### Expected behaviour
Able to login and imper

[2019-09-19 11:57] samlevy-microsoft opened #348 "Support for linkCommitWorkItems in GitApi.createPullRequest"
### Environment
Node version: v10.13.0
Npm version: 6.4.1
OS and version: Windows Server 2016
azure-devops-node-api version: 9.0.2

### Issue Description
linkCommitWorkItems is not supported in GitApi.createPullRequest.
E2E effect is that work items related to the commits included in the PR are not linked to the created PR.

### Expected behaviour
linkCommitWorkItems is supported ( I validated tha

[2019-09-20 05:39] puagarwa commented on #305
@damccorm  can you please confirm if this is already released ?

@saikrishnav  are you able to validate it ?

[2019-10-03 16:15] RickKrause commented on #278
Looking to utilize the api, but this is blocking.

[2019-10-04 00:31] evanlouie commented on #312
The offending line is still referencing `__dirname`. Are their any plans to fix this?

[2019-10-04 13:32] damccorm commented on #312
Sorry, forgot we had to revert this. I think to unblock people we can probably just make reading from package.json best effort - this telemetry is not worth breaking people.

[2019-10-07 13:34] #312 closed

[2019-10-07 14:31] damccorm commented on #345
This seems like its probably just network issues, I can't get a repro. With that said, one thing you can do to make this moreresilient is to use retries https://github.com/microsoft/azure-devops-node-api/blob/cf9a8734ac8a2e3fa919fcab0db65fbb0aa78d40/api/interfaces/common/VsoBaseInterfaces.ts#L93

[2019-10-07 22:44] sarath-p opened #350 "Unable to create new variable group with `azurekeyvault` type"
### Environment
Node version: v12.10.0
Npm version: 6.11.3
OS and version: macOS Mojave
azure-devops-node-api version: 9.0.1

### Issue Description
Unable to add a new variable group with type `azurekeyvault` in Azure DevOps project.

### Expected behaviour
Create a new variable group with a link to Azure Key Vault for secrets by calling [ITaskAgentApi.addVariableGroup](https://github.com/microsof

[2019-10-08 16:30] zarochi commented on #300
I just wanted to jump in and thank @MisinformedDNA for the diagnosis and notes. I had the same issue, but once I added "Project Collection Build Service" to "Project Collection Build Service Accounts" and granted that group permission to "contribute to pull requests" on the project this all worked.

[2019-10-08 19:17] malchowc opened #351 "Version 0.7.0 (For TFS2015) does not exist for vso-node-api OR azure-devops-node-api in NPM"
### Issue Description
Version 0.7.0 (For TFS2015) does not exist in NPM under the **azure-devops-node-api** package name **OR** the **vso-node-api** package name.

The closest version available that is not greater is 0.6.1. Unless there were no bug fixes or features added between 0.6.1 and 0.7.0 then it seems risky to use it versus the releases 0.7.0 version for TFS 2015.

https://www.npmjs.com/pa

[2019-10-08 20:18] damccorm commented on #351
I think all that did was add additional APIs, everything that exists in the API at that point should be safe to use. If you run into anything missing that is present in https://github.com/microsoft/azure-devops-node-api/tree/ee8a0f5188bd633149aa581b78158cd92ed6747a let me know. If it wasn't deemed worth publishing at the time it almost certainly doesn't contain anything critical though.

[2019-10-08 20:18] #351 closed

[2019-10-09 09:24] atbagga commented on #350
@sarath-p  Probably type is case sensitive. Try "AzureKeyVault".

[2019-10-10 14:45] sawpresto opened #353 "Work item rule, WhenCurrentUserIsMemberInGroup, fails import"
### Environment
Node version: v9.8.0
Npm version: 5.6.0
OS and version: Windows
azure-devops-node-api version: 9.0.1

### Issue Description
When exporting the work item rule, WhenCurrentUserIsMemberInGroup, the enum value that is set is 0. When trying to import, the migrator doesn't recognize 0 as a possible enum value and fails. It succeeds when I manually add the value "whenCurrentUserIsMemberIn

[2019-10-10 22:23] saikrishnav commented on #305
@puagarwa  - The way I validated this is that I published my task by manually editing the file fix in question under node_modules so that my task gets published with the fix. It has been working in the last sprint. Can we release this already?

[2019-10-11 05:23] puagarwa commented on #305
@damccorm can you help to release new version of this package, or add someone who can help here.

[2019-10-11 19:42] marknadig opened #354 "JsonPatchDocumentObject missing definition"
### Environment
Node version: 10.16.0
Npm version: 6.9.0
OS and version: Win10

### Issue Description
VSInterfaces.ts has an empty definition for JsonPatchDocument:
[code]

### Expected behaviour
Seems it should be an array of JsonPatchOperation. In practice, I'm sending up an array of JsonPatchOperations and it is working.

CoreApi.ts seems to imply it is expecting an array:
`* @param {VSSInterfa

[2019-10-16 18:54] RickKrause commented on #278
Have PR open for this feature to at least patch and make function work based on supporting API...   How can we get somebody to review and approve PR?

[2019-10-24 13:20] eirikb opened #356 "Browser build size"
Hi

Is it possible to shrink the build size somewhat for browsers?
Currently the simplest import adds > 1MB of JavaScript to the bundled file.

Library version: 9.0.1

These approaches give same results:
[code]

Result:
[code]
Parcel version 1.12.4.
Library works great in browser by the way.

[2019-10-29 10:27] bbarroux opened #357 "[Question] : Could we have new release"
Thanks for the amazing library !
Is there any plan to have a new release published in npm ? 9.0.1 is 5 months old, and many critical issues have already been fixed and merged.
(TBH, the one I'm specifically personally after is https://github.com/microsoft/azure-devops-node-api/issues/339)

[2019-11-01 14:28] damccorm commented on #345
Note also that you can increase the timeout - https://github.com/microsoft/azure-devops-node-api/blob/cf9a8734ac8a2e3fa919fcab0db65fbb0aa78d40/api/interfaces/common/VsoBaseInterfaces.ts#L88

[2019-11-06 12:22] JiriKovar opened #359 "ReleaseApi.createRelease fails when using System.AccessToken from Azure DevOps"
Hi everyone,

I have a code that used to work fine, where I'm starting a new release via this package. I use this method: https://github.com/microsoft/azure-devops-node-api/blob/master/api/ReleaseApi.ts#L2841 and I'm specifying all Build type artifacts, but leaving the GitHub type artifact unspecified, where I have the default version set as "Latest from the default branch" & default branch set as

[2019-11-08 12:05] mattcowen opened #360 "queueCreateProject no longer returns ID of git repository"
### Environment
azure-devops-node-api version: 7.0.2

### Issue Description
We know that getRepositories returns multiple GitRepository. We know that this object is different to BuildRepository that is required for creating a new BuildDefinition. But what dictates the ID queueCreateProject function returns? This is an ID in an OperationReference response that we found matched the id of a Git repos

[2019-11-13 17:21] carlosm2011 opened #361 "When using the getDeployments call and specifying the sourceBranch, result is empty array."
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v10.16.3
Npm version: 6.9.0
OS and version: windows 10 version 1709
azure-devops-node-a

[2019-11-25 18:34] Kayakflo opened #362 "GitApi.getBlobsZip needs to be a POST request, but sends GET"
### Environment
Node version: v8.16.0
Npm version: 6.4.1
OS and version: macOS Mojave (10.14.6)
azure-devops-node-api version: 7.0.0

### Issue Description
GitAPI.getBlobsZip should send a POST request according to Rest API documentation (https://docs.microsoft.com/en-us/rest/api/azure/devops/git/blobs/get%20blobs%20zip) but sends GET request instead: https://github.com/microsoft/azure-devops-node

[2019-11-29 08:31] JamieMagee opened #363 "Generate governance API"
Not sure how/where the APIs are generated from, but the governance API is available [here](https://github.com/MicrosoftDocs/vsts-rest-api-specs/tree/master/specification/governance) in vsts-rest-api-specs.

Is it possible to generate the applicable API?

[2019-11-29 14:04] volllly commented on #347
We encounter the same issue with a Bearer Token received by [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-js)

[2019-11-29 16:27] Jsoconno commented on #327
Can you elaborate on "I found that if I add the Path to the path "Areas" it works as I wanted"?

I've been searching desperately to find an answer to this and same as you I've been taking every shot in the dark I can think of.  I'm using the Python SDK, but the JSON request should look similar.  Can you please post the request you are sending that is working for you?

For additional context, when

[2019-12-02 13:13] stephenmichaelf commented on #361
@carlosm2011 Did you try making an HTTP request from Fiddler to see if the same thing happens? This library is just a wrapper for the API.

[2019-12-02 16:52] carlosm2011 commented on #361
@stephenmichaelf Yeah it's definitely a bug, I was able to solve this issue by using the TFS API with a similar payload.

[2019-12-02 21:04] Metarract commented on #345
Also ran into this same issue; I chalked it up to ado throttling me and just increased the timeout to ridiculous amounts but ended up still getting a timeout error and didn't end up seeing any throttling in our usage section for me. Increased it to like 4 hours (assuming the socketTimeout was ms based on testing; if it's in s then it sure was a lot more than that), still timed out. Set it to 0 hop

[2019-12-05 17:42] lmmarsano commented on #137
This issue needs to be reopened.
Successfully fulfilling a 404 error is counterintuitive, and there's no documentation in sight!
How is anyone supposed to know?
Promise type signatures don't document error types.
DocComments don't cover error-cases, and those comments don't show up in editors due to their absence in published interfaces masking their presence in implementation.

[2019-12-06 16:50] stephenmichaelf commented on #336
Closing as guidance was provided and this is just a wrapper of the API.

[2019-12-06 16:50] #336 closed

[2019-12-06 16:53] stephenmichaelf commented on #357
Thanks @bbarroux sorry for the delays here! We will be releasing this lib next week.

[2019-12-10 13:37] evgri243 opened #364 "Add Azure Artifacts API"
Environment
Node version: 13.2.0
Npm version: 6.13.1
OS and version: linux
azure-devops-node-api version: 9.0.1

### Issue Description
SDK has no API implementation for Azure Artifacts.

### Expected behaviour
API and the client should be present in WebApi. We plan to use them from VSCode Extension.

[2019-12-13 19:06] bsell93 opened #365 "Retrieve Pull Request Updates/Activity"
### Environment
Node version: v10.15.3
Npm version: 6.4.1
OS and version: macOS 10.13.6
azure-devops-node-api version: 8.0.0

### Question
I scoured the docs and the issues here, but was unable to find anything indicating the ability to get "new comments" or "code updates" on a pr.

Does something like this exist in the api?

The data that is exposed in the UI that I'm looking to retrieve in the A

[2019-12-15 16:14] Kayakflo opened #366 "GitApi.createPullRequestReviewer needs to be a PATCH request, but sends PUT"
### Environment
Node version: v8.16.0
Npm version: 6.4.1
OS and version: macOS Mojave (10.14.6)
azure-devops-node-api version: 9.0.1

### Issue Description
GitAPI.createPullRequestReviewer should send a PATCH request according to Rest API documentation
(https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20requests/update)
but sends PUT request instead:
https://github.com/microsoft/azu

[2019-12-28 17:39] tylermurry commented on #278
Has there been any traction on regenerating this library with the fix? I would love to use this library but the current version (9.0.1) is simply unusable for this feature.

[2020-01-06 15:52] damccorm commented on #357
Hi, this has been released - sorry for the delay

[2020-01-06 15:52] #357 closed

[2020-01-08 11:23] showmetwo opened #369 "TaskAgentApi.updateVariableGroup Failed to find api location for area distributedtask"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v12.13.1
Npm version: 6.13.4
OS and version: windows 2016
azure-devops-node-api version

[2020-01-08 12:37] stephenmichaelf commented on #369
@showmetwo Why did you update the lib if you're going against on-prem? The feature set in on-prem is fixed so there is no need for a new version of this lib.

[2020-01-09 01:22] showmetwo commented on #369
our on-prem TFS has to customize some build/release task, which need to update library information. since upgrade to 10.0.0 of azure-devops-node-api, the function updateVariableGroup cannot work anymore under TFS 2018.

[2020-01-09 03:32] showmetwo commented on #369
turns out, someone changed the id, you can compare two versions, ef5b7057-ffc3-4c77-bbad-c10b4a4abcc7 not workable for both TFS 2018 and Azure DevOps Server 2019:

before: let verData = yield this.vsoClient.getVersioningData("3.2-preview.1", "distributedtask", "f5b09dd5-9d54-45a1-8b5a-1c8287d634cc", routeValues);

now: let verData = yield this.vsoClient.getVersioningData( "6.0-preview.2", "distrib

[2020-01-09 12:29] stephenmichaelf commented on #369
I still don't understand your need to update the library. On-prem APIs aren't changing so the 9.0.1 version of the lib should be able to hit any REST endpoints you need.

[2020-01-13 22:39] sarath-p commented on #369
@stephenmichaelf  - I just upgraded to `10.0.0` from `9.0.1` and running into the same issue. I am getting the below error when connecting to Azdo project.

`error:   Atleast one variable group project reference is required.`

[2020-01-22 10:47] sijakret commented on #337
would you mind sharing the solution? i am having the same issue..
thanks!

[2020-01-23 01:43] schlueter opened #370 "Cannot include AgentBasedDeployPhase in a ReleaseDefinitionEnvironment"
### Environment
Node version: v12.14.1
Npm version: 6.13.6
OS and version: MacOS 10.15.2
azure-devops-node-api version: fd94f64 (10.0.0)

### Issue Description
I'm writing a script to update our release definitions, adding an agent based deploy phase
as part of a release definition environment. The api response from the `getReleaseDefinition` method includes such a defintion, but typescript produc

[2020-01-24 10:33] iMPeRiOR commented on #345
Hi Guys, I have the same issue on getBranches() method, after a random time it gets timeout, but network is stable, and I've setup high timeout and retries values.

[2020-01-28 08:39] JamieMagee commented on #363
@damccorm the Governance API wasn't generated in the most recent update. Is it possible to do a patch release to include it? Documentation [is public](https://docs.microsoft.com/en-us/rest/api/azure/devops/componentgovernance/?view=azure-devops-rest-6.0&branch=mseng%2Ffeatures%2FGovernance%2Fnew-api-docs).

[2020-01-30 08:54] icnocop opened #371 "A 404 "Not Found" error occurs when trying to get the agent queues using TFS 2015 Update 4 on-premise"
### Environment
Node version: 10.15.1
Npm version: 6.4.1
OS and version: Windows Server 2019 Version 1809 OS Build 17763.107
azure-devops-node-api version: 10.0.0

### Issue Description
A 404 "Not Found" error occurs when trying to get the agent queues using TFS 2015 Update 4 on-premise.

### Expected behaviour
I expected the URL to be queried:
[http://tfs2015:8080/tfs/DefaultCollection/_apis/dist

[2020-01-30 14:13] stephenmichaelf commented on #371
This is due to using the latest version of the lib with an older version of TFS. Please see our main page [here](https://github.com/microsoft/azure-devops-node-api) for a mapping of what version of the lib to use based on what version of TFS you have.

[2020-01-30 16:39] icnocop commented on #371
Thank you.

I guess I'm confused by which "later versions" in "All API versions will work on the server version mentioned as well as later versions." from readme.md.

Does "later versions" mean "later TFS versions"?

[2020-01-31 22:49] icnocop commented on #364
It seems Artifacts are implemented in the BuildApi.

See https://github.com/microsoft/azure-devops-node-api/blob/master/samples/buildArtifact.ts

[2020-02-01 02:38] icnocop commented on #371
As a work-around, I was able to use [IIS URL Rewrite](https://www.iis.net/downloads/microsoft/url-rewrite) with this rule, added to the `Team Foundation Server/tfs` virtual directory (`C:\Program Files\Microsoft Team Foundation Server 14.0\Application Tier\Web Services\web.config`):

[code]

It basically rewrites API requests from
http://tfs2015:8080/tfs/DefaultCollection/MyProject/_apis/distribut

[2020-02-03 08:33] desokey commented on #245
ran into the same issue, you have to use https://vssps.dev.azure.com/{org name}/ when calling getProfile method

[2020-02-03 19:23] stephenmichaelf commented on #371
@icnocop We will clean up that text, I agree it's confusing.

I still am confused by your request: why would you need a new version of the lib to use against 2015 on-prem?

Also, I would not recommend doing the IIS rewrite.

[2020-02-04 03:00] icnocop commented on #371
I'm using https://github.com/huserben/TfsExtensions which depends on v6.6.3.

In order to use it against TFS 2015 on-prem, I had to implement the IIS URL Rewrite work-around.

Should v6.6.3 be compatible with TFS 2015 on-prem?
If not, how else would you suggest making it work?

Thank you.

[2020-02-05 15:44] stephenmichaelf commented on #371
You'll have to talk with the Extension owner about this, which will also answer your last question.

[2020-02-06 15:48] damccorm commented on #363
It looks like the Governance api is currently not generated for any of our libs (e.g. Python, Java, etc...). That can change, but would require the internal Governance team's signoff/ownership. Since its not specifically our generated library, the best path forward is probably to file a ticket in devcom so it gets routed to the right owners there - https://developercommunity.visualstudio.com/space

[2020-02-06 15:48] #363 closed

[2020-02-07 16:00] stephenmichaelf commented on #371
Closing, as mentioned please speak with the Extension owner.

[2020-02-07 16:00] #371 closed

[2020-02-10 15:01] jashan05 opened #373 "How to get continuation token in axios API call for projects"
### Issue Description
Not able to get all the headers in response while doing GET METHOD using AXIOS such as continuation token.

### Expected behaviour
Should get all the headers.

### Actual behaviour
Not getting all the headers escpecially  continuation token . e.g **x-ms-continuationtoken**

[2020-02-12 23:08] TofferAtNeal commented on #259
Was there ever an answer to the above question?  I'm also hitting this same issue.

[2020-02-14 02:01] hibroseph commented on #259
I got it working for my specific use case. This is what I had to do to following @jholovacs snip.

[code]
You need to obviously grab the original branch using GetBranchAsync in the gitClient as well as have the repositoryId.

[2020-02-20 07:58] jashan05 opened #374 "API to get list of projects"
### Environment
Node version: v13.7.0
Npm version: 6.13.6
OS and version: MacOs
azure-devops-node-api version:

### Issue Description
I want to get the list of projects in organization

### Expected behaviour
API is able to return list of all the projects in organization

### Actual behaviour
Couldnt find the functionality

[2020-03-02 09:18] #373 closed

[2020-03-03 09:19] kroonprins commented on #370
I am running into the same. Is there any update on this ticket? @jtpetty

[2020-03-03 19:57] brentlemons commented on #362
I'm having the same, but slightly different issue. I found this issue report because I was also receiving the GET response. I used a similar method to above, but I get an empty response from a POST to .../blobs. I also get an empty response when I call blobs from curl. Is there currently an issue with the Azure DevOps blobs POST endpoint?

[2020-03-06 19:15] damccorm commented on #374
@jashan05 this library is just a wrapper around our APIs - does the API you're looking for exist anywhere in https://docs.microsoft.com/en-us/rest/api/azure/devops/account/accounts/list?view=azure-devops-rest-5.1? If not, the best path forward is probably to open a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-03-06 22:12] jashan05 commented on #374
@damccorm  Yes api from Microsoft is available. It is basically to get the collection of projects in azure devops. I couldnt find any methods/class/interface to get the projects. The API from microsoft i am referring is -->
[this](https://docs.microsoft.com/en-us/rest/api/azure/devops/core/projects/list?view=azure-devops-rest-5.1)

[2020-03-10 21:12] msogden commented on #374
Get list of collections then iterate the projects

[2020-03-13 21:05] cp79shark opened #377 "Cannot create Git Client."
### Environment (local)
Node version: 12.16.1
Npm version: 6.13.4
OS and version: Win 10 1909
azure-devops-node-api version:  ^10.1.0
@azure/functions: ^1.0.2-beta2

### Environment (Azure Function)
![image](https://user-images.githubusercontent.com/4753295/76656466-e305dc80-652c-11ea-88ab-77b99e180410.png)

### Issue Description
I cannot instantiate the `GitApi` locally or when deployed to Azure.

[2020-03-13 21:27] cp79shark commented on #377
It has to do with the baseUrl.

This (always using dev.azure.com/[org]) worked with the C# client, so I mistakenly assumed it worked with the Node client. Pulling the baseUrl out of the request and assigning it to the `getGitApi(url)` lets it connect.

[2020-03-19 14:02] rfennell opened #378 "How should I use timeouts/retries to avoid ETIMEDOUT"
### Problem
I have been seeing a problem with an Aure DevOps task when it is making a large number of API calls i.e. when generating release notes where there are hundreds of associated items to get details for.

I am guessing it is a throttling issue.

I see the error, but not at a consistent point in the logic

[code]

The strange thing is this only occurs for hosted agent, a private agent is fi

[2020-03-19 18:48] zkbule commented on #347
Any update on this? we have the same issue here with adal-node

[2020-03-21 16:45] andrewhathaway opened #379 "Help: How to get user ID when using a PAT?"
Hi all, sorry this is mostly a request for help.

### Issue Description
Is it possible to get the User ID that the Personal Access Token is for when authenticated with a PAT? I've seen that the Profiles API is unavailable to PAT-authenticated requests.

Thanks!

[2020-03-21 17:10] andrewhathaway commented on #365
Would also like to be able to see this. I've noticed that the GitHub API has `lastUpdated` field on a Pull Request which is updated whenever anything on that PR changes.

[2020-03-23 17:27] cloudlene opened #380 "DownloadBuildArtifacts: Assertion error: 3482 == 0 in tunnel.js"
I use a self hosted 2016 Server VM.

### Environment
Node version: 6.17.1 (node) 10.17.0 (node10)
Npm version: default
OS and version: Windows Server 2016 Data Center
azure-devops-node-api version:  default
Agent version: 2.164.8

### Issue Description
Downloading build artifacts using YAML download keyword in 17 VMs in parallel using a matrix strategy.  Randomly on some machine the task throws th

[2020-03-30 13:27] mmajcica opened #382 "no_proxy not working as expected"
In the following line

https://github.com/microsoft/azure-devops-node-api/blob/417f07133a7f6e2b18745afbdca6268fcc7801a8/api/WebApi.ts#L365

we are comparing the serverUrl is listed in the no_proxy env variable. However, we usually specify the domains that we are excluding from being accessed via proxy like '.mydomain.com'. This means that if the value of my no_proxy variable is '.mydomain.com' and

[2020-04-02 01:32] KyleBastien commented on #377
@cp79shark It looks like I'm running into the same issue, how were you able to resolve this? I tried putting the `https://dev.azure.com/<ORG>/` URL into the `getGitApi` call but it seems like I'm getting the same results.

[2020-04-02 04:36] cp79shark commented on #377
@KyleBastien here is the current working code snippet from my project. `pullRequest` is set from the DevOps web hook Pull Request Create. The URI ends up being the ORG.visualstudio.com.

[code]

[2020-04-02 14:19] stephenmichaelf commented on #379
@andrewhathaway After you establish the connection the HTTP response headers should have this.

[2020-04-02 14:22] stephenmichaelf commented on #380
@fadnavistanmay could you take a look at this?

[2020-04-02 14:23] stephenmichaelf commented on #380
@cloudlene Could you recreate this in the [tasks](https://github.com/microsoft/azure-pipelines-tasks) repo? Thanks!

[2020-04-02 14:23] #380 closed

[2020-04-02 15:09] moritonal commented on #344
This has now been fixed.

[2020-04-02 15:10] TomBonnerAtTFL commented on #344
This has now been fixed.

[2020-04-02 15:23] marknadig commented on #354
Still an issue https://github.com/microsoft/azure-devops-node-api/blob/df92f600f55d7f65d07d075803d15a6fdd8a0f00/api/interfaces/common/VSSInterfaces.ts#L176

Again, happy to submit a PR . However, it seems this file is generated and unclear from what source
https://github.com/microsoft/azure-devops-node-api/commits/master/api/interfaces/common/VSSInterfaces.ts

[2020-04-02 16:04] mmajcica commented on #346
This may be not an issue of this library but of the AzDO REST API. Can this be transferred somewhere, somehow?

[2020-04-02 16:46] damccorm commented on #346
https://developercommunity.visualstudio.com/spaces/21/index.html is probably the best place for this

[2020-04-02 17:58] KyleBastien commented on #377
@cp79shark Thanks for sharing got mine to work as well using the `org.visualstudio.com` URL, and then passing in `projectName` explicitly to the API calls that needed.

[2020-04-02 19:02] sarath-p commented on #350
Yes, `AzureKeyVault` worked.

[2020-04-02 19:02] #350 closed

[2020-04-02 20:37] eirikb commented on #356
As long as there are no for-browser SDKs for DevOps I believe this issue is still important.
(There might be, I don't know).
Just did a fresh test with Parcel 1.12.4 and azure-devops-node-api 10.1.0 and the built file was **1.3MB**

[2020-04-02 21:36] alechirsch commented on #278
Is this fixed?

[2020-04-03 07:40] mmajcica commented on #346
I will try here:
https://developercommunity.visualstudio.com/content/problem/976505/resolving-collection-name.html

Thanks

[2020-04-03 07:40] #346 closed

[2020-04-03 14:29] kachkaev commented on #341
not stale

[2020-04-03 17:11] sgerace commented on #232
I stumbled upon this issue while attempting to retrieve the complete list of agent requests (via `taskAgent.getAgentRequests`). Am I correct in my interpretation that there is no way at the moment to obtain the continuation token required to get the next page of results? Are we therefore basically limited to the number of items that we request via the `top` parameter?

[2020-04-04 14:40] kachkaev commented on #341
Hope this issue will be addressed sooner or later 🙏

[2020-04-06 03:02] surr34 commented on #333
can you answer whether this is supported or not? :)

[2020-04-06 07:57] andrewhathaway commented on #379
Which header specifically? I can see a few with GUIDs. `x-vss-userdata` is `{guid}:{emailAddr}` and there's also `x-vss-e2eid` which is a different guid to the one found in `userdata`.

[2020-04-06 13:32] damccorm commented on #333
Hey @surr34 - sorry this slipped through the cracks. Since this isn't an issue with the node wrapper itself, could you file an issue here for the REST Api itself - https://developercommunity.visualstudio.com/spaces/21/index.html? That way it will get routed to the correct team

[2020-04-06 13:32] #333 closed

[2020-04-08 17:33] pratik11jain opened #386 "GIT: getCommitDiffs does not return intended output"
# Environment
Node version: v10.16.3
Npm version: 6.9.0
OS and version: Windows 10
azure-devops-node-api version: 10.1.1

### Issue Description
getCommitDiffs was called to get changes between 2 commits and the api returned 0 changes with the following result:
{"allChangesIncluded":true,"changeCounts":{"1":394,"2":1889,"8":3,"10":16,"16":120,"1040":19},"changes":[],"commonCommit":"<>","baseCommit"

[2020-04-09 16:04] #361 closed

[2020-04-09 16:04] #359 closed

[2020-04-09 16:04] #360 closed

[2020-04-09 16:04] #353 closed

[2020-04-09 16:04] #348 closed

[2020-04-09 16:04] #323 closed

[2020-04-09 16:04] #328 closed

[2020-04-09 16:04] #310 closed

[2020-04-09 16:06] marknadig commented on #354
bah... what did I do wrong that this is still considered stale?

[2020-04-09 17:04] #305 closed

[2020-04-09 17:04] #201 closed

[2020-04-09 17:04] #212 closed

[2020-04-09 17:04] #172 closed

[2020-04-09 17:04] #180 closed

[2020-04-09 17:04] #171 closed

[2020-04-09 17:19] damccorm commented on #354
Not sure why it still got closed

[2020-04-09 21:03] #356 closed

[2020-04-09 22:04] #278 closed

[2020-04-10 18:05] #232 closed

[2020-04-11 11:01] andrewhathaway commented on #379
Closing as I can confirm that the `guid` in the `x-vss-userdata` header is the user Id! Thanks for the pointer :)

[2020-04-11 11:01] #379 closed

[2020-04-11 20:46] kachkaev commented on #341
:(

[2020-04-12 05:30] rarkins commented on #341
Bad bot.

https://github.com/microsoft/azure-devops-node-api/blob/master/.github/workflows/stale.yml

https://github.com/actions/stale/issues/21

[2020-04-15 14:10] rfennell commented on #378
Is there any news on this issue?

I have been trying to do more testing

- If I run an Azure DevOps pipeline on a hosted agent that calls the Node SDK a few hundred times I get the timeout issue. You can see the failing test run [here](https://dev.azure.com/richardfennell/GitHub/_releaseProgress?_a=release-environment-logs&releaseId=1879&environmentId=5709)
- If I run exactly the same pipeline on

[2020-04-17 16:26] rfennell commented on #378
I have now also run my test harness node app in an Azure hosted VM - this did not work show the error, so it seems specific to the hosted build agent

[2020-04-20 00:10] #369 closed

[2020-04-21 16:52] alokg7crdemo opened #389 "azure devops rest api access using nodejs"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version:

### Issue Description

###

[2020-04-22 07:05] maasalexander opened #390 "Add Security Permissions API"
### Issue Description
We are currently using the Azure DevOps node api to control the Azure DevOps environment for a company with more than 400 development teams. For this, we need a way to get/set permissions. The REST API allows for this, as described here:
https://docs.microsoft.com/en-us/rest/api/azure/devops/security/?view=azure-devops-rest-5.1
However, getting/setting permissions is currentl

[2020-04-24 11:34] stephenmichaelf commented on #389
No details, closing.

[2020-04-24 11:34] #389 closed

[2020-04-27 16:20] chenfli opened #391 "Integration with Azure javascript API"
Hi,

_This is not an issue but a question_

My name is Chen and we are starting a migration process from Github to Azure DevOps.

I check this library and it's great, I am trying to find a complete solution to work with Azure Container Registry, Azure Resources and all of Azure stack.

I expect to be able to create a new project via Azure rest APIs
This project will contain several repositories, t

[2020-04-28 19:59] stephenmichaelf commented on #391
Hey Chen,

I am not sure I understand the question. You use this library for Azure DevOps and the Azure SDK when working with Azure services. They are two separate libraries.

Could you elaborate on your question?

[2020-04-30 11:04] #345 closed

[2020-05-01 20:32] bkapellusch commented on #278
Here's what I had to do to get it to work:

    const baseVersionDescriptor = {
        version: 'your first commit id',
        versionType: GitVersionType.Commit
    } as GitBaseVersionDescriptor;
    const targetVersionDescriptor = {
        versionType: GitVersionType.Commit,
        version: 'your second commit id'
    } as GitTargetVersionDescriptor;

instead of:

    const baseVersionDescri

[2020-05-05 08:29] chenfli commented on #391
With pleasure @stephenmichaelf,
I am trying to set up a migration plan from Github/Dockerhub to Azure DevOps.
Since we have a lot of git repositories and docker repositories, I need a way to create a new Azure devops projects which will have an Azure Container Registry for (charts/ container images).

I looked around to see if there is an SDK which supports such options (create Organziation/Projec

[2020-05-06 07:44] CDA0 opened #392 "Queue a pipeline with parameters"
### Environment
Node version: 12.9.1
Npm version: 6.10.2
OS and version: macOS Catalina
azure-devops-node-api version: 10.1.1

### Issue Description

When attempting to trigger a build pipeline with paramaters like so:
[code]
I get the following error:

[code]
It seems that the parameters in the Build interface are maybe variables? https://github.com/microsoft/azure-devops-node-api/blob/dcf730b142

[2020-05-06 12:43] stephenmichaelf commented on #392
Hello! Did you try to inspect the HTTP request you're sending out and make sure the body is formed correctly? You can also try making the HTTP request directly then comparing the two to see the difference.

[2020-05-06 13:58] CDA0 commented on #392
my working example, obtained from inspecting ADO hits ${this.orgUrl}/${this.project}/_apis/pipelines/${definitionId}/runs

where the one in buildApi hits ${this.orgUrl}/${this.project}/_apis/pipelines/${definitionId}/builds.

There is also this issue in the cli extension which is similar https://github.com/Azure/azure-devops-cli-extension/issues/972

[2020-05-07 14:25] stephenmichaelf commented on #392
@mjroghelia This likely requires regenerating the library.

[2020-05-07 19:23] ashishgrazitti opened #393 "pagination in getDeletedWorkItemShallowReferences"
Hi,

I have over 20000 workitems in my recyclebin. I want to fetch the ID of these workItems
But I recieve an error { Error: VS402337: The number of work items returned exceeds the size limit of 20000. Change the query to return fewer items.
    at RestClient.<anonymous> (/home/GRAZITTI/ashish.prasher/repositories/search-unify/docker-dev-setup/micro-services/crawler/node_modules/ty
ped-rest-client

[2020-05-11 10:21] rfennell opened #394 "Cannot call getReleaseWorkItemsRefs using the pipeline OAUTH token"
### Environment
Azure DevOps Services
azure-devops-node-api version: 8.1.1

### Issue Description
I am try to programmatically get the WIs that are linked to a GitHub commit using the AB#123 format (provided by the Azure DevOps Boards connector for GitHub) inside a pipeline task.
1.	Create a build pipeline based on a GitHub repo that is linked to Azure DevOps Boards
2.	Commit and push stuff with "

[2020-05-11 16:37] damccorm commented on #394
Hey @rfennell this looks like an issue with the API itself, not this library (this library is just an autogenerated wrapper). Could you file it at https://developercommunity.visualstudio.com/spaces/21/index.html so that it gets routed to the right team?

[2020-05-11 16:37] #394 closed

[2020-05-11 18:17] rfennell commented on #394
@damccorm thanks for the info, I will log the issue there

[2020-05-13 16:05] #364 closed

[2020-05-14 17:05] #366 closed

[2020-05-15 08:33] Kayakflo commented on #366
@damccorm I see you have been assigned to this issue. Should I have added a comment here to avoid the state change?
Please ignore me, if the issue has been resolved in the mean time.

[2020-05-28 16:58] kitforbes opened #395 "Add a sample for using the continuation token"
### Environment
Node version: `12.0.0`
Npm version: `6.9.0`
OS and version: Windows 10
azure-devops-node-api version: `10.1.1`

### Issue Description
I spent some time trying to work with the Releases API to pull back all releases within a project with the `getReleases()` function. This returns 50 by default and is able to max out at 100 if using `top`. As I need more than 100 returned, I wanted t

[2020-06-04 04:29] Hevia opened #396 "[Question] How to fetch files from a PR?"
### Environment
Node version: v12.17.0
Npm version: 6.14.4
TSC version: 3.9.3
OS and version:  Windows 10
azure-devops-node-api version: ^10.1.1

### Issue Description
Apologies if this is a beginner question! I am an intern at Microsoft trying to use this for an internal project.

I am trying to fetch **ALL** the files being worked on by a PR whenever a new PR is opened. However I cant find any f

[2020-06-08 17:34] damccorm commented on #396
I don't believe we have an api to get the diff of a pr, you should be able to do this by getting all the relevant commits with [getPullRequestCommits](https://github.com/microsoft/azure-devops-node-api/blob/dcf730b1426fb559d6fe2715223d4a7f3b56ef27/api/GitApi.ts#L74) and then get the contents with [getCommitDiffs](https://github.com/microsoft/azure-devops-node-api/blob/dcf730b1426fb559d6fe2715223d4

[2020-06-08 22:08] #362 closed

[2020-06-09 00:37] damccorm commented on #374
You can use this function https://github.com/microsoft/azure-devops-node-api/blob/dcf730b1426fb559d6fe2715223d4a7f3b56ef27/api/CoreApi.ts#L38

[2020-06-09 16:25] Konnor5092 opened #397 "'Unable to obtain Stream' when using createTestResultAttachment"
### Environment
Node version: **10.7.0**
Npm version: **6.1.0**
OS and version: **Windows 10**
azure-devops-node-api version: **10.1.1**

### Issue Description

Whenever I attempt to use the `ITestApi.createTestResultAttachment` method I get the following error in the response...

[code]
When I check the Test Result in Azure Devops, the attachment has been added successfully.

This is my code...

[2020-06-16 01:09] #374 closed

[2020-06-18 13:09] rioki opened #398 "getBuildTimeline"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v14.4.0
Npm version: 6.14.5
OS and version: Windows 10 19041.329
azure-devops-node-api

[2020-06-18 14:03] #398 closed

[2020-06-18 14:03] rioki commented on #398
I found the bug in my code.

[2020-06-19 12:18] csharpdocs opened #399 "Error while updating build definition. Property 'yamlFilename' no present in BuildProcess interface of BuildInterfaces.ts file"
Hi Team,

I am currently using azure-devops-node-api to trigger my build pipeline using azure functions.
I wanted to update my build definition. While development I found the property with name 'yamlFilename' is not present in BuildInterface.ts file's BuildProcess interface hence my code was breaking while updating build definition. I manually added this property(yamlFilename?: string;) in my code

[2020-06-19 18:28] bsell93 commented on #365
@stephenmichaelf is there any update on this? Thanks!

[2020-06-21 10:01] csharpdocs commented on #399
I found the solution!!

The class 'YamlProcess' is inherited from 'BuildProcess' interface.

I replaced my code
const buildProcess : bi.BuildProcess = {
            "type" : 2
        }

to

const buildProcess : bi.YamlProcess = {
            "type" : 2,
            "yamlFilename": "/" + automationPipelineFileName
        }

and it Worked

[2020-06-21 10:01] #399 closed

[2020-06-24 14:11] kavitha1991dhiman opened #400 "Unable to add a definition Tag via azure-devops-node-api"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:  12.16.3
Npm version: 6.14.4
OS and version:
azure-devops-node-api version: 10.1.1

###

[2020-06-24 15:28] Hevia commented on #396
This answered my question, forgot to close. Thanks!

[2020-06-24 15:28] #396 closed

[2020-06-24 20:09] #347 closed

[2020-06-24 21:56] mastrzyz commented on #292
I did some digging , it looks like the retry mechanism from the rest client in usage looks at status codes to determine if we should retry while this error is an exception raised by the 'http','https' libraries themselves : https://github.com/microsoft/typed-rest-client/issues/220

[2020-06-26 19:08] #365 closed

[2020-06-26 19:21] bsell93 commented on #365
This should not be closed. I don't think the joke, "If you ignore a problem long enough it will go away." should apply here.

[2020-06-28 13:40] atiasdudi opened #401 "How to properly upload and attach file to a workitem?"
### Environment
Node version: 12.13.1
Npm version: 6.12.1
OS and version: WIndows 10
azure-devops-node-api version: 7.0.0

### Issue Description
Using WorkItemTrackingApi.createAttachment(...) to create an attachment, then updating the workitem with Operation.Add operation to /relations/- with value rel: 'AttachedFile' and url: {url from attachment reference above}.
I do see the files under the at

[2020-06-28 13:52] atiasdudi commented on #401
Solved with [to-readable-stream](https://www.npmjs.com/package/to-readable-stream) package..
Instead of `const readableStream = Readable.from(buffer);`
I used  `const readableStream = toReadableStream(buffer);`

Any idea why this method works and the native Readable won't?

[2020-06-30 17:12] binte commented on #300
I am still getting the same error, on Azure DevOps, after having:

- Checked box "Allow scripts to access the OAuth token" in pipeline job and try again.
- Added the "Project Collection Build Service" user to the “Project Collection Build Service Accounts” security group, under the Organisation level permissions.

What am I missing here?

[2020-07-01 18:10] diab2013 opened #402 "Script error in console from import"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 12.18.2
Npm version: 6.14.3
OS and version:  Win10
azure-devops-node-api version: 10.1.

[2020-07-08 04:11] demyte commented on #300
@binte  You will also need to give the user that is created called `<Project> Build Service (<Org>)` access to contribute to pull requests as per this SO article > https://stackoverflow.com/questions/60048492/raise-a-comment-in-azure-devops-pr

![image](https://user-images.githubusercontent.com/48166/86875029-f0bb1f80-c124-11ea-895a-f6b3a164a957.png)

[2020-07-08 16:11] #382 closed

[2020-07-08 18:11] #370 closed

[2020-07-08 19:18] marknadig commented on #354
Again, happy to submit a PR if someone would point me to where this is derived from.

[2020-07-13 17:59] JasonWhall commented on #392
+1 would be good to get the library re-generated to include templateParameters in the interface so we can use this in downstream projects as well without having to rely on just calling the REST API directly. Assuming this is an "internal task" to update the code with a new API schema?

[2020-07-15 20:11] #354 closed

[2020-07-16 22:41] jamiemccrindle commented on #281
This would be useful for me too.

[2020-07-27 20:25] mauleb opened #405 "Update task group version number"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 10.15.0
Npm version: 6.4.1
OS and version: Windows 10 Pro 1909
azure-devops-node-api ve

[2020-07-28 16:09] ddyett opened #406 "Is there a way to link a GitHub issue to a workitem"
I'm trying to add a link to a Github issue when I create a workitem.  I can see it's supposed to take an artifactlink but I can't  seem to use the GitHub uri with that.  It wants a uri of this form:  vstfs:///GitHub/Issue/4786ace5-7ca1-4bdc-a4c3-1b38ed994b05%2F1

The question I have is how to I create a new artifact uri so I can pass that in, or am I just looking at this incorrectly.

This fails
{

[2020-07-30 12:15] #390 closed

[2020-07-31 09:46] beandrad opened #407 "updatePullRequestReviewer doesn't update reviewer vote"
### Environment
Node version: 12.18.2
Npm version: 6.14.5
OS and version: macOS Catalina 10.15.6
azure-devops-node-api version: 10.1.1

### Issue Description

When trying to update the reviewer vote using `GitApi.updatePullRequestReviewer()`, the reviewer vote is not updated.
```updatePullRequestReviewer(reviewer: GitInterfaces.IdentityRefWithVote, repositoryId: string, pullRequestId: number, revi

[2020-08-03 12:33] JiriKovar opened #409 "'The size of the request headers is too long.' during PAT authorization"
### Environment
Node version: v12.18.3
Npm version: 6.14.6
OS and version:  W10
azure-devops-node-api version:  10.1.1

### Issue Description
I keep getting this error, when I'm trying to retrieve authorization from various tools (I will give you example later on:
'Bad Request - Request Too Long' with details of 'HTTP Error 400. The size of the request headers is too long.'

### Expected behavior

[2020-08-05 12:12] JiriKovar commented on #409
I see it's already been dealt with. Closing this issue.

[2020-08-05 12:12] #409 closed

[2020-08-06 16:23] brianhsb1671 commented on #395
@kitforbes Were you able to get the continuation token?

[2020-08-06 19:24] kitforbes commented on #395
Nope. I stopped trying and gave up on that task for the time being.

[2020-08-12 15:13] #386 closed

[2020-08-12 15:13] #391 closed

[2020-08-13 12:17] #393 closed

[2020-08-14 06:21] holiber opened #410 "How to manage agents"
I need to get the list of agents and have ability to delete agents from the pool.

As I see we have these methods in REST API
https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/agents/list?view=azure-devops-rest-5.1

But I don't see any examples in this library

[2020-08-18 14:52] robcresswell commented on #377
Could you reopen this? It should work fine with `https://dev.azure.com/<ORG>/`.

I could open a new issue, but it seems a shame to lose the discussion here

[2020-08-18 18:18] cp79shark commented on #377
Sure. Re-opening for any triage they want to perform. I'm going to assume it's still failing for you, @robcresswell , with whatever the latest bits are?

[2020-08-21 06:04] robcresswell commented on #377
@cp79shark I'm seeing the same error occasionally in an internal system. There's a high chance it's a bug in our side, but I wonder if the library should be more robust here. Reading the comments, it seems like everyone was using valid URLs but the library expects a specific format.

[2020-08-28 19:02] loganballard commented on #392
+1.  I ran into this today as well.  I would love to see the templateParameters in the interface so as to not have to use the REST API directly.

[2020-09-01 08:10] abgopal opened #411 "getProfileApi() not working"
WebApi() -> getProfileApi() fails with url for resource area 8ccfef3d-2b87-4e99-8ccb-66e343d2daa8 not available.

[2020-09-01 22:40] bkapellusch opened #412 "Can't get suites for a plan"
I can get plans from the work API, and if I have a suiteId, I can get test cases from the test API. But I can't seem to find a node API call that matches this REST call:

https://docs.microsoft.com/en-us/rest/api/azure/devops/test/test%20%20suites/get%20test%20suites%20for%20plan?view=azure-devops-rest-5.0

Is it just not implemented? Or am I looking in the wrong spot?

[2020-09-03 20:31] rufustfirefly2016 opened #413 "Error Running NPM"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 12.18.13
Npm version: 6.14.6
OS and version: mac Catalina 10.15.6
azure-devops-node-api

[2020-09-03 22:24] rufustfirefly2016 commented on #413
Just curious - are you supposed to also run NPM INSTALL on the package.json in the /Samples folder?  I also get similar errors when I try to do that:
npm ERR! code ENOENT
npm ERR! syscall rename
npm ERR! path /Documents/Azure/azure-devops-node-api-master/samples/node_modules/.staging/tunnel-15069f5e
npm ERR! dest /Documents/Azure/azure-devops-node-api-master/_build/node_modules/tunnel
npm ERR! err

[2020-09-08 14:39] #413 closed

[2020-09-08 14:40] rufustfirefly2016 commented on #413
Never mind - iD10T error!

[2020-09-08 15:39] viceice commented on #411
We have the same issue, see linked pr 😢

[2020-09-10 09:55] rfennell commented on #378
I am still seeing this issue

[2020-09-14 17:15] #397 closed

[2020-09-17 07:17] mmajcica opened #414 "How to get stage information"
Is there a way for a YAML pipeline run (based on project - buildId) to get the information about the stages that have been run and stage details?

Thanks

[2020-09-17 10:16] #378 closed

[2020-09-21 17:52] bergmeister commented on #392
@stephenmichaelf Can we please get the library updated. This block various consumers, the az CLI issue [here](https://github.com/Azure/azure-devops-cli-extension/issues/972) has 19 votes and is blocked on this library.

[2020-09-22 16:40] mjroghelia commented on #392
This turned out to be more than just needing the client updated. The `build` endpoints themselves need support for `templateParameters` added. I'm doing that now and will update this client once the service changes roll out.

[2020-09-26 15:32] #401 closed

[2020-09-27 20:19] cveld commented on #392
There is also a related question raised on Stack Overflow: https://stackoverflow.com/questions/60852825/azure-devops-yaml-pipeline-parameters-not-working-from-rest-api-trigger

Interestingly recently the `pipelines/runs` API got added to the documentation: https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/runs/run%20pipeline?view=azure-devops-rest-6.0

@mjroghelia If I understand yo

[2020-09-29 15:17] #400 closed

[2020-10-06 18:19] #402 closed

[2020-10-19 17:09] robcresswell commented on #377
We've dropped the client due to other issues; feel free to close @cp79shark

[2020-10-25 07:48] johnnyreilly opened #415 "GitApi.getRefs seems to be missing pagination parts of API"
Hello!

Thanks for your work on this splendid API!  I've been playing with it this weekend and have found it really quick to get up and running with.  Solid choice using TypeScript! ❤️🌻

I've just been looking at the `IGitApi.getRefs` endpoint and it seems to work great.  However, I've noticed that, in comparison with the documentation on the REST API (which this built on top of I believe?), the `

[2020-10-28 15:00] vtbassmatt commented on #415
Hi @johnnyreilly - Martin Woodward sent your tweet my way. Sorry we haven't been super responsive here!

These clients are generated from the server-side controllers, and at a glance, I don't understand why those two parameters weren't included. Full transparency, we don't dedicate a lot of cycles here, but I will get it on the team's radar to investigate/improve.

[2020-10-28 15:26] johnnyreilly commented on #415
Thanks @vtbassmatt - much appreciated!  And thanks Martin for sending the tweet to Matt! ❤️🌻

[2020-10-29 11:58] johnnyreilly opened #416 "WikiApi appears to be missing "Pages - Create Or Update" parts of API"
Hello again!

I've been working on writing a tool that writes to our Wiki.   However it looks like the ["Pages - Create Or Update"](https://docs.microsoft.com/en-us/rest/api/azure/devops/wiki/pages/create%20or%20update?view=azure-devops-rest-6.0) portion of the API hasn't been implemented.

If you take a look at `WikiApi` you'll see the following `page` operations implemented:

https://github.com/

[2020-10-30 06:03] johnnyreilly commented on #415
Just a heads up that I think I've found another "missing piece" 😄 - see https://github.com/microsoft/azure-devops-node-api/issues/416

[2020-10-31 17:44] johnnyreilly commented on #416
Heya!

I've written up a way to access the Wiki API here: https://blog.johnnyreilly.com/2020/10/azure-devops-node-api-missing-episodes.html

It should serve until the auto-generated client can be looked at:

[code]

With this I was able to write code like this:

[code]

[2020-11-01 22:14] #405 closed

[2020-11-02 06:56] johnnyreilly commented on #395
Is this related to https://github.com/microsoft/azure-devops-node-api/issues/415 ?

[2020-11-02 17:13] #406 closed

[2020-11-03 18:14] robatwilliams opened #417 "gitApi.getItemText() succeeds despite the underlying API call failing"
### Environment
Node version: v12.16.0
Npm version: 6.13.4
OS and version: Windows 10
azure-devops-node-api version: 6.6.2

### Issue Description
There doesn't seem to be any reasonable way to detect if the stream contains the text of the requested item, or the HTML of an Azure DevOps error page.

### Expected behaviour
`await gitApi.getItemText(...)` throws an error.

### Actual behaviour
`await

[2020-11-04 00:17] wbin666 commented on #392
+1 would be good to get the library updated to include templateParameters in the interface so we can use this in downstream projects as well without having to rely on just calling the REST API directly.  Better to include templateParameters in build endpoints.

[2020-11-05 11:13] #407 closed

[2020-11-08 14:41] johnnyreilly commented on #415
I was just reading this article about how AutoRest is used to generate client libs:

https://devblogs.microsoft.com/azure-sdk/code-generation-with-autorest/

Does that include this client lib?

[2020-11-09 21:24] christiango opened #419 "Getting authentication issues after updating to latest typed-rest-client"
### Environment
Node version: 12.13.0
Npm version: 6.12.0
OS and version: Windows 10
azure-devops-node-api version: 10.1.1

### Issue Description
We use the azure-devops-node-api in some Azure Devops pipeline to do things like write comments to the PR. This was working fine until 11/6/2020 when we happened to have an auto update of our lockfile that took typed-rest-client (which is a dependency of

[2020-11-09 21:41] johnnyreilly commented on #419
Maybe it's worth putting an issue against the repo:

https://github.com/microsoft/typed-rest-client

I wonder if this might be related to: https://github.com/microsoft/typed-rest-client/pull/238

cc @anatolybolshakov @damccorm

[2020-11-10 19:17] damccorm commented on #419
@anatolybolshakov could you or your team take a look?

[2020-11-11 10:28] JamieMagee commented on #419
I dug into this a bit more, as I'm being hit by it. It looks like [this commit](https://github.com/microsoft/typed-rest-client/commit/f9ff755631b982ee1303dfc3e3c823d0d31233e8) introduced the issue.

I think the solution is to set `allowCrossOriginAuthentication` to `true`, or the very least, expose it as a parameter in [the authentication handler methods](https://github.com/microsoft/azure-devops-

[2020-11-11 12:17] anatolybolshakov commented on #419
@JamieMagee thanks for digging into this! I created [PR](https://github.com/microsoft/azure-devops-node-api/pull/420) with exposing this as a parameter.

[2020-11-12 07:56] JamieMagee commented on #419
@anatolybolshakov Thanks for the quick PR. Can you publish version `10.1.2` to npm?

[2020-11-12 10:11] jjguijt commented on #419
I have encountered the same issue, a quick push to npm would be appreciated. Thanks for the quick work on this!

[2020-11-12 14:32] damccorm commented on #419
This has been published

[2020-11-12 14:40] anatolybolshakov commented on #419
Thanks @damccorm!
@christiango @JamieMagee @jjguijt could you please check that it works for you currently?

[2020-11-12 16:47] johnnyreilly commented on #419
I think it might not be fixed - just experimenting.

[2020-11-12 17:03] johnnyreilly commented on #419
I'm experiencing this:

[code]

However I've pinned to 1.7.3 and am still experiencing the issue - it's possible my own issue is different

[code]

[2020-11-13 12:04] johnnyreilly commented on #419
Yup - it was a different issue. This works for me!

[2020-11-13 18:48] christiango commented on #419
Confirmed the latest version works when you pass the new parameter through to the handlers. Thanks for the quick turnaround!

[2020-11-13 18:48] #419 closed

[2020-11-13 19:55] lpcarignan opened #421 "Issue with Chrome in debug mode and WebApi.connect()"
### Environment
Node version: 12.16.2
Npm version: 6.14.5
OS and version: MacOs Catalina 10.15.7
azure-devops-node-api version: 10.1.2

### Issue Description
I run Chrome in debug mode during development of my React/NodeJs/Typescript app. I use this project inside my app to connect and fetch data from my AzureDevops instance.

When calling asynchronous function connect() on WebApi class, I get a T

[2020-11-19 07:14] #410 closed

[2020-11-19 14:46] rfennell commented on #345
I am still seeing this issue intermittently

[2020-11-22 15:08] JamieMagee opened #422 "Regenerate API for API version 6.0"
The latest version of `azure-devops-node-api`, `6.6.2`, targets API version `6.0-preview.1`. However, the stable version of `6.0` has been released. Can you please regenerate the API client to target the latest version?

[2020-12-01 17:36] cyuste opened #424 "Update variable group fails"
### Environment
Node version: v14.9.0
OS and version: osx big sur
azure-devops-node-api version: 10.1.2

### Issue Description
Trying to update a variable group fails with the following error:
`(node:27088) UnhandledPromiseRejectionWarning: Error: Project information name is not valid for variable group.`

### Expected behaviour
Variable group should be updated

### Actual behaviour
The error ment

[2020-12-01 17:56] cyuste commented on #424
Retested with package version 9.0.1 that uses api version `5.1-preview.1`, it works fine (I had to change the call to updateVariableGroup as it requests the project name as parameter)

[2020-12-04 09:32] rfennell opened #425 "How best to handle ETIMEDOUT?"
This is a follow up to #379, which never got resolved, I have created a new issue as I have now done a lot more research now.

### Environment
Node version:  v14.15.1 for local dev and I think the same on the Azure DevOps Hosted Agents
Npm version:  6.14.8
OS and version:  Azure DevOps Hosted Agents
azure-devops-node-api version:  8.1.1

### Issue Description
I have a Node based Azure DevOps Pipel

[2020-12-07 16:43] viceice commented on #411
😢

[2020-12-07 18:11] johnnyreilly commented on #411
No stalebot, no!

[2020-12-07 18:14] johnnyreilly commented on #415
Hey @vtbassmatt / @mjroghelia

Is there any way to follow along when this might work on / get shipped? I've been reaching around to try and find any public facing milestones around Azure DevOps APIs but haven't happened upon anything. Would you happen to know?

[2020-12-07 23:18] #412 closed

[2020-12-08 14:10] vtbassmatt commented on #415
There's not another way to follow along besides this issue, I'm afraid.

I don't think we fully onboarded with AutoRest - our C# clients predate its introduction in Azure, for example. But I think we do use them in at least the Python client.

[2020-12-08 17:50] johnnyreilly commented on #415
Cool, no worries @vtbassmatt - thought I'd check. I'm new to all this AzureDevOps stuff

[2020-12-17 06:21] ankitbko commented on #411
Is there any update on this?

[2020-12-17 07:54] ankitbko commented on #379
@andrewhathaway how did you read this header? Can you post a snippet?

[2020-12-17 09:05] jjguijt commented on #425
I am encountering the same issue, and agree with the expected behaviour of the library.

[2020-12-17 09:17] rfennell commented on #425
Yes, I have seen a good few reports in various forums.

It would be good to hear if there is a solution to the problem via the API or if it is an underlying constraint of the underlying Azure DevOps REST instances we can do nothing about. Even if that is  the case as work around is really needed

[2020-12-23 07:30] #414 closed

[2021-01-23 08:11] ankitbko opened #429 "getCommitDiffs not sending diffCommonCommit as parameter in the request"
This is because the parameter type is boolean which makes this statement true when diffCommonCommit is set to false  https://github.com/microsoft/azure-devops-node-api/blob/470f9ca7bdfccd87e1c1fdea8023b8c3d2b1047a/api/VsoClient.ts#L188

[2021-01-24 19:54] #377 closed

[2021-01-26 15:40] ankitbko commented on #429
@damccorm Can you please have a look at this? My project is kind of stuck due to this. I am happy to fix this but want someone from team to look at this first.

[2021-01-27 15:53] jjguijt commented on #232
I have the same problem when trying to list my organization's projects. Is there any update on this?

[2021-01-29 20:18] johnnyreilly commented on #416
Nope - not stale.

[2021-01-31 21:36] kitforbes commented on #395
Bumping this issue once. I'll let it go stale next time. This library isn't great when you can't query all of the data.

[2021-02-01 19:16] robatwilliams commented on #417
I'm not aware of any progress in fixing this

[2021-02-02 09:04] johnnyreilly commented on #416
This isn't stale

[2021-02-02 09:05] johnnyreilly commented on #415
Just pre-empting stalebot - this isn't stale

[2021-02-07 22:19] #395 closed

[2021-02-08 20:19] #417 closed

[2021-02-08 20:56] robatwilliams commented on #417
I commented above yet the bot closed it as stale...

[2021-02-09 01:42] #392 closed

[2021-02-09 06:02] kwickramasekara commented on #416
+1

Requesting to update `wikiApi` to support creation of pages 🙏

[2021-02-09 08:16] bergmeister commented on #392
Please re-open

[2021-02-10 09:30] migheorghe opened #430 "getReleaseChanges returns only 250 items"
getReleaseChanges returns only 250 items no matter the _top_ parameter. The maximum number it's probably an API limitation and if this is the case it should have a _skip_ parameter or a continuation token. Can someone check this?

https://github.com/microsoft/azure-devops-node-api/blob/470f9ca7bdfccd87e1c1fdea8023b8c3d2b1047a/api/ReleaseApi.ts#L750

[2021-02-11 04:30] mjroghelia commented on #392
@bergmeister The ability to pass `templateParameters` was added in #426.

[2021-02-11 09:07] Nusserdt commented on #416
Same requirement here. Also hope for an `IWikiApi.updatePages`.

[2021-02-17 23:28] bnbarak commented on #172
For me the problem is with `typed-rest-client`. After digging around, I found that `types-reset-client` is making an `OPTIONS` request (preflight) prior to making the actual API call (I added a break point in `node_modules/typed-rest-client/handlers/personalaccesstoken.js`).

Then I tested the same API with postman, and indeed the OPTIONS request fail...

I did not find a way to disable the prefli

[2021-02-18 09:19] #416 closed

[2021-02-18 21:16] #421 closed

[2021-02-19 07:00] kwickramasekara commented on #416
Please reopen

[2021-02-19 07:27] johnnyreilly opened #431 "WikiApi appears to be missing "Pages - Create Or Update" parts of API"
Opening this as the bot closed #416 despite appeals

Hello again!

I've been working on writing a tool that writes to our Wiki.   However it looks like the ["Pages - Create Or Update"](https://docs.microsoft.com/en-us/rest/api/azure/devops/wiki/pages/create%20or%20update?view=azure-devops-rest-6.0) portion of the API hasn't been implemented.

If you take a look at `WikiApi` you'll see the followin

[2021-02-20 16:54] svanzoest commented on #422
This update would be appreciated

[2021-02-27 17:31] #422 closed

[2021-03-03 07:25] cyuste commented on #424
does anybody maintain this repo?

[2021-03-03 09:25] kiermasp opened #432 "getArtifactContentZip doesn't work for "resource.type": "PipelineArtifact""
### Environment
Node version: 14.15.5
Npm version: 6.14.11
OS and version: Microsoft Windows 10 Enterprise, Version	10.0.18363 Build 18363
azure-devops-node-api version: 10.2.1

### Issue Description
IBuildApi.getArtifactContentZip does't work for artifact resource type: PipelineArtifact but it does for type: Container

### Expected behaviour
I should be able to get zip from Build Artifacts and Pi

[2021-03-07 05:12] rarkins commented on #411
@EzzhevNikita @mjroghelia @damccorm @anatolybolshakov please reopen

[2021-03-13 01:52] JamieMagee commented on #422
@damccorm Could you please reopen this issue and `genclient`?

[2021-03-17 11:12] rfennell commented on #425
Still heard nothing to do with this issues, and I still see the problem.

[2021-03-22 06:45] Nusserdt commented on #317
@damccorm is there any update about a `ServiceEndpoints` api call over `azure-devops-node-api`?

[2021-03-22 06:50] Nusserdt commented on #310
@damccorm is there any update about a `ServiceEndpoint` api call over `azure-devops-node-api`?

[2021-03-24 09:19] imWildCat opened #434 "gitApi.createThread() does not work, return value is null and there's no error"
### Environment
Node version: `v14.16.0`
Npm version: `6.14.11`
OS and version: `macOS 11.2.3 (20D91)`
azure-devops-node-api version: `^10.2.1`

### Issue Description

The code is like:

[code]
derived from this comment: https://github.com/microsoft/azure-devops-node-api/issues/173#issuecomment-381109507

### Expected behaviour
There should be some error or non-null response.
Currently, it does no

[2021-03-24 12:12] #425 closed

[2021-03-24 15:38] kachkaev commented on #200
@stephenmichaelf I’m trying to get the [list of users](https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/users/list?view=azure-devops-rest-6.0) but am unable to find a corresponding method call in the SDK. 🤔

[2021-03-25 03:30] imWildCat commented on #434
Oh, I didn't use the correct repo ID. Fixing it:

[code]

Question: In this case, should we throw errors?

[2021-04-01 23:32] themadtitanmathos opened #436 "`isBrowser` check erroneously passes for `electron-link` bundled `node` applications"
azure-devops-node-api version: 10.2.1

### Issue Description
`global.window` gets set in `electron-link` bundled applications, but `global.window.navigator` won't exist because it isn't a browser app, it's a node app. This means the current `isBrowser` check isn't quite enough, and the `WebApi` constructor will fail while trying to set the `userAgent` by accessing an undefined `window.navigator.us

[2021-04-02 04:56] ajit601 opened #438 "Critical vulnerability detected in dependency "underscore""
The package underscore from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Execution via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

Details of the vulnerability https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23358

It is advised to upgrade the version underscore to 1.12.1

[2021-04-02 05:28] ajit601 commented on #438
Looks like there is a PR already opened for this issue "https://github.com/microsoft/azure-devops-node-api/pull/435"

Close the issue once the pr is merged.

[2021-04-09 16:48] muiriswoulfe opened #439 "Expose API version option to library consumers"
### Issue Description
My Azure DevOps task only relies on functionality that has been available within Azure DevOps for a very long time. However, the task can only target the latest versions of Azure DevOps as the latest version of the Azure DevOps Node API apparently takes a dependency on having the newest version available.

Therefore, my proposal is that it should be possible to manually speci

[2021-04-15 17:08] lordlycastle opened #441 "Request to Open Source OpenAPI Specs"
### Issue Description

I am hoping that Microsoft keeps the Azure REST API in Open API spec files. If that is the case, I think it would benefit the community access to those files. Using those files we can structully parse the API and do things to the API.

For example, create a Postman Collection. Since Microsoft doesn't want to support some other third party company format they don't create thi

[2021-04-27 06:17] EzzhevNikita commented on #438
@ajit601 The package version (10.2.2) that contains a fix for this issue has already been published.
I am closing this issue currently

[2021-04-27 06:17] #438 closed

[2021-04-27 07:59] EzzhevNikita commented on #434
@imWildCat Do you mean throwing errors on the side of your application? If so it is up to you how to handle 404 status code in your application and which actions to perform when this error is received from the server.
And also am I right that you don't have issues with the _azure-devops-node-api_ itself currently?

[2021-04-27 08:04] Phoebe-0319 opened #442 "https://dev.azure.com/_apis/Location is NOT FOUND"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 8.9.4
Npm version: 5.6.0
OS and version: Windows 10
azure-devops-node-api version: 6.6.

[2021-04-27 08:07] imWildCat commented on #434
@EzzhevNikita Yeah, I agree.

But even if I used this block, error cannot be caught?

[code]

[2021-04-27 09:00] EzzhevNikita commented on #434
@imWildCat 404 Error is not causing throwing error so you cannot catch it using this construction. I assume you need to perform some null checks for the item that is returning from the createThread to catch the situation that you described in a ticket.

[2021-04-27 09:28] imWildCat commented on #434
@EzzhevNikita Ok. We're leveraging nullability for 404 error?

[2021-04-27 09:41] EzzhevNikita commented on #434
@imWildCat Yes, it is the way how typed-rest-client (which is used for request performing) is handling such errors. Here is the link to the code - https://github.com/microsoft/typed-rest-client/blob/master/lib/RestClient.ts#L209

[2021-04-27 11:23] EzzhevNikita commented on #442
Hi @Phoebe-0319, this ticket seems to be similar to this [one](https://github.com/microsoft/azure-devops-node-api/issues/377), could you please try to check if the solution from [this comment](https://github.com/microsoft/azure-devops-node-api/issues/377#issuecomment-607615816) works for you?

[2021-04-28 06:25] imWildCat commented on #434
No problem. Thanks for the detailed explaniation!

[2021-04-28 06:25] #434 closed

[2021-04-28 06:26] Phoebe-0319 commented on #442
Hi @edgarrs, thanks for your quick response. I have tried the workaround as you mentioned, but it could not work. Because '/_apis' is provided in inner code - [beginGetAreaLocations in VsoClient.ts](https://github.com/microsoft/azure-devops-node-api/blob/470f9ca7bdfccd87e1c1fdea8023b8c3d2b1047a/api/VsoClient.ts#L160)

Could you please help to resolve this issue? This issue has blocked our developi

[2021-04-29 08:34] atiasdudi opened #443 "Cant use getNtlmHandler with https"
### Environment
Node version: 15.14.0
Npm version: 7.7.6
OS and version: WIndows 10
azure-devops-node-api version: 10.2.2

### Issue Description
When using **getNtlmHandler** with https instance of tfs/azure-devops (on-prem) I get the following error when trying to connect:
[code]

### My Code
[code]

### Exception and Stack Trace
[code]

[2021-05-06 15:15] rfennell opened #444 "The getChangesBetweenBuilds call returns no commits if the repo host is Bitbucket - is this by design?"
### Environment
Current Azure DevOps Hosts Agents
azure-devops-node-api version: 10.2.1

### Issue Description
I am using this Node SDK to generate release notes in an [Azure DevOps pipeline task](https://marketplace.visualstudio.com/items?itemName=richardfennellBM.BM-VSTS-XplatGenerateReleaseNotes).

Via a reported issue on my task's repo, I have discovered that when a pipeline source repo is hos

[2021-05-07 13:51] EzzhevNikita commented on #442
@Phoebe-0319 How do you create a WebApi instance? I have tried the simple script with initializing of WebApi and getting getGitApi looks like it working for me.
Also as I see from your stack trace request address is not quite correct:
instead of _https://dev.azure.com/_apis/Location_  it should be _https://dev.azure.com/YourOrgName/_apis/Location_ .So I assume you need to change _defaultUrl_ when

[2021-05-17 11:29] rishab-ag22 commented on #235
Hi, in my project, there are more than 1 deployment group job configured in the pipeline. The timeout error randomly occurs in one of the deployment job (while downloading the artifacts) and other job could download the same artifacts without any issue. I am not sure what the problem here with my project. Can you please help me with that.

[2021-05-21 09:47] EzzhevNikita commented on #442
@Phoebe-0319 Is it still actuall issue for you?

[2021-05-26 06:04] EzzhevNikita commented on #442
Since there no updates for this issue for a long time, I'm closing it currently. Feel free to reopen it if the issue still actual for you.

[2021-05-26 06:04] #442 closed

[2021-05-27 07:58] christopheph opened #448 "Access Contribution/HierarchyQuery"
Hello any idea on how I can retrieve data from Contribution/HierarchyQuery?
I want to get the different groups and user assigned to a git repo from an azure devops extension. Via a postman I can get those info via _apis/Contribution/HierarchyQuery with a pat an passing something like this:

 { "contributionIds": ["ms.vss-admin-web.security-view-members-data-provider"], "dataProviderContext": { "pr

[2021-05-27 13:46] elliotleelewis commented on #341
Yep, v11 was released last week, but I've no idea what I have to change to migrate to it. 😅

Having a changelog would be incredibly valuable. @damccorm can we re-open this? 😄

[2021-05-27 17:54] anatolybolshakov commented on #341
Hi @elliotleelewis yep - let me reopen this, sounds like a great idea!

[2021-05-28 08:58] anatolybolshakov opened #450 "[Test only] Dummy issue to be closed - auto assign check"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version:

### Issue Description

###

[2021-05-28 09:00] #450 closed

[2021-05-28 09:24] anatolybolshakov opened #452 "[Test only] Auto assign check"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version:

### Issue Description

###

[2021-06-01 14:24] rzulkoski commented on #429
I'm running into this issue as well, even on 11.0.0. Did you get this resolved @ankitbko?

[2021-06-02 11:27] ankitbko commented on #429
@rzulkoski a workaround is to pass the param as `string` typecast it as `any`
`await git?.getCommitDiffs(repoId, undefined, String(diffCommonCommit) as any, undefined, undefined, base, target);`

[2021-06-02 23:47] rzulkoski commented on #429
Thanks for the tip!

[2021-06-04 08:09] rfennell commented on #444
Updated more info - we see the same issue if the repo host is GitHub i.e. getChangesBetweenBuilds(to, from) only returns expected data if the repo source for the pipeline if Azure DevOps.

Can you confirm if this is a bug or by design?

[2021-06-08 13:24] obiwan007 opened #454 "Connect to webapi failing inside docker container"
### Environment
Node version: 14, 16
Npm version: 7.14
OS and version: MacOS/Windows 10
azure-devops-node-api version: 11.0.0

### Issue Description
We create a new instance of the WebAPI and trying to connect to it.

`
const authHandler = azdev.getPersonalAccessTokenHandler(token);
const option = undefined;
const vsts: azdev.WebApi = new azdev.WebApi(serverUrl, authHandler, option);
const connDat

[2021-06-09 08:08] obiwan007 commented on #454
It seems this is caused by an docker run via --dot-env. The environment variables imported in this way are somehow differing from the ones you could set via -e. This is causing the problem to connect to Azure.

[2021-06-09 08:08] #454 closed

[2021-06-10 13:01] sommmen commented on #425
Loving how the bot just closed the issue :sigh:

[2021-07-05 14:04] m0sk1t opened #455 "Hardcoded values"
https://github.com/microsoft/azure-devops-node-api/blob/ff820b2dd0c9a09cf09e64e94d3f95818a77249d/api/CoreApi.ts#L374

[2021-07-08 11:42] eosgortor opened #456 "Error: Failed request: (401) with basic sample"
### Environment
Node version: 14.15.4
Npm version: 6.14.10
OS and version: Windows Version 10.0.18363 Build 18363
azure-devops-node-api version: 11.0.1

### Issue Description
I`m trying to run the sample below from dev environment and get an error.

### Expected behaviour
The sample I run should work. The PAT and server url are working in an RestClient like Insomnia or Postman.

### Actual behavio

[2021-07-08 12:49] anatolybolshakov commented on #456
Hi @eosgortor could you please check that PAT token is valid as not expired, and all necessary scopes are granted?

[2021-07-08 13:21] eosgortor commented on #456
The PAT is working when using it in Insomnia. So it should be ok.

[2021-07-08 13:29] anatolybolshakov commented on #456
@eosgortor which scopes do you have enabled for PAT?

[2021-07-08 13:53] eosgortor commented on #456
All scopes are enables. It has full access.

Maybe I should emphazise again: The error occures when the HTTP-OPTIONS request is sent, which has no authorization headers. Is that meant to be that way?

[2021-07-12 05:03] eosgortor commented on #456
Yes, we are using an on-prem server. The admin can configure the unauthorized options request? A quick search in www revealed nothing.

[2021-07-13 11:51] balazsorban44 commented on #456
Facing a similar issue, this might be related: https://github.com/MicrosoftDocs/azure-devops-docs/issues/11065

Using the documented scope, I could not execute a method. I had to assign a higher scope than documented.

[2021-07-13 11:56] eosgortor commented on #456
I guess that's not my problem, as I already gave full access to the token. But thanks for having a look.

[2021-07-14 15:31] max-zaytsev commented on #411
As I can see in this [sample](https://github.com/microsoft/azure-devops-node-api/blob/ff820b2dd0c9a09cf09e64e94d3f95818a77249d/samples/profile.ts#L9)

I tried running getProfileApi() without "vssps" in the serverUrl and got the same error:
_Error: Could not find information for resource area 8ccfef3d-2b87-4e99-8ccb-66e343d2daa8_

@abgopal, @viceice, @rarkins is this your case? Could you try using

[2021-07-17 21:43] jeff-simeon commented on #373
why was this closed and what is the resolution?

[2021-07-19 12:51] alexander-smolyakov commented on #456
@eosgortor is this issue still actual to you?

[2021-07-19 13:32] eosgortor commented on #456
Yes, still the same behaviour. Maybe I can provide some logs?

[2021-07-19 15:34] alexander-smolyakov commented on #456
@eosgortor, it will be great if you can share logs, you could also send them to my email: v-alsmo@microsoft.com

[2021-07-20 10:06] max-zaytsev commented on #431
Hi @johnnyreilly, most of the code here is auto-generated from API definitions, and apparently, some methods cannot be generated for nodejs due to the limitations of the generation tool.
In this case, we advise customers to hit the endpoint directly through an http call (or using the [typed-rest-client](https://github.com/microsoft/typed-rest-client))

[2021-07-20 10:06] #431 closed

[2021-07-21 07:34] max-zaytsev commented on #411
@abgopal, @viceice, @rarkins is this issue still actual for you?

[2021-07-21 08:08] rarkins commented on #411
I believe it is. Cc @JamieMagee

[2021-07-26 10:21] muiriswoulfe commented on #439
Is this something that could be considered for a future release of the API?

[2021-07-27 15:54] jhoy1020 opened #457 "What token is required by getBearerHandler?"
I have a question about authentication.  I noticed that it has getBearerHandler, what token should be passed in here?  Is this the token that we get back when we authenticate with AAD?  Is that even possible?

[2021-07-28 05:48] EzzhevNikita commented on #457
Hi @jhoy1020, _getBearerHandler_ is using PAT that you can generate on the Azure DevOps side as a token. [Here](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops&tabs=preview-page) is more information about this token.

[2021-07-28 13:31] m0sk1t commented on #411
@abgopal, @viceice, @rarkins #458 hope this PR helps us

[2021-07-28 15:37] lordlycastle commented on #441
It is not stale.

[2021-07-29 08:24] sergiusxp opened #459 "Errors when I try to call new azdev.WebApi(...)"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 12.14.1
Npm version: 6.13.4
OS and version: Win10
azure-devops-node-api version: 8.1.1

[2021-07-30 10:08] alexander-smolyakov commented on #456
@edgarrs, it seems the problem could be related to the organization URL. Could you try adding `DefaultCollection` to the organization URL (e.g. `http://(tfsserver)/DefaultCollection/`) and see if the problem still persists?

[2021-08-02 09:09] #436 closed

[2021-08-02 09:09] #430 closed

[2021-08-03 05:27] eosgortor commented on #456
That did the trick. Thank you very much.

Would be great to document this somehow.

[2021-08-03 05:27] #456 closed

[2021-08-05 08:10] max-zaytsev commented on #411
Thanks @m0sk1t, but this will not fix the initial problem.
The solution is still to use the correct URL:

[2021-08-05 15:14] pkrukp opened #460 "Question: is it possible to use credential provided by vscode extension vscode-azure-account ?"
Hi,

I would like to interact with Azure DevOps (for example download pipeline run published artifact).
I would like to do that from VSCode extension.
VSCode has [Azure Account extension](https://github.com/microsoft/vscode-azure-account) which provides Azure Sign-In functionality for VSCode.

Is it possible to use credentials provided by the Azure Account extension with this  Azure DevOps Client

[2021-08-09 05:04] #443 closed

[2021-08-09 10:03] #411 closed

[2021-08-10 08:36] EzzhevNikita commented on #457
@jhoy1020 Do you have any additional questions? Could this item be closed?

[2021-08-11 10:24] jogelin commented on #457
@EzzhevNikita

I have a question related: Is it possible to use this library by using an app registration secret instead of using a PAT ?

I am not an expert but I would like to use this client in my CI but and PAT does not seems recommended for that right ?

[2021-08-11 14:19] pkrukp commented on #460
I made some progress - I can get access token from Azure Account extension like this: https://github.com/microsoft/vscode-azure-account/issues/260

But now I need "organization url". According to https://stackoverflow.com/questions/53608013/get-all-organizations-via-rest-api-for-azure-devops I can get "public alias" from my profile and pass it to "azure accounts" api. Two issues:
1. I don't see "a

[2021-08-17 06:38] kuleshovilya commented on #459
Hello @sergiusxp . That doesn't seem to be an api or library issue. Please, check those links below for similar issues:
https://stackoverflow.com/questions/57161839/module-not-found-error-cant-resolve-fs-in
https://stackoverflow.com/questions/61936085/error-from-chokidar-c-error-ebusy-resource-busy-or-locked-lstat-c-dump

[2021-08-23 08:29] ChenLuigi opened #463 "Error when trying to call "getPersonalAccessTokenHandler()" method"
### Environment
Node version: v14.17.5
Npm version: 6.14.14
OS and version:  windows-2019
azure-devops-node-api version: 11.0.1

### Issue Description
We are using the library "azure-devops-node-api version" in our plugin to authenticate with AZDO, and we have faced an issue when we have released our latest plugin version (8.15.2021), the method "getPersonalAccessTokenHandler()" throws the followi

[2021-08-23 08:47] kuleshovilya commented on #459
Any update on the issue?

[2021-08-23 12:51] AnnaOpareva commented on #457
Hi, @jogelin, this method accepts only PATs for authorization on Azure DevOps. In your case maybe will be useful to use System.AccessToken for client authorization from ci - [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#systemaccesstoken) is more information about this env variable.

[2021-08-24 08:21] AnnaOpareva commented on #457
Hello, @jogelin @jhoy1020. Was it helpful for you? Do you have any additional questions? Could this item be closed?

[2021-08-25 06:39] kuleshovilya commented on #459
I'll close issue for now. Please, feel free to reopen it or ping me at v-ikuleshov@microsoft.com

[2021-08-25 06:39] #459 closed

[2021-08-25 10:34] pkrukp commented on #460
I was able to get a list of organizations like this (had to use a rest client):

[code]

[2021-08-25 10:46] pkrukp opened #464 "Support for cancel/abort?"
### Environment
VSCode
Version: 1.59.1 (user setup)
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:56:46.957Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.19043

azure-devops-node-api version: 11.0.1 (npm package version)

### Issue Description
Is it possible to cancel/abort ongoing call?

For example I'm doing
[cod

[2021-08-25 11:42] kuleshovilya commented on #460
Hello @pkrukp . Glad you figured it out, is that what you needed? Or is there anything else?

[2021-08-25 11:55] pkrukp commented on #460
Hi @kuleshovilya

Could you confirm that this is correct way? I mean:
- are the steps correct
- is there no "accounts" api in azure-devops-node-api

It seems to be working, but I'd be glad to have confirmation that this is recommended way (maybe I'm using some internal api that could change at any moment, or it won't for in some cases?)

[2021-08-25 12:03] kuleshovilya commented on #460
Yeah, for those purposes you'll need to use RestAPI, node API is for different purposes. There's a profile API, but that won't produce the data you need.

[2021-08-25 12:26] pkrukp commented on #460
Thanks, in that case, I'm closing this issue.

(Although, as a side note, I'd expect "accounts" to be part of this extension - it's part of DevOps REST API as far as I understand)

[2021-08-25 12:26] #460 closed

[2021-09-01 18:10] #448 closed

[2021-09-02 13:43] kuleshovilya commented on #463
Hello @ChenLuigi
That is really abastract, could you please get into more details on how it's implemented, where the error is thrown, maybe provide full error logs if possible.
You can privately reach me with the details at v-ikuleshov@microsoft.com

[2021-09-08 01:24] #429 closed

[2021-09-09 09:04] #444 closed

[2021-09-13 11:08] kuleshovilya commented on #463
Any update on the issue?

[2021-09-16 06:18] kuleshovilya commented on #463
@ChenLuigi I'll close the issue for now, due to the lack of answer. If something comes up, you can reopen the ticket or ping me at v-ikuleshov@microsoft.com

[2021-09-16 06:18] #463 closed

[2021-09-24 12:37] BenHesketh21 opened #466 "getCommitDiffs not showing changes between branches"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v14.17.5
Npm version: 6.14.14
OS and version: Debian 9.13 Stretch
azure-devops-node-api

[2021-09-29 00:57] linsword13 commented on #432
Should this be re-opened given that this is still an existing issue?

The [sample code](https://github.com/microsoft/azure-devops-node-api/blob/master/samples/buildArtifact.ts#L53) seems to indicate this is a known limitation. This is unfortunate especially since PublishBuildArtifacts ado task is considered deprecated and pipeline artifact is recommended [instead](https://docs.microsoft.com/en-us/

[2021-09-29 10:06] anatolybolshakov commented on #432
Hi @linsword13 reopening this since it's still actual.

[2021-10-16 14:18] maikelvanhaaren opened #468 "TypeError: Class extends value undefined is not a constructor or null in FileContainerApi"
### Environment
Node version: v14.18.1
Npm version: 6.14.15
OS and version: Windows 10
azure-devops-node-api version: 11.0.1

### Issue Description
Started with a fresh install of standard nuxt3 (beta) project and included the azure-devops-node-api package. Copied the first sample in my code with a correct organization URL and access token.

### Expected behaviour
Returned a valid instance of the

[2021-10-19 13:50] SimonKib opened #469 "Not able to create attachments other than .txt files"
Similar to earlier reported issue (https://github.com/microsoft/azure-devops-node-api/issues/401), but with some more detail...

### Environment
Node version: 16.3.0
Npm version: 7.15.1
OS and version: MacOS 11.6
azure-devops-node-api version: 11.0.1

### Issue Description

Uploading file using busboy to take a form uploaded file and create filestream...
[code]

...This returns an object with id a

[2021-10-21 10:24] SimonKib commented on #469
@max-zaytsev is this a bug or something you've experienced in other cases? Is there a workaround to this ?
Br, Simon

[2021-10-22 14:45] chrisfaustin opened #470 "cannot read property of"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version:

### Issue Description

###

[2021-10-22 14:46] #470 closed, assigned to nobody

[2021-10-26 19:52] LennartOlsen opened #471 "Question: Where is the approvals/checks API?"
### Environment
Node version: v14.17.4
Npm version: 6.14.14
OS and version: macos 11.6
azure-devops-node-api version: 11.0.1

### Issue Description
In order to support approving pipeline "releases" in our dashboard we would need to use for the approval API; [https://docs.microsoft.com/en-us/rest/api/azure/devops/approvalsandchecks](https://docs.microsoft.com/en-us/rest/api/azure/devops/approvalsan

[2021-10-31 12:05] #439 closed

[2021-11-02 17:13] #441 closed

[2021-11-05 14:13] czechdude commented on #173
Hello, regarding the author being reassigned, I would be very welcome, if that would be possible, because I'm migrating organisations by writing migration scripts and when I migrate Git commit comments (undocumented! but I assume same code behind) I can be the only author, in opposite the Work Item migration can be done impersonated to any author with just a string with the name of the author and

[2021-11-08 17:24] lszomoru opened #472 "Feature Request: Add "Accounts - List" to the client library"
Could you please add "[accounts list](https://docs.microsoft.com/en-us/rest/api/azure/devops/account/accounts/list?view=azure-devops-rest-6.0)" to the client library?

[2021-11-12 13:16] lordlycastle commented on #441
It is not stale.

[2021-11-18 08:28] max-zaytsev commented on #468
Hi @maikelvanhaaren,
Checked manually. Example works as expected

Take a look at [samples](https://github.com/microsoft/azure-devops-node-api/blob/master/samples/filecontainer.ts) to see how it works with FileContainerApi

[code]
Closing the issue for now.
Please reopen if you still have any questions.

[2021-11-18 08:28] #468 closed

[2021-11-23 21:06] rarkins commented on #341
Not stale

[2021-11-26 18:36] victorddiniz opened #476 "Feature request: Support API that contains flakyIdentifiers"
### Environment
Node version: v14.15.4
Npm version: 7.17.0
OS and version: Windows 10 Enterprise - 21H2
azure-devops-node-api version: 11.1.0

### Issue Description
I am interested in fetching the flaky identifiers of a test. [According to Azure DevOps Rest ](https://docs.microsoft.com/en-us/rest/api/azure/devops/testresults/result-meta-data/query?view=azure-devops-rest-6.0#testflakyidentifier)API

[2021-11-30 13:09] #464 closed

[2021-11-30 14:18] Cugtyt opened #477 "Samples: create threads when threads.length == 0"
### Issue Description
Not provided the first comment creation in samples.  threads.length > 0 is always false for a new pr.

### Expected behaviour
Provide the first comment thread creation.

[2021-12-09 08:52] AndreyIvanov42 commented on #476
"Test Results" is a deployment level API. At the moment, there are certain difficulties with providing this kind of API as part of autogenerated REST clients (this repository belongs to them). My recommendation for now would be to just create/send the requests using the typed-rest-client.

[2021-12-10 15:35] Cugtyt commented on #466
[code]

Changes refs/heads/cug/no-harm-logs refs/heads/main: 0 58b5e315a40cc1d810792c1394789239d3f37edf e042f825d0849d04fe48f2fd7b9443d44e488b77 e042f825d0849d04fe48f2fd7b9443d44e488b77

getCommitDiffs return empty changes, but there is a file change.
![image](https://user-images.githubusercontent.com/16632454/145599849-bdcfa79f-a08e-418f-8aed-66487c57a08c.png)

[2021-12-13 10:33] #476 closed

[2021-12-16 18:50] yonail opened #478 "Missing Api in ITestApi"
### Environment
Node version: 16
Npm version: 8
azure-devops-node-api version: 11.1.0

### Issue Description

Hello,

ITestApi is missing some Apis like: Get Test Suites For Plan (cf. doc here https://docs.microsoft.com/en-us/rest/api/azure/devops/testplan/test-suites/get-test-suites-for-plan)

What would be the proper way to extend your library and add these missing methods?

Thanks!
Yoni

[2021-12-28 12:10] kiermasp commented on #432
Still actual

[2022-01-12 10:51] Dobby007 commented on #436
The issue is still relevant. There is a discussion that is relevant to this: https://github.com/electron/electron/issues/2288

[The latest recommendation](https://github.com/electron/electron/issues/2288#issuecomment-611231970) up there is to use `process.versions.hasOwnProperty('electron')` in the main process. That's probably what should be done because `navigator.userAgent` is defined in the re

[2022-01-13 12:10] elliot-nelson opened #479 "Interacting with @azure/identity"
### Environment
Node version: 12 & 14
Npm version: 0.35
OS and version: MacOS 10.15 Catalina
azure-devops-node-api version: 11.1.0

### Issue Description
Locally, we have a CLI tool we've developed using `azure-devops-node-api`, and the way I get the personal access token for the developer is to call `az account get-access-token` behind the scenes, and that works great.

However, I'd like to widen

[2022-01-14 11:39] anatolybolshakov commented on #479
@elliot-nelson we are currently working on more prioritized tickets - will get back shortly once we'll have capacity.

[2022-01-14 15:54] szwalkowski opened #480 "Rate limits from Azure DevOps"
Does this library anyhow support rate limiting?
https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/rate-limits?view=azure-devops
Can't find anything in docs, nor in code unfortunately.

[2022-01-14 16:14] anatolybolshakov commented on #480
Hi @szwalkowski there is no support for proactive Rate limits check as described in [docs](https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/rate-limits?view=azure-devops#api-client-experience) at the moment.

[2022-01-16 11:53] szwalkowski commented on #480
@anatolybolshakov got it, thanks!

[2022-01-21 17:28] SimonKib commented on #469
Is this repo maintained anymore?

[2022-01-24 13:57] tatyana-kostromskaya commented on #469
Hi @SimonKib, I tried this api function on local files with different formats and it worked fine.
For example:
[code]

There is no way to tell createAttachment() what format the readableStream is, but it should work fine with any format.

Could you please check that you correctly get file content?

[2022-01-25 07:06] #471 closed

[2022-01-25 12:01] recs182 opened #482 "Question about external authentication"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 16.13.1
Npm version: 8.1.2
OS and version: Windows 10
azure-devops-node-api version:

#

[2022-02-01 09:48] tatyana-kostromskaya commented on #482
Hi @recs182 , as far as I know there is no way to make external authentication for this library.
But still you can use different authentication methods to get tokens outside and pass them to the app.

[2022-02-01 13:13] lszomoru opened #483 "Feature Request: Add "Code Search" to the client library"
Could you please add "[code search](https://docs.microsoft.com/en-us/rest/api/azure/devops/search/code-search-results/fetch-code-search-results?view=azure-devops-rest-7.1)" to the client library?

[2022-02-01 13:29] EzzhevNikita commented on #483
@lszomoru Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-04 20:14] recs182 commented on #482
Thank you

[2022-02-04 20:14] #482 closed

[2022-02-07 09:19] mmajcica opened #484 "Pagination not working on Node 14.x or 16.x"
### Environment
Node version: v16.13.1
Npm version: 8.1.2
OS and version: Windows 10 1909
azure-devops-node-api version: 11.1.0

### Issue Description
Pagination calls do fail if the code is running on Node 16.x or 14.x.

### Expected behavior
[code]

Expected to have 100 elements in the projects variable and 15 in the projects2 variable.

### Actual behavior
The first call is done right, we do ge

[2022-02-07 10:17] denis-tikhomirov commented on #484
@mmajcica, Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-07 14:36] mmajcica commented on #484
I found the culprit. It has to do with a typo inside the NO_PROXY env var used. Though this solves the issue, I would expect that such a typo would not cause such wired issues. This should be investigated, however not by you, but with nodejs community.

[2022-02-07 14:36] #484 closed

[2022-02-09 14:05] sunilsurana commented on #425
@rfennell got any clue how to handle this? We also facing the same

[2022-02-09 16:17] Banner-Keith opened #485 "Add Support for Packaging Apis"
I recently needed to use the packaging apis (https://docs.microsoft.com/en-us/rest/api/azure/devops/artifacts/artifact-details/get-packages?view=azure-devops-rest-7.1)

I noticed that there is currently not support for that in this library. I instantiated the credential managers manually, and a RestClient and it works just fine.

I was thinking I could open a PR with these apis, but I see that tho

[2022-02-09 18:11] rfennell commented on #425
Sorry no, never got a solution

[2022-02-11 07:54] denis-tikhomirov commented on #485
@Banner-Keith, thanks for the feedback-providing in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-11 08:32] Banner-Keith commented on #485
@denis-tikhomirov  thank you for taking the time to triage this. Totally understand the priority and capacity issue. My original intent was to contribute this following your guidelines rather than giving you a to-do. But that was before I realized it was automated. Let me know if there's anything I can do to help out.

[2022-02-13 19:05] #472 closed

[2022-02-16 14:26] mh-at-fujitsu opened #487 "TestRun Filter isAutoamted does not work"
### Environment
Node version: 14.17.5
Npm version: 6.14.14
OS and version: On Azur DevOps Server running
azure-devops-node-api version: 11.1.0

### Issue Description
I tried to get the list of all test runs, which executed non automated tests. Therefore I call the function like this:

[code]

### Expected behaviour
I expect to get a list of TestRuns, which are all manual tests (e.g. property autom

[2022-02-17 06:55] ASaiAnudeep opened #489 "Get build failure reasons"
I'm trying to get build failure reasons that are usually displayed in the build summary page - `https://dev.azure.com/{org}/{project}/_build/results?buildId={id}&view=results`

I found out that **getBuildReport** method will provide the build errors and warnings. But the default type of the content is HTML which is not friendly for a node.js app. I need it in a JSON format. From the [docs](https:/

[2022-02-17 12:36] golubev-ivan commented on #489
Hi @ASaiAnudeep, I investigated your issue. The response type of this query is JSON, but it contains HTML data. As far as I see, there is no way to required data in just JSON form. If it required option for you, please submit an issue in Microsoft Developer Community to have the right eyes on this request, since it is required changes in Azure DevOps API to support such behavior.

[2022-02-17 16:19] #487 closed

[2022-02-17 20:45] sbandarupalli92 commented on #444
Trying to get this work with GIT (Source - Bit bucket) and pipelines in ADO (in releases)

Its failing to get commits - is there any update on this issue ?

Using https://api.bitbucket.org/2.0/repositories/xxx-xxx/xxx-xxx/commit/70904e891c8d01xxxc7421d0694f0bfxxxx
No Bitbucket user and app secret passed so cannot access private Bitbucket repos

Is there a way to bit bucket credentials or access to

[2022-02-17 20:49] rfennell commented on #444
My understanding is the  `GetChangesNetween...` methods only support Git repos hosted in Azure DevOps

[2022-02-17 20:52] sbandarupalli92 commented on #444
Got it - so for now if the repos are hosted in Bit bucket - it won't work, thanks a lot for the quick response. Are there any alternatives that you can recommend to accomplish - automated release notes generation. Thanks again @rfennell

[2022-02-17 21:07] rfennell commented on #444
Sorry I know of no other tools, other than the [automated release notes generated by GitHub](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes), but that is no help if you are in BitBucket

[2022-02-17 21:09] sbandarupalli92 commented on #444
No worries, thank you :) !!

[2022-02-18 07:12] golubev-ivan commented on #489
@ASaiAnudeep Do you have any additional questions regarding azure-devops-node-api itself?

[2022-02-18 07:16] ASaiAnudeep commented on #489
Nope. Thanks for the quick help. If you find a better API/method to get the build failure reasons, please update this thread.

[2022-02-22 11:23] tatyana-kostromskaya commented on #469
Closing this ticket due to inactivity.

[2022-02-22 11:23] #469 closed

[2022-02-26 20:54] kapopken opened #490 "Add support for Wiki's"
### Issue Description
There are many API's for the wiki that would be amazing to have such as
1. Create Page
2. Update Page

Use case is, I want to auto create wiki pages for our release notes that combine all the release notes from all our microservices.

[2022-02-28 06:00] DaniilShmelev commented on #490
@kapopken thanks, we've added this feature request to our backlog. We'll take a look at it once we have enough capacity.

[2022-02-28 10:30] NoamTD opened #491 "Feature Request: add support for git policy configurations api"
Can you add support for [git policy-configurations](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/policy-configurations/list?view=azure-devops-rest-5.0)?

[2022-02-28 12:15] alexander-smolyakov commented on #491
@NoamTD thanks for your request, we've added this feature request to our backlog. We'll take a look at it once we have enough capacity.

[2022-03-01 04:58] jmeaster30 commented on #424
This issue is still happening with azure-devops-node-api version 11.1.1 and variable group api version 6.1-preview.2.

Is there a solution to this issue?

[2022-03-07 16:10] #477 closed

[2022-03-13 16:04] Everspace opened #492 "Improve developer UX on IBuildApi and BuildInterfaces"
### Environment
azure-devops-node-api version: 11.1.1

### Issue Description
Using some functions like `IBuildApi.getBuilds()` is prone to issues due to the way it's generated making a very long signature. If you want to get every build out of a project since `minTime`, you have to remember that you're needing to call `getBuilds(project, undefined, undefined, minTime)`, maxTime? it's 3. This becom

[2022-03-16 07:00] tatyana-kostromskaya commented on #492
Hi @Everspace , the signature of the method fully complies with the request through Rest API [Builds - List](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/list?view=azure-devops-rest-6.0).
We can not change the way how it is generated, so we can not change the signature.

And as far as I can see list of properties in the interface and API documentation fully match. And proper

[2022-03-16 08:52] Everspace commented on #492
Then those should `extend Partial<Build>` or `IBuild` is the interface and
then `Build` is the actual return type which is a more definite, and not
have the base be that way.

The reason I say it doesn't match is because something like `getBuild()`
returns a `Build` where the id is possibly absent. All builds returned from
`getbuilds` have the property of `id`. `id` is never undefined. In code
thi

[2022-03-18 20:30] bworline commented on #395
How are you supposed to get a continuation token out of an azure-devops-node-api API method to pass back in to the same API method?  Many methods imply that a token is returned but I don't see how.  Example:  The comments for getBuilds() say,
`@param {string} continuationToken - A continuation token, returned by a previous call to this method, that can be used to return the next set of builds.`

[2022-03-18 20:57] bworline opened #493 "Continuation token functionality is unusable"
### Environment

Node version: 14.17.6
Npm version: 6.14.15
OS and version: WIn10 21H2
azure-devops-node-api version: 11.1.1

### Issue Description

How does one get a continuation token out of an azure-devops-node-api API method to pass back into the same API method?  Many methods imply that a token is returned but I don't see how.

Example:  The comments for getBuilds() say,
`@param {string} con

[2022-03-23 17:16] tatyana-kostromskaya commented on #492
@Everspace, could you please post your question on https://developercommunity.visualstudio.com/search?space=21?
It would help to engage owners of all related areas to solve it.

[2022-03-24 07:24] max-zaytsev commented on #493
Hi @bworline, Thanks for reporting this. Most of the code here is auto-generated from the server-side controllers.
In this case it might be worth hitting the endpoint directly through an http call (or using the typed-rest-client).

[2022-03-24 08:06] #478 closed

[2022-03-27 19:20] Everspace commented on #492
https://developercommunity.visualstudio.com/t/Improve-UX-for-Nodejs-SDK/1703783?space=21

I have added the feedback to the link requested.

[2022-03-30 11:52] miromaksim opened #495 "Impossible to get ConnectionData if the organization name contains a hyphen"
### Environment
Node version:  16.14.2
Npm version:  8.0.0
OS and version: MacOS 12.0.1 (21A559)
azure-devops-node-api version: 11.1.1

### Issue Description
It is impossible to get ConnectionData if the organization name contains a hyphen
Code example: https://codesandbox.io/s/azure-devops-node-api-hyphen-issue-b4qc4i

### Expected behaviour
ConnectionData object should be returned

### Actual be

[2022-03-31 10:16] tatyana-kostromskaya commented on #492
I will close this issue, as now we have ticket on dev community and status will be written there

[2022-03-31 10:16] #492 closed

[2022-03-31 16:55] JackRhodes opened #496 "GetPullRequestById is not returning workItemRef's on a PR that has work items"
### Environment
Node version: 17.5.0
Npm version: 8,4,1
OS and version: ArcoLinux with 5.16.16-arch1-1 kernel
azure-devops-node-api version:    "azure-devops-node-api": "11.1.1",

### Issue Description

I have a Pull Request, it has the following work item

![image](https://user-images.githubusercontent.com/23398170/161104946-abf9286c-d14b-4113-b8a1-8b91e94970bd.png)

### Expected behaviour

I am

[2022-04-04 07:14] max-zaytsev commented on #493
Close this for now. Please reopen if you still have any questions

[2022-04-04 09:16] #493 closed

[2022-04-04 12:16] anatolybolshakov commented on #495
Hi @miromaksim thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one once be able to.

[2022-04-04 12:19] anatolybolshakov commented on #496
Hi @JackRhodes thanks for reporting, we are currently working on more prioritized issues, but will get back to this one once be able to.

[2022-04-04 15:17] anatolybolshakov commented on #495
@miromaksim btw just wanted to warn also - please avoid publishing of sensitive data like PATs in pubic sources (like https://codesandbox.io) - this could be insecure for your devops organization.

[2022-04-04 17:28] anatolybolshakov commented on #495
@miromaksim seems like there is some issue with Azure DevOps api and org names containing hyphens - I managed to reproduce it even without node-api library... You can check it with simple get request to 'https://dev.azure.com/<orgname>/_apis/connectionData' (with http header 'Authorization: Bearer <PAT>' to authorize).
I would suggest to open a ticket on https://developercommunity.visualstudio.com

[2022-04-05 11:52] miromaksim commented on #495
https://developercommunity.visualstudio.com/t/Some-issue-with-Azure-DevOps-API-and-org/10005143?space=21&q=https%3A%2F%2Fdev.azure.com%2Fmy-test-org-with-hyphen%2F_apis%2FconnectionData&entry=problem

[2022-04-05 11:52] #495 closed

[2022-04-05 14:12] eduherminio opened #497 "Updating pull request threads and comments"
### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version:

### Issue Description

First of all, apologies since I'm fully aware this is not the right place to post this issue.
But hopefully someone can guide me about where to post it and/or if it's likely to be an API issue or a misuse of the client.

While being authenticated using a PAT token I'm trying to update

[2022-04-05 17:01] eduherminio commented on #497
Thanks, asked it [there](https://developercommunity.visualstudio.com/t/Updating-AzureDevOps-Pull-Request-Thread/10005281).

[2022-04-05 17:01] #497 closed

[2022-04-06 04:14] wutthichai46 opened #498 "แก้ไข"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version:
Npm version:
OS and version:
azure-devops-node-api version:

### Issue Description

###

[2022-04-06 15:02] anatolybolshakov commented on #498
Hi @wutthichai46 could you please share more details about your issue?

[2022-04-07 08:12] Pieras2 opened #499 "How report a testCaseResult and see all the test case details, how to match reported testCaseId with existing test case"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 16.14.1
Npm version: 6.14.13
OS and version: Windows 10
azure-devops-node-api version:

[2022-04-07 10:30] anatolybolshakov commented on #499
Hi @Pieras2 could you please try to pass test name as 'testCaseTitle' field of 'TestCaseResult' object instead?
For comment field - not really sure why it's not being displayed in view, and how to make it visible (if it's even possible at the moment) - I would suggest to ask in https://developercommunity.visualstudio.com/search?space=21 about it

[2022-04-08 06:29] Pieras2 commented on #499
I will try and give feedback

[2022-04-08 12:07] Pieras2 commented on #499
testCaseTitle - didn't help. I will ask the community as you said, thanks for a try.

[2022-04-09 17:24] arturbosch commented on #432
Still actual

[2022-04-09 23:52] linsword13 commented on #432
I currently use something like the following as a workaround:

[code]

[2022-04-11 06:08] Pieras2 commented on #499
I reported it to ms community. For me it doesn't work, even if I try though curl based on their API definition.
Their description of api is terrible. Somwhat everything described but no info about which is mandatory/optional requests order etc :( I will have to try look into webinspector how the requests are sent

[2022-04-13 05:52] AndreyIvanov42 commented on #498
А ticket looks like spam

[2022-04-13 05:52] #498 closed

[2022-04-14 10:50] arturbosch commented on #432
Thanks for the workaround!
Can confirm that it works.

[2022-04-16 09:17] Ric43 commented on #424
16 April 2022 - still an issue using API version 6.0-preview.2 (or just 6.0 for that matter)

Error message:
    "message": "Project information name is not valid for variable group.",
    "typeName": "System.ArgumentException, mscorlib",
    "typeKey": "ArgumentException",
    "errorCode": 0,
    "eventId": 0

Using api version 5.1-preview.1 works.

[2022-04-21 13:19] #479 closed

[2022-04-23 12:09] #480 closed

[2022-04-26 15:10] #341 closed

[2022-05-09 15:05] #483 closed

[2022-05-12 14:26] Banner-Keith commented on #485
Not stale

[2022-05-12 15:52] Kozlov-Igor commented on #496
Hi @JackRhodes! These API clients are autogenerated and this issue looks related to the Azure DevOps itself. Could you please open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get the right eyes on it?

As a workaround, you could use the getPullRequestWorkItemRefs method to get work items refs. If you do not have the "repositoryId" you can get it by calling the "getPu

[2022-05-12 15:57] JackRhodes commented on #496
Thanks @Kozlov-Igor , I will close this and will create a ticket there!

Thanks for the suggested workaround!

[2022-05-12 15:57] #496 closed

[2022-05-19 07:00] Kprachwani opened #500 "ITestInterface to add update test fields"
Question : can we have a new method which supports updating fields of a testcase.

Requirement :
we are working on typescript based testcases where we wanted to use azure-devops-node-api to update automated test name and automation status fields based on passed testcase ID.

It will add support for maintaining testcases which are automated using Cypress, Typescript for angular web forms.

Could yo

[2022-05-30 21:18] psyvision opened #501 "setBoardOptions has no effect due to options being passed incorrectly"
### Environment
Node version: 16.3.2
Npm version: 8.3.2
OS and version: Windows 10 x64
azure-devops-node-api version: 11.1.1

### Issue Description
`setBoardOptions` has no effect when called with valid options

### Expected behaviour
When calling `setBoardOptions` to update `cardReordering` the card order should be reflected in the response.

Request:

[code]

Response:

[code]

### Actual behavi

[2022-05-31 20:27] #501 closed

[2022-06-01 13:20] NoamTD commented on #491
@alexander-smolyakov are there any updates?

[2022-06-05 06:07] #490 closed

[2022-06-16 13:35] XVincentX opened #502 "Git PullRequest model has `workitemRef`, but the API does not return it"
According to the [official documentation](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/source-providers/get-pull-request?view=azure-devops-rest-6.0) the Pull Request endpoint does *not* return any `workitemRef`, while this SDK defines the field anyway.

https://github.com/microsoft/azure-devops-node-api/blob/e3daeea0d23b9d011a88b120e53eb4f8aa475542/api/interfaces/GitInterfaces.ts#L

[2022-06-16 22:38] vmapetr commented on #502
Hi @XVincentX thanks for reporting! We are currently working on more prioritized issues but will get back to this one once be able to.

[2022-06-16 22:59] XVincentX commented on #502
@vmapetr I would like to get in touch about this if possible. I work in Microsoft and I have been using this SDK for a couple of days now and I think there are some areas that could really use some improvements and make the experience better.

What is the best way to get in touch with you?

[2022-06-21 11:33] carneirofc opened #504 "Named parameters and/or interfaces for parameters"
Some methods can accept quite a large amount of optional parameters and most cases the consumer would only require a few of them.
As it stands, the user experience when using the api is not that great and error prone.

Would a PR that includes new interfaces or methods be accepted?

The other option would be the api consumer to write a wrapper around the package, but I dont think it would scale ve

[2022-06-21 17:48] nalloyd2 opened #505 "NULL response from 'createWorkItem' method"
### Environment
Node version: 16.14
Npm version:  8.2.1
OS and version: Mac OS
azure-devops-node-api version: 11.1.1

### Issue Description
When attempting to create a new work item, I receive a NULL response.

### Expected behaviour
Response would include the new work item data OR some exception would be caught and logged.

### Actual behaviour
NULL response is returned and no exception is caught

[2022-06-22 09:42] SvetlanaMaliugina commented on #502
Hi @XVincentX , most of the code here is auto-generated from API definitions, and apparently, some methods cannot be generated for nodejs due to the limitations of the generation tool.
Could you please post your question on https://developercommunity.visualstudio.com/search?space=21? It would help to engage owners of all related areas to solve it.

[2022-06-22 11:54] johnnyreilly commented on #502
I have half an idea it uses https://restsharp.dev/

[2022-06-22 11:58] XVincentX commented on #502
This is a Node SDK, not too sure how it applies to the node sdk

[2022-06-22 12:04] johnnyreilly commented on #502
Yeah - I stand corrected - was thinking of something else

[2022-06-23 09:00] SvetlanaMaliugina commented on #504
Hi @carneirofc, thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-06-30 08:20] microsoft-github-policy-service[bot] opened #508 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-07-06 09:16] yiruiHH commented on #362
Also I found that getBlobsZip function does not send the blobIds as the body

[2022-07-12 08:19] Pieras2 commented on #499
For us reporting test result via Azure DevOps doesn't work. Even my developer friend didn't succeeded. The API used by Azure DevOps is different than documented and we were not able to create a test result with displayed title etc.

I skipped it.

[2022-07-12 08:19] #499 closed

[2022-07-21 11:12] kriti218 opened #510 "gettasks api call doesnt return tasks of all the phases snapshots"
### Environment
Node version: 12
Npm version:
OS and version: windows
azure-devops-node-api version: 10.2.2

### Issue Description
We have release pipelines which have multiple phases (including agent and agentless jobs). We are using getTasks() api call to get tasks for the release and environment but it seems it gets tasks for only the first agent job and doesnt get all tasks for all the agent j

[2022-07-22 07:54] DenisRumyantsev commented on #510
Hi, @kriti218, thanks for reporting this issue. We will take a look at it when we finish working on more prioritized issues.

[2022-07-22 08:07] kriti218 commented on #510
Hi @DenisRumyantsev, Is there any ETA on this? I am blocked because of this issue as gettasks doesnt give tasks for all the agent jobs and only for one. Early help is really appreciated!

[2022-07-28 13:38] BenHesketh21 commented on #466
This is still broken, I have fixed it. Please can it be reviewed and merged!

[2022-08-02 19:55] cjsio commented on #300
Thank you for this annotated screenshot showing that these permissions are disjointed from `General -> Permissions` inside of `Repos`. It is worth noting that as of the time of writing, Azure has renamed the `Permissions` tab to `Security` in the `Repositories` section.

[2022-08-03 01:17] joshjohanning commented on #406
Yeah, how does one retrieve the GUID part of the URL? `4786ace5-7ca1-4bdc-a4c3-1b38ed994b05`

From:
https://developercommunity.visualstudio.com/t/artifact-uri-format-in-external-link-of-work-items/964448

[2022-08-03 04:05] joshjohanning commented on #406
I couldn't really figure out how to formulate my own API request in Postman (and getting the body right), but I did find a javascript example that I modified: https://github.com/joshjohanning/azdo_commit_message_validator/blob/main/main.js#L85:L109

[2022-08-04 16:13] JamesBurnside opened #512 "After triggering a build - can we detect when the build finishes?"
This is likely a feature request - is there a way to know when a build finishes?

e.g.
[code]

[2022-08-04 16:38] LiliaSabitova commented on #512
@JamesBurnside thanks for your request, we've added this feature request to our backlog. We'll take a look at it once we have enough capacity.

[2022-08-10 20:03] Banner-Keith commented on #485
Still wanted.

[2022-08-16 17:10] xiphoid24 opened #514 "getCommits API call returns extra commits when providing the searchCriteria an array of ids"
### Environment

Node version: 16.17.0
Npm version: 8.15.0
OS and version: Windows 10
azure-devops-node-api version: 11.2.0

### Issue Description
We are using the API to get a set of commits. The `getCommits` method accepts a `searchCriteria` object which has an `ids` field. The `ids` field is a sting array of commit ids. When using this method, several commits are returned not just the commits r

[2022-08-17 20:34] VincentDondain opened #515 "`getBuildChanges` doesn't list multiple builds"
### Environment
Node version: v16.14.2
Npm version: 8.5.0
OS and version: GH Codespaces
azure-devops-node-api version: ^11.2.0

### Issue Description
It appears that `getBuildChanges` doesn't list more than one build if a pipeline has multiple resources.

E.g:

<img width="643" alt="Screen Shot 2022-08-17 at 4 24 21 PM" src="https://user-images.githubusercontent.com/7839202/185236602-6bac8236-f734

[2022-08-17 20:44] VincentDondain commented on #515
Potentially the problem is more that an entire API is missing where we cannot query a build's "resources", a.k.a input pipelines. You just get information about the build's repo, a.k.a "self"

[2022-08-18 07:04] kirill-ivlev commented on #514
Hi @gregpechiro!

Thank you for your request, please feel free to create PR to the parent repo, we will test & review it, once we will have capacity.

[2022-08-18 11:35] gregpechiro commented on #514
Hey @kirill-ivlev,
Thanks for taking a look. Here is a link to the [PR](https://github.com/microsoft/azure-devops-node-api/pull/516).

[2022-08-18 18:01] VincentDondain commented on #515
I also tried to get information about my resources via: https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/runs/get?view=azure-devops-rest-7.1 which didn't work and https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/artifacts/get?view=azure-devops-rest-7.1 which didn't work either. I feel like these APIs should list all the resources for a given pipeline.

[2022-08-19 11:46] kirill-ivlev commented on #515
@VincentDondain
Thank you for reporting this, we will check it once we will have capacity

[2022-08-24 16:05] #500 closed

[2022-08-31 10:24] stiasta opened #517 "Help with finding changes for a deployment in an environment (pipelines)"
Hi!
This is not really a bug or a feature request. I am looking for help to find data that I can find in Azure Devops UI.

Where can I find this list?
![image](https://user-images.githubusercontent.com/3349175/187656935-ea147c4c-c10c-4f36-b7fd-3c53e6de61d9.png)

It can be found under:
pipelines > environments > [select environment] > deployments > [select deployment] > changes

The url looks like

[2022-08-31 14:25] DmitriiBobreshev commented on #517
Hi @stiasta, unfortunately, probably, [API version 7.1](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-7.1) doesn't have a method for it, you can try to get this info through [a build request](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/get-changes-between-builds?view=azure-devops-rest-7.1) via [getBuildChanges](https://github.com/microsoft/a

[2022-09-02 12:28] NickMcBurney opened #518 "Git - getPullRequests() not returning 'closedBy' property"
### Environment
Node version:  14.20.0
Npm version:  6.14.15
OS and version: Windows 10
azure-devops-node-api version: 11.2.0

### Issue Description
I'm calling API to get completed pull requests using call:
`const completedPullRequests: GitInterfaces.GitPullRequest[] = await gitApiObject.getPullRequests(MY_REPO_URL, { status: 3 );`

With this I get a list of completed pull requests as expected bu

[2022-09-05 16:53] dtrts opened #519 "Add support for `pipelines` API"
Hello,

I was recently developing a tool to kick off builds in ADO and eventually ran into some limitations with the `BuildApi`. It appears the needs I have would be covered by the similar `pipelines` endpoints:

https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/

If possible can these be added to the set of generated APIs?

Thanks for your time,
Douglas

[2022-09-06 16:05] #491 closed

[2022-09-07 07:01] KonstantinTyukalov commented on #518
Hi @NickMcBurney thank you for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon

[2022-09-08 20:38] KonstantinTyukalov commented on #519
Hi @dtrts thanks for the suggestion!
We've added this request to our backlog and will consider this approach once we've dealt with higher priority tickets

[2022-09-12 12:20] jamiehaywood commented on #504
hi @SvetlanaMaliugina any movement on this?

An example of @johnnyreilly's problem that I'm facing:
[code]
which is awful for code readability.

[2022-09-21 12:11] midmarch commented on #412
I am not sure how we can contribute to the project as the API is generated from a source which seems to not documented as part of this project.

I believe the issue is that essentially the [**Test Plans** API of the Azure DevOps Services REST API](https://learn.microsoft.com/en-us/rest/api/azure/devops/testplan/test-plans) is not generated.

As a dirty workaround, to retrieve test suites a test pl

[2022-09-29 10:56] adumitreseibogdan commented on #424
Why was this issue closed ? Can it be reopened, because this issue still occurs.

Using api version 5.1-preview.1 works.

Using api version 6.0-preview.2  or 6.0 doesn't.

[2022-09-30 10:37] SorsOps opened #521 "getPagesBatch - paginated data"
### Environment
Node version: v14.19.1
Npm version:  7.15.1
OS and version: Windows 21H2 OS Build 19044.2006
azure-devops-node-api version:

### Issue Description
`WikiApi` exposes a method called `getPagesBatch`.  The first parameter is `pagesBatchRequest: WikiInterfaces.WikiPagesBatchRequest` which has a property called `continuationToken` intended for paginated data when the number of pages exc

[2022-10-18 13:23] KprachwaniTR commented on #500
@alexander-smolyakov  Hello, Good day!
could you please provide an update on when team will be adding this enhancement?

Thanks much
Kanchan

[2022-10-26 21:39] 50Wliu opened #522 "Expose Accounts API"
### Environment
azure-devops-node-api version: 11.2.0

### Issue Description
The Accounts API (https://learn.microsoft.com/en-us/rest/api/azure/devops/account/accounts/list#account) is not exposed by this package, even though it's public and documented.

### Expected behaviour
I should be able to call Account APIs.

### Actual behaviour
Account APIs are not accessible via this package.

### Steps

[2022-10-27 09:17] Roman-Shchukin commented on #522
Hi @50Wliu thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-10-27 10:05] #510 closed

[2022-10-30 11:51] iivmok commented on #502
This is still an issue.

I'm using the latest version of [Microsoft.TeamFoundationServer.Client (19.212.0-preview)](https://www.nuget.org/packages/Microsoft.TeamFoundationServer.Client/19.212.0-preview), but the client just calls the REST API.

[`GetPullRequestsAsync()`](https://learn.microsoft.com/en-us/dotnet/api/microsoft.teamfoundation.sourcecontrol.webapi.githttpclientbase.getpullrequestsasyn

[2022-11-03 18:35] PavanMudigondaTR opened #523 "Getting error while running samples"
### Environment
Node version: 18.10
Npm version: 18.10
OS and version: MAC OS
azure-devops-node-api version:

### Issue Description
Getting error while runner samples

<img width="1400" alt="image" src="https://user-images.githubusercontent.com/86745613/199805949-a608060d-59b8-4924-9e9e-05a687f483cd.png">

### Expected behaviour
samples should work

### Actual behaviour

### Steps to reproduce
1.

[2022-11-08 17:25] KanchanPrachwaniTR opened #524 "ITestInterface to add method to update test fields for automation method association"
Similar issue opened previously : https://github.com/microsoft/azure-devops-node-api/issues/500
Question : can we have a new method which supports updating fields of a testcase.

Requirement :
we are working on typescript based testcases where we wanted to use azure-devops-node-api to update automated test name and automation status fields based on passed testcase ID.

It will add support for main

[2022-11-09 15:27] DmitriiBobreshev commented on #524
Hi @KprachwaniTR, thanks for reporting, as I can see, the current ms API contains only the delete method for testcases in [the Test](https://learn.microsoft.com/en-us/rest/api/azure/devops/test/test-cases/delete?view=azure-devops-rest-7.1&tabs=HTTP) and [the TestPlan](https://learn.microsoft.com/en-us/rest/api/azure/devops/testplan/test-cases/delete?view=azure-devops-rest-7.1&tabs=HTTP) routes, un

[2022-11-09 18:05] #512 closed

[2022-11-10 14:14] RLRabinowitz opened #525 "`getProfile` return type is missing fields"
### Environment
Node version: 14.17.0
Pnpm version: 6.35.0
OS and version: MacOS 10.15.7
azure-devops-node-api version: 11.2.0

### Issue Description
Profile API's `getProfile` (and other APIs)'s return types don't match the actual return type.

For example, when fetching a profile, the profile contains a `publicAlias`, but it's missing from the return type of `getProfile`
[Get Profile API referen

[2022-11-10 14:27] DmitriiBobreshev commented on #525
Hi @RLRabinowitz, thank's for reporting us, Interface files are generated, when they were generated probably `publicAlias` and some other fields weren't exist. We'll try to fix the issue once we will have enough capacity

[2022-11-15 09:34] DmitriiBobreshev commented on #523
Hi @PavanMudigondaTR, did you manage to resolve your issue?

[2022-11-15 18:30] GravlLift commented on #514
Just ran into this issue myself. @kirill-ivlev, @gregpechiro's PR is a single line change and it's been open for 3 months, what's the holdup?

[2022-11-15 21:05] #485 closed

[2022-11-18 12:54] DmitriiBobreshev commented on #523
Hi @PavanMudigondaTR. i'm closing the issue, please feel free to reopen it in case you need help

[2022-11-18 12:54] #523 closed

[2022-11-20 15:55] Wassap124 opened #526 "Subscription Creation Doesn't Work - `Error: Unable to find FilterMatcher for matcher Microsoft.VisualStudio.Services.Notifications.WebApi.UnsupportedFilter`"
### Environment
Node version: `v16.15.0`
Npm version: `8.5.5`
OS and version: `MacOS Monterey 12.3.1`
azure-devops-node-api version: `11.2.0`

### Issue Description
Im trying to create simple subscriptions using the `NotificationApi`.

Im using [this documentation](https://learn.microsoft.com/en-us/azure/devops/service-hooks/events?view=azure-devops#git.push) as a source for eventTypes.
### Expect

[2022-11-21 18:40] vmapetr commented on #526
Hi @Wassap124, thanks for your report!
We've added this issue to our backlog. We'll take a look at it once we have enough capacity.

[2022-11-22 11:36] Wassap124 opened #527 "Expose Hooks API"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
azure-devops-node-api version: 11.2.0

### Issue Description
Very similar to https://github.com/micro

[2022-11-23 09:36] vmapetr commented on #527
Hi @Wassap124, thanks for reporting! We are working on more prioritized issues at the moment but will get back to this one soon.

[2022-11-23 20:04] johnnyreilly opened #528 "Please could 415 be reopened? - it's not fixed"
https://github.com/microsoft/azure-devops-node-api/issues/415

Thanks!

[2022-11-23 20:09] johnnyreilly commented on #415
Please could this issue be opened?  It hasn't been resolved.  [I've written a blog post which documents a workaround](https://blog.johnnyreilly.com/2020/10/31/azure-devops-node-api-git-api-getrefs-wiki-api#handrolled-git-api) for anyone else who is struggling with this.

[2022-11-23 20:14] vmapetr commented on #528
Hi @johnnyreilly, thank you for the report. We'll take a look at this when we have the capacity.

[2022-11-25 13:56] KprachwaniTR commented on #524
Hello @DmitriiBobreshev , good day!

I have added a feature request for the same on dev community, link for reference : https://developercommunity.visualstudio.com/t/Include-API-route-to-update-automation-a/10211939

Thanks,
Kanchan

[2022-11-25 22:48] vmapetr commented on #528
@johnnyreilly - sure. I reopen the previous ticket and gonna close this one.

[2022-11-25 22:48] #528 closed

[2022-11-30 11:39] ac-apple-account commented on #341
Not stale

[2022-11-30 11:45] dragan-novakovic commented on #341
Not Stale