[2015-10-22 19:01] ryanmolden opened #16 "Uses blacklisted node module (gulp-tsc)"
You are using gulp-tsc, which is actually blacklisted by the gulp folks

https://github.com/kant2002/gulp-tsc/issues/8

I tried to build this repo but it gloms onto the globally installed Typescript that comes with VS, which is sadly 1.0 on my machine.

You should use gulp-typescript instead as it uses the official MS (typescript based) typescript compiler.

Sending a PR.

[2015-10-23 20:02] ryanmolden opened #18 "Latest version on NPM (0.4.2) pushes empty VsoBaseInterfaces.js file"
The file is empty other than a comment header and a single semi-colon. Looking at the TS online it definitely should not be empty.

[2015-10-23 20:47] #18 closed

[2015-10-23 20:47] ryanmolden commented on #18
Nevermind, looks like it is just definitions that would end up in the d.ts file, sorry :)

[2015-10-30 08:38] DustinVenegas opened #21 "Tests or Examples - Documentation"
Are there any examples or tests available for this project?

It's very straightforward so far, but `getPullRequestsByProject` appears to differ from the [API](https://www.visualstudio.com/en-us/integrate/api/git/pull-requests). `VsoClient.prototype.getRequestUrl` is appending a querystring parameter `searchCriteria={value}` instead of `status=active` when passing `{ status='active' }` into `getPul

[2015-10-30 10:29] bryanmacfarlane commented on #21
Yes, we need tests and examples.  The best example is our agent which uses it:

https://github.com/Microsoft/vso-agent

Search for webapi: https://github.com/Microsoft/vso-agent/search?utf8=%E2%9C%93&q=webapi

We'll get some added soon.

REST API docs here: https://www.visualstudio.com/en-us/integrate/api/overview

[2015-10-30 16:20] DustinVenegas commented on #21
To the spirit of my goal: what is the correct way query active pull requests using this node api? I tried search criteria and am using incorrectly, there's a different method, or it isn't supported in this API implementation.

[2015-12-14 11:39] maximpashuk opened #25 "DefinitelyTyped for vso-node-api is outdated"
Please update to actual version of api.

[2015-12-20 17:17] lszomoru opened #26 "createWorkItem fails with "Failed Request: Internal Server Error(500) - TF400898: An Internal Error Occurred"
I am trying to create a new work item but it fails with an error 500. I am suspecting that the root cause of the problem is related to the fact that createWorkItem does not take the project name as a parameter which seems to be needed based on the REST API documentation. Thanks!

[2016-02-19 23:18] iamwillbar opened #34 "Debugging API failures is difficult because response body is discarded"
In RestClient if the call to httpClient.send fails then the response body is discarded and is unavailable to the caller which significantly hampers debugging.

For example, if you use the updateWorkItemTemplate API to update a work item and one of the field values is invalid the err object you get back from RestClient only contains a status code and no additional information. The only way to deter

[2016-02-23 16:48] gregjhogan opened #35 "HTTPS support through proxy"
When I set the HTTP_PROXY to an HTTP URL (http://<proxy>:8888) and a request is made to an HTTPS URL (https://<instance>.visualstudio.com/DefaultCollection), the traffic is routed through the proxy but it doesn't properly initiate the connection with a CONNECT request.  This causes all requests to fail.

It looks like this is a deficiency in your [HttpClient](https://github.com/Microsoft/vso-node-

[2016-02-25 08:01] joaomoreno opened #36 "Publish extension fails: TF400898: An Internal Error Occurred"
Please check Microsoft/vscode-vsce#68

[2016-03-01 15:33] bfcamara opened #37 "gulp fails due missing tsconfig.json"
I am trying to contribute to this project and the gulp command fails

`Error: ENOENT: no such file or directory, open 'E:\Github\vso-node-api\tsconfig.json'`

It is missing the tsconfig.json file.

Thanks

[2016-04-19 16:06] jeffyoung commented on #37
Hi Bruno.  Looks like this just went in.

[2016-04-19 16:07] bryanmacfarlane commented on #37
fixed

[2016-04-19 16:07] #37 closed

[2016-04-19 16:08] bryanmacfarlane commented on #25
we're also looking at Microsoft typings support

[2016-04-19 16:09] bryanmacfarlane commented on #35
correct, HTTP_PROXY was added for debugging (Charles and Fiddler).  We need true proxy support.

[2016-04-19 16:09] bryanmacfarlane commented on #16
fixed

[2016-04-19 16:09] #16 closed

[2016-04-22 04:25] gregjhogan commented on #35
Are you willing to take a dependency on [https-proxy-agent](https://github.com/TooTallNate/node-https-proxy-agent)? If yes, I can submit a fix.

[2016-04-22 11:58] bryanmacfarlane commented on #35
Sure.  A PR would be great.

[2016-04-26 14:46] Zenasoft opened #40 "coreApi.getProjectCollections always returns an error"
Failed to find api location for area: core id: 8031090f-ef1d-4af6-85fc-698cd75d42bf

[2016-04-26 14:50] Zenasoft opened #41 "[Question] : How can i manage tranversal vsts group ?"
All apis refer to project teams.
Is there a way to manage transversal vsts group (at defaultcollection level) like a project team ?
Especially adding or removing members.

[2016-06-12 21:52] trevorsg opened #44 "Incorrect HOST header is sent with requests"
See https://github.com/Microsoft/tfs-cli/issues/123

[2016-06-16 06:06] Jaxwood opened #45 "Error when querying the release API"
I have tried to use the vsts-node-api to create a new release definition. However I always get the same response:

The api endpoint I'm targeting is [createReleaseDefinition](https://github.com/Microsoft/vsts-node-api/blob/master/api/ReleaseApi.ts#L1408) using the promise interface.

I've succesfully used the BuildApi and was able to create a build definition using this API.

[2016-06-16 10:52] bryanmacfarlane commented on #45
Were you connecting to VSTS or an on-prem version?

[2016-06-16 14:53] Jaxwood commented on #45
@bryanmacfarlane I was connection to VSTS. I used a personal access token with all scopes allowed.

[2016-07-05 19:01] chandan-anjani commented on #45
Can you please share your code snippet?

And I hope you are using url with 'vsrm' e.g. https://{your tenant name}.vsrm.visualstudio.com/DefaultCollection.  You may take a look into https://blogs.msdn.microsoft.com/chandananjani/2016/04/27/using-releasehttpclient-for-interacting-with-releasemanagement-service/ as well.

[2016-07-08 08:53] pavelbrylov commented on #25
@bryanmacfarlane how is it going with this one? Any news? :)
Thanks!

[2016-08-10 14:59] jmyersmsft opened #49 "Support for crossing VSTS service boundaries via the Location Service"
I'd like to write API clients for Feed and NuGet APIs (and probably contribute them to this repository eventually). However, these APIs live in the Packaging service and we often only have the TFS service URL (e.g. in the build agent). We can do hacky things like assume that if the url ends in .visualstudio.com, the packaging service is at .pkgs.visualstudio.com, but VSTS already has a mechanism f

[2016-08-23 14:48] kneradovsky opened #50 "TestAPI. getTestCases returns suite instead of the list of suite's TestCases"
The call to the testApi.getTestCases(project,plan,suite) return the Suite itself instead of the SuiteTestCase[].

The routeValues for that calls lacks 'action' parameter

[2016-08-28 01:25] #45 closed

[2016-09-08 13:56] vincentdass opened #53 "RestClient eliminates CustomHeaders Value"
[RestClient](https://github.com/Microsoft/vsts-node-api/blob/master/api/RestClient.ts#L168) _getJson method has customHeaders as arguments, but it is not appended to the Header variable.
This eliminates the values of custom headers.

[2016-09-16 19:37] zumwald opened #54 "vso-node-api 5.0.0: node cannot find module"
package.json declares WebApi.js in the root of the package, but it's not there. The package seems to contain a copy of the source, rather than the javascript in a npm-consumable structure.

[2016-09-16 19:55] bryanmacfarlane commented on #54
Yes.  That was fixed 5 drops ago.  If you do npm install vso-node-api you get 5.0.5

[2016-09-16 20:03] zumwald commented on #54
5.0.5 suffers from a similar issue: package.json defines main as "./_build/WebApi.js" but there's no _build directory in the package. Instead all of the /api files exist in both .js & .ts form at the root of the package.

[2016-09-16 20:06] zumwald commented on #54
workaround of course is to require('vso-node-api/WebApi') - but kind of a time sink to have require broken by newer versions.

[2016-09-16 20:09] bryanmacfarlane commented on #54
no it doesn't have the same issue.  See that one is source and one is built code

$ npm install vso-node-api@5.0.0

...
$ ls -la vso-node-api
total 72
drwxr-xr-x  16 bryan  staff   544 Sep 16 16:09 .
drwxr-xr-x   6 bryan  staff   204 Sep 16 16:09 ..
-rw-r--r--   1 bryan  staff   636 Aug 31 15:37 .npmignore
-rw-r--r--   1 bryan  staff  3051 Jul 23 18:46 CONTRIBUTING.md
-rw-r--r--   1 bryan  staff

[2016-09-16 20:10] bryanmacfarlane commented on #54
Changes in the require patterns should have been across major versions and the samples show the usage:
https://github.com/Microsoft/vsts-node-api/tree/master/samples

[2016-09-16 20:52] bryanmacfarlane commented on #54
Let me look at the package.json issue you're referring to however.

[2016-09-22 07:02] ranuka2 opened #55 "Cannot find name 'Promise'"
I'm getting error "Cannot find name 'Promise'"error for all the promises in the module. How to resolve this?

[2016-09-26 12:44] #55 closed

[2016-09-26 19:36] jrock2004 opened #56 "Version without typescript"
The project I am working on does not use typescript. Is there a version of this code that is not in typescript?

[2016-09-26 20:03] bryanmacfarlane commented on #56
The code compiles to javascript.  The compiled output is what you're looking for.  The actual npm module you consume is just javascript.

[2016-09-26 20:04] bryanmacfarlane commented on #56
... so there's no requirement that consumers of this use typescript.  It's just written in typescript.

[2016-09-26 20:12] jrock2004 commented on #56
So when I try to include `var vm = require('vso-node-api')` and I run my project it tells me the module does not exist. Was thinking because when I look at the directory in bower_components all I see is TS files

[2016-09-27 16:03] jrock2004 commented on #21
Agreed, there needs to be more documentation on how this work. Would be nice to see a simple example of searching for a work item.

[2016-10-12 14:14] ferdiozturk opened #58 "error TS2503: Build: cannot find namespace 'NodeJS'."
Using the VS2015 VSTS extension project template from here:
https://visualstudiogallery.msdn.microsoft.com/a00f6cfc-4dbb-4b9a-a1b8-4d24bf46770b

plus vso-node-api (because I need impersonation as service account in my extension)
1. npm i vso-node-api in my project folder
2. typings i dt~node --global --save

vso-node-api seems not to know NodeJS typedef:

[code]

[2016-10-26 08:50] EddieCCCCC opened #60 "TF401349 error occurs when create work item."
TF401349 error occurs when use this API to create work item on On-premise TFS, it works correctly on VSTS. Does this API support On-premise TFS?

[2016-11-22 13:22] ranuka2 opened #62 "Work item creation issue in TFS 2015.2"
I'm getting following error when creating bug item in TFS 2015.2 (On permise) via vso-node-api package, however the same code is working perfectly in my VSTS (online) subscription.

[Error: Failed Request: Bad Request(400) - TF401349: An unexpected error has occurred, please verify your request and try again.] statusCode: 400

I'm using the WorkItemTrackingApi/createWorkItem function in vso-node-a

[2016-11-25 19:48] DSakura1987 opened #63 "Package installed from npm still has Q in d.ts file"
Hi,
I am now writing an tfs web application. When I compile my application, tsc complains:
`
node_modules/vso-node-api/FileContainerApi.d.ts(1,20): error TS2307: Cannot find module 'q'.
node_modules/vso-node-api/VsoClient.d.ts(1,20): error TS2307: Cannot find module 'q'.`

In FileContainerApi.d.ts:

**import Q = require('q');**
import VsoBaseInterfaces = require('./interfaces/common/VsoBaseInterfa

[2016-11-25 20:39] bgavrilMS commented on #63
I think you're missing the typings for Q.

[2016-11-25 20:40] bgavrilMS commented on #63
Here's a project that we wrote that uses vsts-node-api https://github.com/Microsoft/tfsgit-pr-injector/blob/master/typings.json

[2016-11-25 20:50] DSakura1987 commented on #63
Thanks! It works perfectly. Can you please give me some hints for the reason? I am new to NodeJS and TypeScript.

[2016-11-25 21:35] bgavrilMS commented on #63
Sure. Typescript is a superset of javascript, and many libraries are still in pure javascript. So typescript came up with the concept of typings - a way to wrap existing js libraries in a typescript interface. Have a look at q.d.ts from the typings directory for an example - it's quite human readable. You'll note that you don't need typings for vsts-node-api, because it's already written in typesc

[2016-11-25 21:35] #63 closed

[2016-11-30 11:44] ranuka2 commented on #62
Any update on this issue please?

[2016-11-30 18:34] DSakura1987 commented on #62
I don't think TFS on permise supports access token - this [post](https://social.msdn.microsoft.com/Forums/vstudio/en-US/dfc9da69-dc6c-4307-98bb-35b08beee512/onprem-tfs-2015-rest-api-with-oauth?forum=tfsgeneral) points out only NTLM and Kerberos supported.

[2016-11-30 19:29] bryanmacfarlane commented on #62
That doesn't sound like an authentication issue,  it would be a 401, not a 400 / bad request.

[2016-12-07 13:26] ranuka2 opened #67 "Issue in getClassificationNode function"
I'm getting following error when using getClassificationNode() function

[Error: Failed Request: Bad Request(400) - https://xxxxx.visualstudio.com/MyFirstProject/_apis/wit/classificationNodes/MyFirstProjectArea1Test] statusCode: 400

Following is the code sample,
var areaPath = "MyFirstProject\Area1Test";
this.vstsWI.getClassificationNode(this.projName, wi.TreeStructureGroup.Areas, areaPath).then(

[2016-12-09 08:16] Yannike opened #68 "Always getting wrong version of api when using the build api"
I am trying to access build info from a TFS 2017 server. When I call the getBuilds functions the following:

`this.vsoClient.getVersioningData("3.0-preview.3", "build", "0cd358e1-9217-4d94-8269-1c1ee6f93dcf", routeValues, queryValues)`

always return 3.0-preview.3, and that doesn't return any build. If I change the apiVersion to the hardcoded 2.0 value ( the latest build api version), I get the bu

[2016-12-20 06:10] alpersogukpinar opened #69 "WebApi.ts new NtlmCredetialHandler initialization is wrong order"
WebApi.ts new NtlmCredetialHandler initialization is wrong order at line39. workstation and domain order parameters are being set in reverse order.

[2016-12-29 05:10] saakshyee commented on #62
While customising the WIT using VSTS layout, I faced the error as TF401349. The field is created but displayed on the layout. Pls suggest

[2017-01-10 05:47] ranuka2 opened #71 "VSTS work item creation throttling issue"
I’m developing a VSTS extension with a build task which should create up to 20,000 work items in a single build. Work items are created using WorkItemTrackingApi/createWorkItem function of vsts-node-api package. In current implementation, extension sends a request to create each work item, VSTS starts to throttling after creating about 100 work items.

Following are the two errors logged in the bu

[2017-01-10 18:25] chrismbarr opened #72 "Request option typedefs should be marked optional"
When specifying options for a request, the tyepdefs like [`GitInterfaces.GitQueryCommitsCriteria`](https://github.com/Microsoft/vsts-node-api/blob/master/api/interfaces/GitInterfaces.ts#L1082-L1143) require every single parameter to be filled out.  Instead these should all be marked as optional.

For example, if I wanted to get the first git commit on a certain day this is all I need to specify:
[

[2017-01-17 12:24] chrismbarr commented on #40
yes, same for me.  Is there a workaround for this?

Here's the error details I get
[code]

[2017-01-17 12:25] bryanmacfarlane commented on #40
That means the server doesn't have those REST APIs.  What server version are you targeting?

[2017-01-17 12:31] chrismbarr commented on #40
An error message with details like what you just said would be much more helpful!

We are using TFS 2017 that we host ourselves.
[code]

[2017-02-02 00:03] samiraguiar opened #74 "Make interface types nullable/optional"
Some interfaces, like `GitPullRequest`, contain a lot of members that are not mandatory according to the API docs.

Is it possible to make them nullable?

[2017-02-03 19:37] scottdallamura2 opened #75 "version negotiation doesn't work when resource versions are different"
when client api is 3.1-preview.1 and the server is 3.1-preview.2, compareResourceVersions returns -1, so "client is newer than the server" (incorrectly) and we use the server version

[2017-02-10 01:36] bryceg opened #78 "HttpClient is assuming json"
HttpClient should not assume the content type of the body by forcing a JSON.stringify

[code]

Let the user serialize the body themselves, or provide an option to not stringify the content.  Unable to use this to perform my oauth2 request due to my x-www-form-urlencoded content being corrupted by the json stringify.

[2017-03-13 18:42] jabbera opened #85 "Release API doesn't work against vsts but does against on prem"
Version: 5.1.2

Repro code:

        let token: string = tl.getEndpointAuthorizationParameter("SystemVssConnection", "AccessToken", false);
        let collectionUrl: string = tl.getEndpointUrl("SystemVssConnection", false);
        let authHandler = vsts.getPersonalAccessTokenHandler(token);
        let connect = new vsts.WebApi(collectionUrl, authHandler);
        let releaseApi: ra.IReleaseApi

[2017-03-13 18:45] jabbera commented on #85
needed vsrm in the url

[2017-03-14 13:05] jabbera opened #86 "getCommitsBatch doesn't return remoteUrl when using only ids"
The little says it all.

let blah: giti.GitQueryCommitsCriteria = { ids = ["A", "B"] } as git.GitQueryCommitsCriteria
await api.getCommitsBatch(blah, restofargs)

no remoteurl returned:-(

[2017-03-21 13:35] willsmythe commented on #49
The VSTS Node client needs to start using “resource area” as a way to get the correct base URL for a particular client. As @jmyersmsft mentions, our .NET clients use this and are able to find the correct base URL (when the client is acquired from VssConnection).

This avoids developers hand-forming URLs or  assuming that a particular API will always live on a particular service.

A new “resource a

[2017-03-21 14:06] willsmythe opened #88 "Switch to common version scheme"
The .NET client libraries, VSS web extension SDK, etc follow a MajorVersion.Milestone.Patch-preview (e.g. 15.113.0-preview) versioning schema that aligns with on-premises releases and our overall API versioning.

* `15.112.0`                 // API version 3.1, 2017 Update 1, M112 deployment
* `15.104.0-preview`   // API version 3.0-preview, 2017 pre-release, M104 deployment
* `14.102.0`

[2017-03-21 14:08] willsmythe opened #89 "Generated API interfaces should include /* doc comments"
For TypeScript developers that do something like this:

[code]

Intelli-sense should work, but doesn't because the generated interfaces are missing doc comments. These comments are included on the classes that implement the API interfaces.

[2017-03-21 15:25] willsmythe opened #90 "Include a more specific user agent string in HTTP calls"
Need to include a more descriptive user agent string in calls from this client. This will help us better understand how/where people are using the library.

The user-agent string should always include information about the client library, but also information about the tool/app/service using the library (optionally). This might be specified like this:

[code]

if product name is specified ...

[co

[2017-03-21 15:26] willsmythe commented on #90
@scottdallamura / @bryanmacfarlane  - take a look and let's close on this. We can evolve it over time as more information is needed. The version of the client, the OS, and optional "tool" information is the main info we need to start seeing in the telemetry on the server.

[2017-03-29 06:42] kneradovsky commented on #50
release 5.1.2 fixes that issue

[2017-03-29 19:02] #69 closed

[2017-04-19 09:34] amanimariem commented on #58
i have the same problem , did u resolved it !!, thanx

[2017-04-19 14:39] amanimariem commented on #54
Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:3000/node_modules/vso-node-api !

[2017-04-19 14:43] #35 closed

[2017-04-19 14:44] #75 closed

[2017-04-19 14:45] bryanmacfarlane commented on #71
That's not a node api issue, that's the service/server returning that.

[2017-04-19 14:45] #71 closed

[2017-04-19 14:47] bryanmacfarlane commented on #56
See the samples.  Not sure about bower, our samples use node as the loader.

[2017-04-19 14:47] #56 closed

[2017-04-19 14:49] bryanmacfarlane commented on #36
I think this is fixed?  Please re-open if not correct.

[2017-04-19 14:49] #36 closed

[2017-04-19 14:54] bryanmacfarlane commented on #88
We discussed.  There is no figuring out how it maps.

With this api, it's simple, use latest and it supports all the back versions.  This scheme makes sense for the C# binaries that ship with VS.  But for this and the npm model, it adds more confusion because they think they have to use 14.x api to connect to a 14.x server.  What if I write a tool that can connect to any version that uses the api?

[2017-05-04 02:26] kksevta opened #96 "Getting test results using VSTS rest API"
I am using Nodejs for consuming rest API of VSTS
Getting Builds and work items is working fine.

But I am confused about the endpoint which will return me the test results of particular build.
Kindly help me with this.

[2017-05-07 05:36] kksevta commented on #96
Found it closing

[2017-05-07 05:36] #96 closed

[2017-05-08 02:33] kksevta opened #97 "401 while getting build definitions or builds"
For one of the TFS server, I am getting 401 during getting builds
But for other TFS its working. I am having same level of access for both servers.
One server is running on https(401) and other is on http(working)
Both TFS are having different domains
What could be the possible reason for that?

[2017-06-02 21:18] bernienowel opened #98 "Passing dates to the vsts api as Date objects breaks"
The [samples/build.ts](https://github.com/Microsoft/vsts-node-api/blob/3bee71048e5033b91113dc59dd937e84915326ac/samples/build.ts#L42) file has a commented out example of passing a Date object to the vsts api.  Uncommenting that code and passing a Date object causes the api to return a 400 error.

Sample Code:
[code]

Error Returned:
[code]

If I change the compiled [BuildApi.ts](https://github.com

[2017-06-03 13:40] bryanmacfarlane commented on #98
@scottdallamura ?

[2017-06-03 13:47] bryanmacfarlane commented on #78
The http client in this package is deprecated and the api no longer uses it.  It now uses

https://github.com/Microsoft/typed-rest-client

and the http client in that package does not force json.  The rest client does.

[2017-06-03 13:47] #78 closed

[2017-06-03 13:47] bryanmacfarlane commented on #53
fixed in 6.x

[2017-06-03 13:47] #53 closed

[2017-07-03 17:44] kneradovsky commented on #50
Still lacks action field in getTestCases call.

[2017-07-05 14:56] youngbupark opened #106 "installExtensionByName doesn't work in vso-node-api@6.2.5-preview"
[code]

looks like extension install Rest API doesn't have `3.2-preview.1` version which vso-node-api@6.2.5 uses.
it is working with 3.0-preview.1 api-version in vso-node-api@5.1.2

[2017-07-18 01:24] nickpape-msft commented on #74
Completely agree, it makes the typings somewhat useless, as I have to use `any` to typecast everything.

Are these interfaces generated or can we update them manually?

[2017-07-18 01:36] scottdallamura2 commented on #74
I agree too. They're generated, but we can change the generator.

Sent from my Windows 10 phone

From: Nicholas Pape<mailto:notifications@github.com>
Sent: Monday, July 17, 2017 9:27 PM
To: Microsoft/vsts-node-api<mailto:vsts-node-api@noreply.github.com>
Cc: scottdallamura2<mailto:scott.dallamura@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-node-api] Make i

[2017-07-19 01:33] pgonzal commented on #74
How soon will this get implemented?  If it's going to be a while, maybe we can refresh the DefinitelyTyped typings and manually fix the issues there?  That would be a quick temporary workaround.

[2017-07-20 15:57] jeffwilcox opened #109 "Should WIT `createAttachment` encode filenames?"
Hi,
Within the WIT client, `createAttachment` directly passes through the filename when creating an attachment. We have filenames that may contain characters that are not valid URL components, such as "a filename with a commit hash # xyz.xlsx".

We can use `encodeuricomponent` to encode the filename before passing it to the client, but I wanted to open an issue to understand whether the onus for e

[2017-07-24 10:23] myunggeun-song opened #110 "installExtensionByName returns error "invalid resource""
The same code that works correctly in vso-node-api v5.1.2 doesn't work in v6.0.0.

The API is `IExtensionManagementApi.installExtensionByName` and the extension is `publisherName: ms-devlabs`, `extensionName: FolderManagement`. I tested the other extension but it also received the same "invalid resource" error.

[code]

[2017-07-27 21:07] luker2 commented on #50
I had to make this same modification. Not to hijack, but because this typescript project actually installs thru npm as built javascript, is it possible for me to create my own fork with this change and point my package.json at that fork?

[2017-08-14 19:15] thisisnaty opened #111 "How do I get an IdentityRef from a GUID?"

[2017-08-28 13:18] jeffpriz opened #114 "401 when using api in on-prem TFS 2017"
I am attempting to create a Build task in node, that leverages this api. I have looked through the samples, and I am attempting to use much of the code in the common.ts for getting the WebApi object.
My code looks like this:
[code]

The code ends up erroring with "Invalid Resource".. not the most helpful message.. Debugging locally through VSCode, I found that the status coming back to the REST ca

[2017-08-28 20:30] jeffpriz commented on #114
Looks like the VSCode folks also were running in to some trouble with Ntlm and TFS On-Prem, any chance that their Ntlm fix might roll over to this?

[2017-08-28 20:35] bryanmacfarlane commented on #114
A build task should not use the identity the agent runs as.  We generate a bearer OAuth token per build to talk back to vsts (even on-prem) which represents the build service account.

See here:  https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/stepbystep.md

And here specifically: https://gist.github.com/bryanmacfarlane/154f14dd8cb11a71ef04b0c836e5be6e#file-vsts_sample-ts

[2017-08-29 13:12] jeffpriz commented on #114
Brayan, thanks for that, the use of the bearer token from the task getEndpointAuthorizationParameter call works within the build task! thank you!
Just curious about the debug scenarios for this though, this will exclude me from simply running my node code in debug mode in VSCode, as the Ntlm and PAT auth objects still fail.  Developing locally would be feasible if I could authenticate locally with

[2017-08-30 07:31] yrtimiD opened #115 "labelSources enum is missing in BuildInterfaces"
labelSources property values enum is missing in BuildInterfaces.
It is part of BuildDefinition and can be found under:
[code]

Also, can't find it on [Contracts Index](https://www.visualstudio.com/en-us/docs/integrate/api/contracts-page)

[2017-09-26 17:45] dudi938 commented on #58
Hi, try to install @typings package

[2017-10-11 12:43] lukewis opened #118 "Release management should not require specific url"
I encounted the same problem mentioned in #85.  It seems very odd that I need to specify different urls for different areas of the api.  For example, to access the "build" apis, I need to supply a url like this:

Access to build apis:
https://{mydomain}.visualstudio.com

However, to access RELEASE apis, I need to supply the following url:
https://{mydomain}.vsrm.visualstudio.com

Shouldn't the SDK

[2017-10-11 20:07] jradesenv opened #119 "Use this lib with TFS on-premise"
I can't find how to implement login in my Electron angularjs application with username, password and URL for the server. I want to connect to both services: TFS on-premise and VSTS. How can i achieve it with this lib? or i have to use some other thing?
I know i can use basic authentication, but i guess I can't get user profile name using it

[2017-10-14 18:06] #119 closed

[2017-10-19 15:31] lukewis commented on #74
More of a question than a comment, but how do I access these interfaces in my own code?  It seems that I can only access those exposed by index.d.ts?

[2017-10-26 18:24] lukewis opened #120 "Question: How to access interfaces in ReleaseInterfaces.d.ts (npm)"
Occasionally I need to define a variable to hold a vsts object, but I'm struggling with how to import the correct module/types.  Can I import types from ReleaseInterfaces.d.ts?  It seems like typescript only sees "top-level" types (ones that are exported from Index.d.ts).  Is there another way to reference these types?  If not, a nice update might be to export them from Index.d.ts?

[2017-11-11 07:51] helaili opened #123 "ServiceHooks - api location error"
I'm successfully accessing the Build API on VSTS. Now trying to use the ServiceHooks one I'm getting the following error:

[code]

Here is the code I'm using:

[code]

I did successfully used the REST API directly though (using Postman), so I'm sure my token is valid. Any idea anyone?

[2017-11-11 09:41] helaili opened #124 "Tests failing with recent commit"
Trying to debug #123, I've been trying the samples and then tests but no luck. `npm test` fails with:

[code]

Seems like the break came with #64 as [d60e4b7](https://github.com/Microsoft/vsts-node-api/commit/d60e4b7c4035c39cd2ab6cc03a1f1b718a7ea060) works fine.

[2017-11-14 11:37] nadavsinai commented on #74
@lukewis for example
[code]
 await git.createPullRequest(({
			title: title,
			description: description || '',
			sourceRefName: sourceBranch,
			targetRefName: taregtBranch
		} as GitPullRequest), repositoryID, projectID);
[code]

[2017-11-18 20:24] japj commented on #89
Is the interface generation implemented/described somewhere publicly? (In case someone outside Microsoft would want to fix this?)

[2017-11-20 23:47] lukewis commented on #120
Answered here: [https://github.com/Microsoft/vsts-node-api/issues/74#issuecomment-344232276](https://github.com/Microsoft/vsts-node-api/issues/74#issuecomment-344232276)

[2017-11-20 23:47] #120 closed

[2017-11-21 08:45] joaomoreno opened #126 "Provide public Gallery API"
It would be great if this library would provide an API to access the Marketplace Gallery in a public way.

[vsce](https://github.com/Microsoft/vscode-vsce), the VS Code's extension packaging tool, now implements [a version of this](https://github.com/Microsoft/vscode-vsce/blob/master/src/publicgalleryapi.ts).

[2017-11-24 19:28] jycouet opened #128 "gitApi()getItem on tgz files"
Hi,
I'm able to get all files of my repo with this and their **fileContent**
[code]

But I have a problem with tgz files.
Do you know how should I do this?

Thank you

[2017-11-26 14:59] nadavsinai commented on #114
We are also experiencing this issue - We wrote a CLI that uses vsts-node-api to connect to our on premise TFS 2017 to get some repo details that should be restricted to the logged on user - our cli asks for credentials that we then want to forward to the NTLM auth provider but we get the 401 Unauthorized response with both NTLM and basic auth,

any ideas?

[2017-12-02 12:50] jycouet opened #129 "Get a list of differences"
Hello there,
I found on the API doc a good way to [Get a list of differences](https://www.visualstudio.com/en-us/docs/integrate/api/git/diffs)

Is there something to achive this?

---
This repo is still active?
Thank you for the info 👍

[2017-12-02 13:46] bryanmacfarlane commented on #129
Yes, this is still maintained.  It's generated off the product APIs so if it exists in the REST API and C# clients, then it should exist here.

Marking as a question.

[2017-12-02 13:54] jycouet commented on #129
Thank you for your answer @bryanmacfarlane
I just found that interface: `GitCommitDiffs` that looks like what I want, but it's not used in your code.

So yes, I still have the question :)
Thanks

[2017-12-08 14:24] alexkokkinos opened #131 "Identities API doesn't work"
The Identities API has no corresponding REST API documented, and when an attempt is made to make a basic call (such as `listGroups()`), an error is returned:

[code]

https://stackoverflow.com/questions/47682163/vsts-node-api-cant-use-the-identities-api

https://developercommunity.visualstudio.com/content/problem/163711/identities-api-in-vsts-node-api-preview-version.html

[2017-12-20 11:31] omeshp opened #132 "Proxy should work when password has url sensitive characters."
Currently typed-rest-client has bug where proxy doesn't work if password has url sensitive characters (https://github.com/Microsoft/typed-rest-client/issues/49),
Once the issue is fixed in typed-rest-client we should consume the appropriate version for vsts-node-api.

[2018-01-09 14:11] BetaVersionAnurag commented on #62
I am also facing the same issue, we have added a new user to TFS. when He tries to run any work item query he is getting the below error-
TF401349: An unexpected error has occurred, please verify your request.

[2018-01-12 00:07] mswilson4040 opened #133 "ReleaseAPI doesn't work"
I am trying to use the release API to get get the approvals for a given release. However, any method I try to use always returns:

[code]

Here is my code:

[code]

I saw some threads about removing the 'DefaultCollection' from the url and it doesn't change anything. I am using the buildsApi with no problem, so since I am unable to get any method to work within the release api, it leads me to beli

[2018-01-15 03:02] flcdrg opened #134 "GitPullRequest's mergeStatus property is a string, not PullRequestAsyncStatus enum"
I have created a WebHook Service Hook in VSTS for **Pull request created** and **Pull request updated**. The JSON sent for this event appears to contain a `GitPullRequest` structure in the `resource` property of the POST.

The problem is that the mergeStatus property being returned from VSTS has string values - eg 'succeeded', whereas the TypeScript definition for this field indicates it is an enu

[2018-01-17 21:25] jakekrammer-axosoft commented on #131
Same issue.

[2018-01-17 22:22] bryanmacfarlane commented on #131
We have someone investigating.

@stephenmichaelf - this is likely due to the thread I added you around big S service support that @keithrob started.  It fails calling other services outside of TFS services (build, wit, vc) such as RM and identity which are other big S services unless you know the DNS FQDN those services resolve to (customers shouldn't need to know that - just the account url).

[2018-01-17 22:22] bryanmacfarlane commented on #133
Same root cause as this issue: https://github.com/Microsoft/vsts-node-api/issues/131

See comment

[2018-01-17 22:23] bryanmacfarlane commented on #132
@stephenmichaelf - just need to consume the new typed rest client.

[2018-01-17 22:25] bryanmacfarlane commented on #133
dupe of https://github.com/Microsoft/vsts-node-api/issues/118

[2018-01-17 22:25] #133 closed

[2018-01-17 22:26] bryanmacfarlane commented on #118
same issue as #131

[2018-01-18 01:02] DavidObando opened #135 "Accounts API not available from npm release"
I see that the repository includes file [AccountsApi.ts](https://github.com/Microsoft/vsts-node-api/blob/master/api/AccountsApi.ts) but it's not referenced from [WebApi.ts](https://github.com/Microsoft/vsts-node-api/blob/master/api/WebApi.ts). The package I get when I `npm install` the 6.x package therefore doesn't have support for accounts APIs, even though it's listed in the [readme](https://git

[2018-01-24 14:08] david-richards commented on #72
+ 1.
I've reverted my scripts calling the API to use JavaScript to get around exactly this problem.

Requiring a ton of params which the rest api docs doesn't require is really inconsistent, and passing them is likely to make my code break against new versions of the api (plus for some calls it's impractically large & noisy).

I'd say the library is almost unusable with Typescript at the moment

[2018-01-30 19:24] jakekrammer-axosoft opened #136 "Identities API work around"
I'm trying to find a way to get the authenticated user's information from VSTS using this package. After a user has authenticated in my app using their personal access token, what API call should I be using to get their display name and avatar?

My original guess was either the IdentitiesAPI's `getSelf()` or ProfileAPI's `getUserDefaults(includeAvatar=true)`, but both of those API's appear to be s

[2018-01-30 19:49] bryanmacfarlane commented on #136
Yep.  We're on it.  Can you add to that issue so we can keep the info together?  Closing this one.

[2018-01-30 19:49] #136 closed

[2018-01-30 19:53] bryanmacfarlane commented on #136
Also, adding a code snippet including the url you're using etc... to repro - just to make sure we validate you're exact scenario.

[2018-01-30 21:23] jakekrammer-axosoft commented on #131
I'm trying to find a way to get the authenticated user's information from VSTS using this package. After a user has authenticated in my app using their personal access token, what API call should I be using to get their display name and avatar?

My original guess was either the IdentitiesAPI's `getSelf()` or ProfileAPI's `getUserDefaults(includeAvatar=true)`, but both of those API's appear to be s

[2018-01-30 21:23] bryanmacfarlane commented on #131
@jakekrammer-axosoft - Thanks!

[2018-01-31 17:30] jakekrammer-axosoft opened #137 "Requesting a resource that does not exist returns undefined (documentation)"
Code snippet:
[code]

Expected result: Promise to be rejected
Actual result: `repo` comes in as `undefined`

After digging into the code a bit (see below), it seems that `res` gets the correct result; however, `ret` comes back as `undefined` after formatting the response.
https://github.com/Microsoft/vsts-node-api/blob/bdef7c9aeec1bbc8e80d42b0ce48b8269795f7b2/api/GitApi.ts#L5605-L5612

I would exp

[2018-01-31 19:46] bryanmacfarlane commented on #137
That's not a bad request.  A bad request is a malformed request that can't be serviced.  If it was a bad request, it would have resulted in a 400 (bad request).

This is a valid request for a resource that does not exist.  It's also not exceptional - the service correctly determined the resource by that name/id does not exist  Therefore it returns null and does not throw an exception.

I'll add th

[2018-01-31 20:41] bryanmacfarlane commented on #137
I'm turning this into a documentation issue and assigning it to myself

[2018-01-31 20:46] jakekrammer-axosoft commented on #137
@bryanmacfarlane I appreciate your response. I apologize for messing up the terminology. You're absolutely correct that it wasn't a bad request, just a valid request for a resource that does not exist. Looking at the documentation you linked, is it a guarantee anytime I receive `undefined` from a request that it is a 404 error? That will make it very simple to handle in our application if we can g

[2018-01-31 20:47] bryanmacfarlane commented on #114
@nadavsinai - try using a PAT token.  2017 TFS should support.

@jeffpriz - for debugging vs in task, see this line of code:  https://gist.github.com/bryanmacfarlane/154f14dd8cb11a71ef04b0c836e5be6e#file-vsts_sample-ts-L16

[2018-01-31 20:52] bryanmacfarlane commented on #137
I believe so.  You should get the resource if it exists, undefined means it doesn't exist.  Anything else seems exceptional.

However, as I'm writing this, I'm wondering if successfully determining it doesn't exist should result in an explicit null.

Thoughts?

[2018-01-31 21:21] jakekrammer-axosoft commented on #137
An explicit null rather than undefined does seem preferable in my opinion.

Also, I am a bit curious about the original design decision to treat 404 errors separately from other 4xx and 5xx errors. I can understand the reasoning behind it: the request succeeded but no resource was found so null/undefined is returned. However, it would seem from the response that it is an exceptional case in the ey

[2018-01-31 21:33] jeffpriz commented on #114
@bryanmacfarlane but the whole trouble is that the getPersonalAccessTokenHandler doesn't work.. that's what initially caused my to post this.  It throws a "Invalid Resource" error, and after digging in to the root, there is a 401..

[2018-02-02 21:51] jakekrammer-axosoft commented on #114
I believe I'm encountering the same problem as @jeffpriz. All of the requests I send to our on-prem TFS box return a 401 unauthorized and dump an "Invalid Resource" error.

Code:
[code]

Error:
[code]

Any suggestions?

[2018-02-03 17:02] bryanmacfarlane commented on #114
Thanks.  I’ll try and repro on my side

[2018-02-05 15:17] stephenmichaelf commented on #135
Thanks @DavidObando I will add the AccountsApi to WebApi.

[2018-02-05 15:19] stephenmichaelf commented on #85
That was a workaround, we are working on a more convenient resolution where you don't need to do that (in case URLs change in the future).

[2018-02-06 20:28] newblord commented on #114
@bryanmacfarlane i am also getting this error as well.  Here is the response html content:

`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>401 - Unauthorized: Access is denied due to invalid credentials.<

[2018-02-06 23:01] bryanmacfarlane commented on #114
I think we have it figured out.  We're doing some testing now.  Hopefully we will have a preview version very soon to try out.

[2018-02-07 17:40] jeffpriz commented on #114
@bryanmacfarlane We also were attempting to create a task that ran during a Release, and found that the release did not get a Bearer token generated like the Build did.. what is the expected pattern for creating a Release task?  Will the PAT token authentication be the best bet for a Release task?  We gave up on writing release tasks in Node at the time, but if the authentication issue is correcte

[2018-02-09 23:11] jycouet opened #138 "getReleaseWorkItemsRefs not working properly"
Hello,

I'm trying to get the list of Items closed between 2 releases.
I found: `getReleaseWorkItemsRefs`. ANd it seems good. It's returning me a list of item.

I saw that I forgot to link an item to the PR, so I update my completed PR with linking one more user strory... but when I run again `getReleaseWorkItemsRefs` I don't see the Item I just linked.

Is it normal?

Thank you for your help

[2018-02-12 14:09] stephenmichaelf commented on #135
@DavidObando This will be resolved by #139.

[2018-02-12 14:11] stephenmichaelf commented on #131
@alexkokkinos This will be resolved by #139

@jakekrammer-axosoft If you check in samples.ts there is an example of getting the authenticated user's information [here](https://github.com/Microsoft/vsts-node-api/blob/d467665e8ce692b5d9f10409a928a9e406c2428a/samples/common.ts#L49). Can you let me know if that unblocks you? Thanks!

[2018-02-12 14:19] stephenmichaelf commented on #118
This will be resolved with #139 when it is reviewed/merged.

[2018-02-12 15:42] stephenmichaelf opened #140 "Support Big S services correctly"

[2018-02-12 18:24] stephenmichaelf commented on #54
@zumwald Is this still an issue? :)

@amanimariem Could you provide some more details?

[2018-02-12 18:34] stephenmichaelf commented on #40
Looks like we know the root cause, please let me know if you have other questions.

[2018-02-12 18:34] #40 closed

[2018-02-12 18:35] stephenmichaelf commented on #41
Looks like the user is no longer on GitHub, closing.

[2018-02-12 18:35] #41 closed

[2018-02-12 18:37] stephenmichaelf commented on #49
This has been resolved in #139.

[2018-02-12 18:37] #49 closed

[2018-02-12 18:39] stephenmichaelf commented on #58
Installing typings should resolve this. Please reopen if it does not.

[2018-02-12 18:39] #58 closed

[2018-02-12 18:46] stephenmichaelf commented on #85
This was resolved by #139.

[2018-02-12 18:46] #85 closed

[2018-02-12 18:47] #88 closed

[2018-02-12 20:26] DavidObando opened #141 "Profile operations should extract user identifier from x-vss-userdata header"
Consider exposing the MSA/AAD identity that's returned from the VSTS services in the `x-vss-userdata` header.

Sometimes a VSTS profile doesn't have an email associated, for example:
![vsts-missing-email](https://user-images.githubusercontent.com/950290/36117548-e92a8b78-0fee-11e8-8cd6-3473d0c454ea.png)

In C# we can obtain it with a call such as this one:
[code]

Consider as a starting point a ch

[2018-02-12 21:03] stephenmichaelf commented on #106
@youngbupark Could you get the latest 6.3.0-preview version and see if this works now?

[2018-02-12 21:03] stephenmichaelf commented on #118
@lukewis Could you get the latest 6.3.0-preview version and see if this works now?

[2018-02-12 21:05] stephenmichaelf commented on #131
@alexkokkinos Could you get the latest 6.3.0-preview version and see if this works now?

[2018-02-12 21:06] bryanmacfarlane commented on #131
to get that you need to run

[code]

[2018-02-12 21:08] stephenmichaelf commented on #131
vso-node-api* ?

[2018-02-12 21:14] lukewis commented on #118
@stephenmichaelf Yep!  Working as expected in 6.3.0-preview.  Thanks!

[2018-02-12 21:14] #118 closed

[2018-02-12 22:04] alexkokkinos commented on #131
@stephenmichaelf I'll update my project and try it out, thanks!

[2018-02-13 12:46] stephenmichaelf commented on #118
Thanks @lukewis!

[2018-02-13 14:25] stephenmichaelf commented on #140
Resolved in referenced PR.

[2018-02-13 14:25] #140 closed

[2018-02-13 15:02] stephenmichaelf commented on #86
@jabbera I tried to recreate the issue with the latest on master (6.3.0-preview) and the code is working as expected for me. Here is what I did:

[code]

Are you still having this issue? If so could you add some more details. Thanks!

[2018-02-13 15:04] stephenmichaelf commented on #89
Interfaces now have doc comments and intellisense is working.

[2018-02-13 15:04] #89 closed

[2018-02-13 15:07] stephenmichaelf commented on #97
@kksevta Are you still having this issue? Could you post some more details about how you are making the calls? Are you able to make a raw HTTP request over SSL to the server?

[2018-02-13 16:14] stephenmichaelf commented on #111
Hi @thisisnaty could you provide some more context around what you are trying to do and where you're getting stuck? Sorry we didn't get back to you earlier.

[2018-02-13 16:16] stephenmichaelf commented on #115
@yrtimiD Are you still having this issue? It looks like this field wasn't generated and may not exist on the REST endpoint? These are automatically generated.

[2018-02-13 16:17] stephenmichaelf commented on #123
@helaili  Could you get the latest 6.3.0-preview version and see if this works now?

npm install vso-node-api@preview

[2018-02-13 16:19] stephenmichaelf commented on #126
@joaomoreno Is [this](https://github.com/Microsoft/vsts-node-api/blob/master/api/GalleryApi.ts) what you're looking for? It has the ability to work with extensions like the code you referenced.

[2018-02-13 17:33] joaomoreno commented on #126
No, I mean the public API. That's the private one. VSCE uses that one extensively already.

[2018-02-13 18:59] yrtimiD commented on #115
@stephenmichaelf, I'd really like to have it properly typed. Otherwise, setting label source programmatically becomes really unclear since you can't know which values are acceptable and need to do reverse engineering to get them.
For example:
OnSuccessfulBuild = 6,
OnEveryBuild = 46
etc.

[2018-02-13 19:24] stephenmichaelf commented on #134
@flcdrg I looked at  the GitPullRequest inferface and if I check the mergeStatus it looks to be of type PullRequestAsyncStatus which is the enum type. Could you provide some more of the code you are using? Are you making the HTTP call yourself?

[2018-02-13 19:26] stephenmichaelf commented on #135
@DavidObando Could you check the latest version and let me know if it works? It should expose the Accounts api through WebApi.ts.

npm install vso-node-api@preview

[2018-02-13 19:27] stephenmichaelf commented on #21
Samples have been added [here](https://github.com/Microsoft/vsts-node-api/blob/master/samples/creation.ts), please let me know if they are insufficient.

[2018-02-13 21:51] alexkokkinos commented on #131
@stephenmichaelf @bryanmacfarlane The 6.3.0-preview version doesn't work at all for me, only parts of our project utilizing REST API calls instead of the VSTS Node API work (like getting/creating Area paths).

The project we've built out (an Express API used to interface VSTS with various internal systems) utilizes the following:

CoreApi
WorkApi
GitApi
WorkItemTrackingApi

All of the above works

[2018-02-13 22:01] stevek-axo opened #142 "VsoClient is swallowing exceptions thrown in new Promises"
[code]

yields the following error:

![screen shot 2018-02-13 at 2 48 30 pm](https://user-images.githubusercontent.com/35500807/36175528-fe7bf712-10cc-11e8-9307-110d25424f6e.png)

Despite the above catch block, the error message states that the Promise rejection was unhandled. After doing some digging around in the stack trace, I traced the issue to the [`new Promise` construction in VsoClient.ts]

[2018-02-13 22:08] bryanmacfarlane commented on #142
Yeah, it seems like that should have .then and .error.

BTW, try npm install vso-task-lib@preview - that should alleviate the root of the issue.  See recent samples.  But I agree that function should handle errors / exceptions.

[2018-02-13 23:15] stevek-axo commented on #131
@alexkokkinos It looks like as of the new preview, the return values of the `WebApi` API getters are Promises (e.g. `connection.getIdentitiesApi()`) The functions don't exist because you're trying to call it on the Promise object that gets returned.

@stephenmichaelf @bryanmacfarlane As of  I'm still noticing the same error message popping up that @jakekrammer-axosoft previously posted in this thr

[2018-02-13 23:28] stevek-axo commented on #142
Do you mean `vso-node-api@preview`? I'm on the `6.3.0-preview` version.

[2018-02-14 00:33] bryanmacfarlane commented on #142
Yes.  Can you outline the repro and scenario where that is throwing?  A repro script?  Or was it via code inspection.  We will of course fix but I want to make sure we have a repro to validate.

[2018-02-14 00:38] bryanmacfarlane commented on #131
@stevek-axo - Correct.  We bumped the minor version because as of 6.2.8, 6.x was still under preview and we were waiting for the Big S service support (RM, etc...) to switch to release.  In order to resolved the url via location services we had to turn those functions into async.

See the samples not the await: https://github.com/Microsoft/vsts-node-api/blob/master/samples/build.ts#L11

[2018-02-14 15:43] stephenmichaelf commented on #131
@stevek-axo Can you give some sample code of how you're using the IdentitiesApi, and which methods you are calling? Were these methods ever working?

I think the IdentitiesApi needs a deployment level URL instead of a collection level URL(this is our fault, it's not documented well). As an experiment could you try doing <account>.visualstudio.com (without the collection name at the end of the URL)

[2018-02-14 16:17] alexkokkinos commented on #131
@stevek-axo Ah that does make sense with the change to async, I'll have to make some changes to our project and try it out again.

[2018-02-14 17:00] stevek-axo commented on #142
I think it should be reproducible with the code snippet in the original post. The personal access token I used had all scopes available to it, and the URL is my own workspace.

[2018-02-14 18:31] stevek-axo commented on #131
@stephenmichaelf I'm trying to stand up some integrations with VSTS on a project I am working on with @jakekrammer-axosoft. I was hoping to use the IdentitiesApi to fetch information for the Git tree such as usernames and profile pictures. I've been trying to use `identitiesApi.getSelf()` with personal access tokens for authentication. It hasn't worked ever since I've started working with `vsts-no

[2018-02-14 21:30] mmajcica opened #144 "Issues with updating release metadata"
I'm trying to update one of the metadata fields on the release. In my release task I have the following code.

[code]

Unfortunately no matter what I try, I do get the following error message:

`(node:3488) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Failed to find api location for area: Release id: a166fde7-27ad-408e-ba75-703c2cc9d500`

Does anyone have

[2018-02-15 11:36] stephenmichaelf commented on #144
@mmajcica Could you try the latest version and let me know if it resolves this issue?

npm install vso-node-api@preview

We had an issue with DNS for some services that we recently resolved.

[2018-02-15 17:51] mmajcica commented on #144
@stephenmichaelf that did the trick.

Thanks

[2018-02-15 17:51] #144 closed

[2018-02-16 13:46] stephenmichaelf commented on #144
Thanks @mmajcica! Let us know if you run into any other issues.

[2018-02-16 14:43] stephenmichaelf commented on #131
@stevek-axo There is an interface called [IdentityRef](https://github.com/Microsoft/vsts-node-api/blob/bdef7c9aeec1bbc8e80d42b0ce48b8269795f7b2/api/interfaces/common/VSSInterfaces.ts#L132) that has displayName and imageUrl. I think those are what you are looking for.

In terms of how to get an IdentityRef, if you are looking at Git specifically, you can check the [GitInterfaces](https://github.com

[2018-02-16 14:49] stephenmichaelf commented on #131
Also if you use the git api:

[code]
You will have to add the collection to the url, e.g.:
https://redacted.visualstudio.com/DefaultCollection

[2018-02-19 14:13] chrismbarr opened #146 "getTeamMembersWithExtendedProperties returns the incorrect type"
The function [`getTeamMembersWithExtendedProperties()`](https://github.com/Microsoft/vsts-node-api/blob/bdef7c9aeec1bbc8e80d42b0ce48b8269795f7b2/api/CoreApi.ts#L361) in CoreAPI is marked to return a type of [`VSSInterfaces.TeamMember[]`](https://github.com/Microsoft/vsts-node-api/blob/bdef7c9aeec1bbc8e80d42b0ce48b8269795f7b2/api/interfaces/common/VSSInterfaces.ts#L255-L258), but in reality it seem

[2018-02-20 12:30] chrismbarr commented on #146
We are using a self-hosted TFS.

I've made a Node JS app that would use this API to get various data about some projects and report them to Slack channels.  I had to make a few changes with the most recently update, but nothing too big.  What I mentioned above was the only thing I noticed that actually seemed to be wrong.

[2018-02-20 14:53] stephenmichaelf commented on #146
Thanks I am digging in to this.

During the request we do some negotiation based on version of the APIs. If I had to guess I would say perhaps this endpoint didn't maintain back compatibility. That would mean the new endpoint has a different response data structure than the old version and when the request version is negotiated to the old API version it then tries to deserialize the old data struc

[2018-02-20 15:29] chrismbarr commented on #146
Thanks!  No, I'm not  I have a promise that returns a specific type, so for now I can just force the type.  I actually need the data that's being returned right now, so when this changes I'll have the use the commented out code befow.  Here's what I'm doing now to get around this.

[code]

[2018-02-21 00:00] stevek-axo commented on #131
@stephenmichaelf Thanks! I got a workaround for fetching profile/team pictures by finding their IDs and firing an authenticated HTTP GET at https://redacted.visualstudio.com/_api/_common/identityImage?id=<redacted>

[2018-02-21 13:08] stephenmichaelf commented on #131
@stevek-axo Glad you have something working! If you run into any other issues just open an issue in this repo and I can take a look :)

@alexkokkinos Were you able to make those changes and try again?

[2018-02-21 18:48] alexkokkinos commented on #131
@stephenmichaelf Unfortunately, this stuff slid down in priority for me. I'll be able to try it sometime soon, probably in the next week or so. I'll definitely update here when I do.

[2018-02-22 13:43] stephenmichaelf commented on #68
@Yannike Are you still having issues?

[2018-02-22 13:43] stephenmichaelf commented on #60
@EddieCCCCC Yes this supports on prem, are you still having issues? What version of TFS?

[2018-02-22 13:46] stephenmichaelf commented on #135
Going to close as this should be resolved in the latest version. Please reopen if you have issues.

[2018-02-22 13:46] #135 closed

[2018-02-22 13:47] stephenmichaelf commented on #86
Closing since this seems to be working, please reopen and add additional details if you are still having issues.

[2018-02-22 13:47] #86 closed

[2018-02-22 13:50] stephenmichaelf commented on #97
Closing for now, please reopen with additional details if you are still having issues.

[2018-02-22 13:50] #97 closed

[2018-02-22 13:52] stephenmichaelf commented on #34
I will investigate and see if this is still an issue.

[2018-02-22 13:54] stephenmichaelf commented on #50
@luker2 You are always welcome to fork any open source code :) I will check into this and see if we can get it resolved. If there is an easy fix feel free to create a fork and do a PR against this repo with the change and we can review it.

[2018-02-22 13:55] stephenmichaelf commented on #54
Please reopen and add additional details if this is still an issue.

[2018-02-22 13:55] #54 closed

[2018-02-22 13:56] stephenmichaelf commented on #62
@BetaVersionAnurag What version of TFS are you using? I will take a look.

[2018-02-22 14:01] stephenmichaelf commented on #72
Thanks for the feedback, I will take a look into this and see if we can get it fixed.

[2018-02-22 14:04] stephenmichaelf commented on #106
Going to close for now, please reopen with additional details if you are still having issues.

[2018-02-22 14:04] #106 closed

[2018-02-22 14:07] stephenmichaelf commented on #109
Thanks for bringing this up Jeff. The Apis are generated based on C# code that we have for REST endpoints. In order to automatically handle encoding I think we would need to add some attribute to mark the field as needing encoding. I agree that the responsibility most likely should be on the library not on the consumer. I will dig in to this.

[2018-02-22 14:09] stephenmichaelf commented on #110
Thanks for letting us know @myunggeun-song. I will try to recreate and see what's going on. Note that this library has been in preview for a while and it's possible that functionality changes over time.

[2018-02-22 14:10] stephenmichaelf commented on #111
I am going to close this for now, if you are still having issues please provide additional details and I can help you get this resolved. Thanks!

[2018-02-22 14:10] #111 closed

[2018-02-22 14:11] stephenmichaelf commented on #123
This should be resolved in the latest version of the library. Please give that a try. If you are still having issues reopen this and I can take a look.

[2018-02-22 14:11] #123 closed

[2018-02-22 14:20] stephenmichaelf commented on #126
@joaomoreno I saw the issue that referenced this above, 238, was closed on your end. This may still be an issue we have. We have had several other customers update to the latest version of this library and none of them are having issues.

The HttpClient used in this library comes from our typed-rest-client, it doesn't live in this library. Could you describe how you are using it a bit more so I ca

[2018-02-22 14:21] stephenmichaelf commented on #128
I will take a look, thanks for letting us know!

[2018-02-22 14:29] stephenmichaelf commented on #141
@DavidObando I will take a look, the APIs are automatically generated off of our REST endpoint C# code so this solution may not work.

[2018-02-22 14:39] joaomoreno commented on #126
The current version of `vsts-node-api` doesn't expose public extension querying. All REST methods require authentication. Did I get this wrong?

So, we created our own methods for querying publicly: https://github.com/Microsoft/vscode-vsce/blob/master/src/publicgalleryapi.ts#L1 This is a hack, which stopped working in the latest `vsts-node-api`.

This issue refers to exposing that public API, so w

[2018-02-22 15:02] stephenmichaelf commented on #114
@jakekrammer-axosoft Are you using the latest version of the library? I am trying to recreate the issue but it's working fine for me, the response I get is:

[{
		"id": "*****",
		"name": "*****",
		"url": "*****"
	}
]

This is using PAT auth and the token as full access.

You had mentioned:

Can you do a diff of the failing REST request and the successful one and see what the differences are? The

[2018-02-22 16:32] luker2 commented on #50
@stephenmichaelf Thanks! Sorry I wasn't very specific... I am actually more confused **HOW** to fork this project. If I npm install the original vso-node-api, it installs to my project as [built] JavaScript in node_modules. If I make my own fork and point to it, it installs into node_modules as TypeScript. Do I then need to build it myself or what's the best way to accomplish this?

[2018-02-22 17:09] stephenmichaelf commented on #50
No problem! If you click the fork button on the main vsts-node-api page:

![image](https://user-images.githubusercontent.com/450490/36552423-d7b31ac8-17c7-11e8-843c-8031ce91f070.png)

It will create a fork in your own account(looks like you did this). Make sure to keep it up to date by updating from the latest in the fork. It may be easiest for now to delete your fork and take a new one as it seem

[2018-02-22 17:22] tgilgil opened #147 "Queueing a new build"
Hello,

I was implementing some simple automation for our chat bot and I couldn't figure out to trigger a _new_ build.

The `BuildApi` has a function to queue an existing build but that is not what I'm looking for.
https://github.com/Microsoft/vsts-node-api/blob/master/api/BuildApi.ts#L701

The REST API has this endpoint
https://www.visualstudio.com/en-us/docs/integrate/api/build/builds#queue-a-bu

[2018-02-22 18:58] raix commented on #126
It's correct that the `getGalleryAPI` requires auth - thats why we use the `HttpClient` *(moved to a separate package "typed-rest-client" in final release of the node-api == breaking the "hack")*

We could update vsce to use the `typed-rest-client` but it might break again in the future?

I'm not sure how the public api access is implemented in vs code "extension search" etc. *(same endpoint thoug

[2018-02-22 19:06] dakale commented on #67
I was able to recreate this.

400 response was received when `areaPath` was invalid. The project name (root of area paths) cannot be included in the area path, ie you should use `areaPath = 'Area1Test'` instead. Additionally if the paths are nested further, the proper path separator would be `/` not `\` (which will escape the JS string.)

If this is still an issue please open a new issue. @stephen

[2018-02-22 21:34] insulind opened #148 "Is it possible to check if the last commit of one branch is present on another branch?"
This is a question or request?

What I want to do is check that the source branch of a pull request is update with the target branch.

I can check the behind count of the source branch however this is only relevant to the 'compare branch in vsts'. I can't see a way to change that through this API.

My other thought was to see if the target branches last commit, is present on the source branch, but

[2018-02-22 23:00] luker2 commented on #50
@stephenmichaelf Very straightforward, thanks!

I have limited knowledge of both TFS and this project, so right or wrong, my initial goal wasn't really to create the PR myself, but rather fork, make the fix, and use it in my own project.

I'd assume there are other circumstances where devs want to fork something for their own use but it doesn't make sense to PR. So yes, it works locally to build a

[2018-02-22 23:06] bryanmacfarlane commented on #147
I would recommend queuing a build in the UI and watching the wire with chrome, fiddler, charles.  Compare.  Our web UI uses all public rest apis so it's implemented :)

[2018-02-23 14:15] stephenmichaelf commented on #67
Thanks @dakale.

@ranuka2 Please follow the recommendation and reopen if you are still stuck.

[2018-02-23 14:15] #67 closed

[2018-02-23 14:19] stephenmichaelf commented on #148
@insulind I am checking into this.

[2018-02-23 14:24] stephenmichaelf commented on #126
Thanks for the clarification.

@joaomoreno Yes authentication is required.

My recommendation would be to change to the typed-rest-client. If by break you mean get moved to a new repo, that is unlikely as the sole purpose of the library is now to be a rest/http client. Single responsibility.

@bryanmacfarlane Does that make sense to you too?

[2018-02-23 14:31] stephenmichaelf commented on #50
@luker2 Seems like that may work. I haven't done it before.

One thing to keep in mind is that you will want to keep your fork up to date with master(pulling in latest changes) otherwise your version of vsts-node-api will get stuck in time and may break in the future.

If you aren't comfortable looking at making the change I can dig in to this more and see if it makes sense to add :)

[2018-02-23 14:34] stephenmichaelf commented on #50
@kneradovsky @luker2 I just looked at the code:

![image](https://user-images.githubusercontent.com/450490/36599128-6f70ab3c-187c-11e8-8e44-55fab8eb42b7.png)

It looks like the method does return an array of SuiteTestCase. Could you upgrade to the latest version (6.3.2) of the library and see if it's fixed for you?

[2018-02-23 15:35] #147 closed

[2018-02-23 15:39] tgilgil commented on #147
Thanks.

I misunderstood the API's signature. You can indeed pass in an empty object representing the `Build` instance with only the definition's `Id` specified.

[code]

[2018-02-23 18:25] raix commented on #126
@stephenmichaelf All dependencies are `vsts-node-api` internals https://github.com/Microsoft/vscode-vsce/blob/master/src/publicgalleryapi.ts#L1-L5 so really tight coupled (not to mention api versions/endpoint details).

I could help make a pr if you want - the footprint would be around 50 lines

(reference to [similar code in vs code](https://github.com/Microsoft/vscode/blob/8c5452be2d159ae415e2ef

[2018-02-26 07:16] lvsezhufu opened #149 "Enable to get commits of a branch"
Currently, vsts-node-api can not get commits of a branch, while REST api has this feature https://www.visualstudio.com/en-us/docs/integrate/api/git/commits#in-the-history-of-a-branch.

[2018-02-26 12:41] stephenmichaelf commented on #149
@lvsezhufu Have you searched the entire API surface area? The GitApi here is generated based off our REST endpoint so it should have all of the same features.

[2018-02-26 12:44] insulind commented on #149
https://github.com/Microsoft/vsts-node-api/issues/148 related to my question from a few days ago fyi

[2018-02-26 15:24] stephenmichaelf commented on #146
@chrismbarr It looks like this is indeed due to a compat issue with having a newer client and an older server. The general advice is for REST API upgrades to only append data but in this case the shape of the data was changed. The team who owns this API is looking into it.

[2018-02-26 22:29] luker2 commented on #50
Updating to 6.3.2 fixed it! I had to get my auth switched over from the NTLM handler to PAT because of #114 but then it worked.

Thanks for all the help!

[2018-02-26 22:30] stephenmichaelf commented on #50
Awesome! Closing :)

[2018-02-26 22:30] #50 closed

[2018-02-28 21:45] luker2 commented on #50
@stephenmichaelf I'm sorry, not fixed. Not sure what I was looking at when I said that.

This is the route template the call is trying to use:
{project}/_apis/test/Plans/{planId}/{resource}/{suiteId}/{action}/{testCaseIds}

As kneradovsky said, no 'action' parameter is specified in routeValues. I submitted a PR #150 specifying 'testCases' as the value.

This was the fix that worked for me, althoug

[2018-03-05 14:36] stephenmichaelf opened #151 "Add missing creation samples"
Accounts
Chat
Contributions
Customer Intelligence
Delegated Authorization
Feature Availability
Gallery
Identities
Organization
Service Hooks
Token

[2018-03-05 18:46] stephenmichaelf commented on #62
Closing, please reopen if it's still an issue.

[2018-03-05 18:46] #62 closed

[2018-03-05 18:46] stephenmichaelf commented on #60
Closing, please reopen if it's still an issue.

[2018-03-05 18:46] #60 closed

[2018-03-05 18:47] stephenmichaelf commented on #68
Closing, please reopen if it's still an issue.

[2018-03-05 18:47] #68 closed

[2018-03-05 18:48] stephenmichaelf commented on #134
Closing, please reopen if it's still an issue.

[2018-03-05 19:17] stephenmichaelf opened #153 "BeginGetLocation endpoint does not exist in TFS 2015 and causes 404."

[2018-03-05 21:28] flcdrg commented on #134
There seems to be a difference in what data the Web Hook service hook is providing to a web service, compared to if you use the getPullRequest api call to query a pull request. I verified that if I use getPullRequest, then mergeStatus is a number.

I created a web hook service hook handler based on https://docs.microsoft.com/en-us/vsts/git/how-to/create-pr-status-server.

The following handler is

[2018-03-05 22:06] flcdrg commented on #134
Here is a cleansed version of the data the handler receives.

There are few fields here that are strings, that for gitPullRequest are numbers, including repository.project.visibility, status and mergeStatus.

[code]

[2018-03-05 22:07] flcdrg commented on #134
ps I'm at the MVP Summit this week if you're in Redmond and it would be useful to meet in person

[2018-03-06 14:50] stephenmichaelf commented on #134
@flcdrg Thanks for the clarification. I want to make sure I am understanding this correctly:

1. If you use the api call to get a pull request, merge status is a number (expected and desired)
2. The service hook is sending data that is structured differently, merge status is a string (unexpected and undesired)
3. You are receiving a raw HTTP message from the service hook and casting to a type from

[2018-03-06 15:51] stephenmichaelf opened #155 "Upgrade to latest typed-rest-client."
There are some compatibility changes between interfaces defined in this library and updated in typed-rest-client that make this non trivial.

[2018-03-06 16:02] flcdrg commented on #134
So I have a workaround in my code at the moment  where I explicitly cast it to a string. That's doing the job for me.

It's a shame that they can't be the same.

Do you know if there are plans to create types for the service hook data? Or is this something a PR or separate library contribution could help?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Stephen Fr

[2018-03-15 14:22] stephenmichaelf opened #157 "Remove shelljs dependency"

[2018-03-15 15:07] bryanmacfarlane commented on #157
In here it's only a dev dependency right?  The shelljs concern wasn't about being stable, it was about some compat breaks in behaviour between 0.3 and 0.7 in the task-lib and since the task-lib delegates directly to shelljs in those case, it prevented us from consuming the new version because it would then indirectly change the customer task extensions calling those lib functions (and ultimately t

[2018-03-15 16:48] stephenmichaelf commented on #157
Yes it's only a dev dependency. My mistake I misunderstood what you were saying. I removed the description.

[2018-03-15 19:11] bryanmacfarlane commented on #157
I think I'm fine keeping it as a dev dependency.  Convenient for scripting.

[2018-03-15 19:11] #157 closed

[2018-03-16 17:44] pabrams opened #158 "Following the Get Started instructions doesn't work"
1. created an empty folder in dos and moved into it.  I already have node v8.9.1 installed
2. `npm init` - took defaults
3. `npm install vso-node-api --save`
4. create index.js
5. start adding code in sample under heading "Create a Connection" shown at https://github.com/Microsoft/vsts-node-api
6. In vscode, it doesn't like "string" because this is a .js file
7. Rename .js to .ts
8. In vscode, "Ca

[2018-03-16 17:48] bryanmacfarlane commented on #158
I think it's also missing the await in the getBuild factory call.

[2018-03-16 21:23] pabrams opened #160 "How do I get a list of document collections in a given TFS web extension?"
I just want to get the data collections in an extension so I can query them for their documents.  queryCollectionsByName returns an array of ExtensionDataCollection so I think that's the API call I want to use,  but for some reason it wants an array of ExtensionDataCollection as input - why?  And how do I create what it wants?  Is there some documentation somewhere I'm missing?  There doesn't seem

[2018-03-16 22:30] bryanmacfarlane commented on #114
We're closing for now since the latest version with our tests work now.  If someone has the lastest version and can answer Stephen's questions above, we can re-open and investigate

[2018-03-16 22:30] #114 closed

[2018-03-18 15:58] stephenmichaelf commented on #160
It looks like you tried passing null, did you try passing an empty array?

I can reach out to the team who owns this service and find out the recommended query method.

[2018-03-19 13:42] dmarcey commented on #160
@pabrams It looks like we do have a documentation gap for this API, sorry about that. We'll work to get it fixed. In the meantime, here is an example usage of the this API, from the team calendar extension:

https://github.com/Microsoft/vsts-team-calendar/blob/master/src/Calendar/EventSources/FreeFormEventsSource.ts

            **return extensionDataService.queryCollectionNames([this._teamId]).th

[2018-03-19 13:48] dmarcey commented on #160
Actually, upon re-reading your question, it looks like I may have misinterpreted you. Are you instead looking for a list of all collections? If so, then that API does unfortunately does not exist.

[2018-03-19 15:14] dmarcey commented on #160
If you're trying to store some data hierarchically, you could have a well-known collection, that stored a list of all your other collections, right?

[2018-03-19 17:36] pabrams commented on #160
@dmarcey Oh, I think I see the problem.  When extensionDataService.createDocument is called, it passes a 'collectionName', I guess this is where the collection gets created if it doesn't already exist?  I was assuming that a collection name always has to be the same as the 'team ID', but I guess I can pass any collection name I want to createDocument(collectionName, document) and it will simply cr

[2018-03-19 18:37] pabrams opened #162 "What do I pass to queryCollectionsByName?"
I am trying to call queryCollectionsByName, but I guess I am not passing appropriate parameters?
I get "The extension supplied is not installed", even though I know the extension with ID "release-calendar" IS installed, since I just retrieved it from the API's "InstalledExtensions" -  please see below.

[code]

[2018-03-19 18:51] pabrams commented on #162
Oh, I see, it's expecting IDs, not names, even though the ExtensionManagementApi.d.ts has "extensionName" and "publisherName" as parameter names instead of "extensionId" and "publisherId".

Here are the changed lines from above that work:
        let dataCollection : xi.ExtensionDataCollection[] =
            await vstsX.queryCollectionsByName(collectionQuery, extension.**publisherID**, extension.

[2018-03-19 18:55] pabrams opened #163 "Please fix parameter and method names (e.g. in ExtensionManagementApi.ts)"
The parameter names are wrong, e.g. at line 32 of https://github.com/Microsoft/vsts-node-api/blob/master/api/ExtensionManagementApi.ts

`queryCollectionsByName(collectionQuery: ExtensionManagementInterfaces.ExtensionDataCollectionQuery, publisherName: string, extensionName: string`

But if I pass the extensionName the API claims it is not installed.  Passing the IDs works, though.

Refer to #162

[2018-03-19 18:57] pabrams commented on #162
Closing, since I figured out that the typings have the wrong parameter names.  Opened above issue instead.

[2018-03-19 18:57] #162 closed

[2018-03-19 19:02] dmarcey commented on #160
@pabrams Yep, that's correct.

"If the collection with the name and scope provided, does not yet exist, it will be created dynamically before the document itself is created."

https://docs.microsoft.com/en-us/vsts/extend/develop/data-storage#create-a-document

[2018-03-19 19:25] pabrams commented on #160
Thanks

[2018-03-19 19:25] #160 closed

[2018-03-20 15:13] bryanmacfarlane commented on #129
Can you log the same issue here?  https://github.com/Microsoft/vsts-dotnet-samples/issues

That's the C# samples and since this client is generated, it will have the exact same method patterns.

I would log the issue but probably better coming from you.

[2018-03-20 17:44] stephenmichaelf commented on #153
This was first added in version 3.2 of the rest API. It did not exist yet in TFS 2015 so it won't work there. Closing.

[2018-03-20 17:46] stephenmichaelf commented on #163
I will have to look into this, the signatures are generated based on the APIs and I just generated the most recent version to check and it still has these parameter names.

[2018-03-23 14:00] pabrams commented on #163
A lot of the method names that end with "byName" also don't make sense; seems like the same issue:

Looks like there was a major refactor at some point, but the symbols still need to be renamed.

And this is probably not limited to the ExtensionDataApi; that's just where I noticed it because it's what I'm working with.

[2018-03-26 15:51] stephenmichaelf commented on #151
We are removing deployment level apis. This is no longer needed.

[2018-03-26 15:51] #151 closed

[2018-03-28 22:50] smikula opened #167 "addBuildTag API fails"
### Environment
Node version: v8.7.0
Npm version:
OS and version: Windows 10
vsts-node-api version: 6.3.2

### Issue Description
`addBuildTag` API fails

### Expected behaviour
API should succeed, adding a tag to the build.

### Actual behaviour
It fails with this error:
[code]

From some quick debugging, it looks like the problem is in this line:
[code]

`rest.replace` takes 3 arguments, and the

[2018-03-29 15:07] stephenmichaelf commented on #167
Thanks for letting us know @smikula I will take a look.

[2018-03-30 15:11] stephenmichaelf commented on #167
There is a bug in the API generation code for replace and update calls in the typed-rest-client. We need to pass null when there is no resources value. Working on an upstream change to fix this and will then regenerate the clients.

[2018-04-02 13:26] stephenmichaelf commented on #131
I am going to close this as we are removing the Identities API from the library.

@alexkokkinos If you have issues please open a new Issue with the specific problem, thanks!

[2018-04-02 13:26] #131 closed

[2018-04-02 14:39] alexkokkinos commented on #131
Thanks @stephenmichaelf, I never really got around to trying it out again, but if it's being removed from the API it definitely makes sense to close this out.

[2018-04-04 15:07] alexkokkinos commented on #131
@stephenmichaelf If I could ask one final question about this, since the Identities API will be removed, do you know where I might look for similar functionality so that I could report on identity-related information? Is there an alternative available right now?

[2018-04-10 00:32] gregpakes opened #168 "How to use the "location" property supplied by some resources?"
I am trying to get the changes between two builds.  I am using the **BuildApi** and am calling **getChangesBetweenBuilds**.  This is great, but in Git it can return truncated commit messages.  I understand that the **Change** type returned by **getChangesBetweenBuilds** contains a **location** property which contains the full Url to the resources.  how do I go about calling that url from the node

[2018-04-10 11:48] stephenmichaelf commented on #168
@gregpakes Glad you were able to resolve it. You may run in to issues going forward given that the APIs and locations of the APIs can change. Part of the utility of this library is abstracting all of that for you.

Yes you would need to call getBuild on the BuildApi passing the buildId you already have, the response is BuildInterfaces.Build which has a repository property of type BuildRepository.

[2018-04-10 11:48] #168 closed

[2018-04-10 21:16] gregpakes commented on #168
Thanks for the response.  It does raise the question of the **location** properties though.

My thought was that these are provided to give an api the exact stability you are talking about above.  The idea that if a resource changes between api versions, it doesn't matter if you are using the location properties because they will change too.

So you're saying that the guidance is to not use the **

[2018-04-11 08:07] dotansimha opened #169 "Missing typings field in package.json"
### Environment
Node version: 8.9.3 / 9
Npm version: 5.6.0 (or Yarn 1.5.1)
OS and version: Mac OS X
vsts-node-api version: 6.5.0

### Issue Description
Since few versions ago, this package provides it's own `typings` instead of using `@types/vso-node-api` package.
Since this PR: https://github.com/Microsoft/vsts-node-api/pull/154/ , this package no longer provides it's own typings (not sure why...

[2018-04-11 12:06] stephenmichaelf commented on #169
I am taking a look thanks!

[2018-04-11 19:17] stephenmichaelf opened #171 "Run samples by installing node api using targz"
We have run into a bug due to referencing the library from samples as a file. Instead we should pack it up and reference that way so it's used as modules are by consumers.

Originally manifested in #169

[2018-04-12 04:07] ankitr42 opened #172 "NTLM Authentication Fails with TFS 2015"
### Environment
Node version: 8.11.1
Npm version: 5.6.0
OS and version: Windows 10, Build 14393.2007
vsts-node-api version: 6.5.0

### Issue Description
Trying to use this API to connect to a TFS 2015 instance with NTLM authentication always fails.

### Expected behaviour
NTLM authentication should succeed and WebAPI.create() should return the connection data.

### Actual behaviour
I have some tes

[2018-04-12 18:55] chrismbarr opened #173 "Creating a new PR comment thread fails with "An author of a comment cannot be updated.""
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
**Node version**: 8.3.0
**Npm version**: 5.8.0
**OS and version**: Windows 10
**vsts-node-api version

[2018-04-12 19:59] stephenmichaelf commented on #173
Thanks for letting us know @chrismbarr.

From what I see there are two issues:
1. Fields are marked as required that aren't
2. When creating a thread you get the author cannot be updated error

Is that accurate?

[2018-04-13 05:54] ankitr42 commented on #172
Thanks, @stephenmichaelf.

[2018-04-13 11:40] chrismbarr commented on #173
I tried marking my objects as `any` and then deleting as many fields as I could with it still working.  This seems to be the minimal number of fields needed to create a new comment thread:
[code]

[2018-04-13 12:49] stephenmichaelf commented on #173
Thanks for the clarification. The APIs in this library are generated so that is part of the problem. I am going to take a deeper look into the upstream generation and see if we can accurately mark properties as optional. I agree this is bad UX and very confusing. We have had several people mention this.

I will update you once I know more.

You are not blocked, correct?

Thanks again for bringing

[2018-04-13 14:15] chrismbarr commented on #173
cool thanks!  No, I'm not blocked, just forced to now use weaker types, which I don't love, but oh well!

A possible solution to this might be to have 2 versions of each object type.  One marked with optional properties for when you are sending an object in a request, and another one with non-optional properties for when you are receiving the object back from a response.  Having the properties mar

[2018-04-16 13:08] chrismbarr opened #174 "Can only auth with the personal access token. Username/password tokens always fail with 'Invalid Resource'"
### Environment
**Node version**: 8.3.0
**Npm version**: 5.8.0
**OS and version**: Windows 10
**vsts-node-api version**: 6.5.0
**TFS Version**: Microsoft Visual Studio Team Foundation Server Version 16.122.27409.2

### Issue Description
When creating a `new WebApi()` I am only able to log in with a Personal Access Token handler.  When I try using the username/password handlers it fails with `Error

[2018-04-16 13:42] stephenmichaelf commented on #174
Thanks @chrismbarr I will take a look.

[2018-04-16 14:25] stephenmichaelf commented on #174
I think the [recommendation](https://docs.microsoft.com/en-us/vsts/integrate/get-started/authentication/iis-basic-auth?view=vsts) is to not using Basic auth (at the very least it requires an IIS configuration change and invalidates using PAT). If this is the case(I will confirm) we should probably remove this authentication handler from the repo.

I am going to check on NTLM as that should work.

[2018-04-16 14:35] stephenmichaelf opened #175 "Replace authentication handlers with handlers from typed-rest-client"
We don't need to have the handlers in this repo, remove them.

In WebApi we can keep the helper methods to create auth handlers and have them instantiate from the typed-rest-client handlers.

We probably want to bump the dependency version for typed-rest-client to make sure we are getting the latest version that has the working implementation of the NTLM handler.

[2018-04-16 15:19] bryanmacfarlane commented on #174
I think we can leave it but doc the implications.  Also, I don't think PAT was available until TFS2017

[2018-04-16 15:40] chrismbarr commented on #174
I am fine using the tokens, however they expire at a max of once a year and I'm just trying to avoid having to go in and "fix" this with a new token every year.

Off topic here... but is it possible to generate a PAT that does not expire?

[2018-04-19 20:47] pabrams opened #176 "ExtensionManagementApi: How to delete document collection?"
A document collection is automatically created when I create some documents against that collection.

I've been testing my command line interface.  After creating test documents, I delete them using IExtensionManagementApi.deleteDocumentByName (and passing document id instead of name).

Now, the database contains a lot of empty documentCollections (in [Extension].[tbl_ExtensionDataCollection]).  H

[2018-04-20 13:06] stephenmichaelf commented on #176
I have reached out to find the right person to answer this question, will update you here when I know more.

[2018-04-20 15:05] stephenmichaelf commented on #176
@pabrams This is not possible through the API right now. I created a bug for the team that owns this API. They will follow up here with more details as progress is made on the change.

Thanks for letting us know!

[2018-04-20 18:57] pabrams opened #177 "ExtensionManagementApi: add field validation"
I just spent most of the afternoon trying to figure out why the API thinks my documentCollection doesn't exist even though I can see it in the database, and it turns out it's because the collection name is too long for the stored proc ([Extension].[prc_GetDocuments]):
    @collectionName         NVARCHAR(50),

but in other procs, and in the database, the size is bigger, e.g. from [Extension].[prc_

[2018-04-20 19:07] pabrams opened #178 "ExtensionManagementApi: fix field length in stored proc [Extension].[prc_GetDocuments]"
proc ([Extension].[prc_GetDocuments]):
@collectionname NVARCHAR(50),

proc [Extension].[prc_iGetCollection]):
@collectionname VARCHAR(100),

Also, the table itself has nvarchar(100).

I think that's a bug in prc_GetDocuments?

[2018-04-23 01:07] RamiSh opened #180 "Suggestion: Angular5 and vsts-node-api example"
I am wondering whether it is a good idea to include angular integration example in the sample folder?

I have a working code that can be used as a starting point for folks who are just starting with both, angular and the vso api.

If utilizing vsts-node-api with angular is too obvious we can pass on this.

Thanks!
Rami

[2018-04-27 16:06] JeffRausch opened #182 "Release - Get Release with propertyFilters not working"
### Environment
OS and version: Windows 10 - 1709
vsts-node-api version: 4.1-preview.6

### Issue Description
I'm trying to filter properties returned back from the Releases - Get Release call ([Docs](https://docs.microsoft.com/en-us/rest/api/vsts/release/releases/get%20release))
I've tried to supply the field names multiple ways and nothing seems to work, I always get back the full object which i

[2018-04-27 17:43] stephenmichaelf commented on #182
I was able to recreate the issue, I will ask someone on the Release team to take a look. Thanks for letting us know!

[2018-04-30 18:49] gforceg opened #183 "support no_proxy"
### Environment
Node version: 8.1.4
Npm version: 5.0.3
OS and version: Win10 x64
vsts-node-api version: tfx cli version 0.5.10

### Issue Description

With on-prem TFS, our collection is not accessible through our proxy. This means I have to unset http_proxy before using tfx-cli. Some tools (e.g., npm, git, curl) don't require this because they obey the no_proxy environment variable convention tha

[2018-04-30 19:24] gforceg commented on #183
I just discovered that passing in `--proxy ''` in the `tfx login` command works just as well as what I'm trying to do.

[2018-05-01 13:08] stephenmichaelf commented on #178
Could you rewrite this as a bug in the API? We can leave the implementation change to the team who owns it. Are you querying a certain part of the ExtensionManagement endpoint and getting truncated data?

[2018-05-02 14:43] stephenmichaelf commented on #178
I have sent a question out to the team who owns this API.

[2018-05-02 17:31] stephenmichaelf commented on #178
Are you using on prem or VSTS? If on prem, which version?

[2018-05-03 10:46] SunnyKumarR commented on #182
Hi JeffRausch, stephenmichaelf,
Thanks for reaching out. 'propertyFilters' parameter in get release api is not serving the purpose of filtering based on release object properties. 'PropertyFilters' actually filter only those properties which you have provided separately to release. The functionality you are looking for is not provided for get release currently. We will enhance the documentation as

[2018-05-04 04:29] ArtGangsta commented on #172
@stephenmichaelf I think the problem you're going to run into is that typed-rest-client, uses node-http-ntlm which works for NTLM, but is not truly integrated since it requires the user password.  it does not use SSPI to do transparent auth (Integrated Windows Authentication / Negotiate)

I have looked around just a little bit, and the only module I found that works well out of the box for this is

[2018-05-04 18:02] ArtGangsta opened #184 "Support on-prem TFS"
This project can easily support on-prem TFS, but it doesn't.   The name clearly says "vsts", first of all.  Although it has NTLM support, it doesn't have support for single sign-on.

Also, it assumes that the latest API version should be used, "i.e. 4.1-preview", but the latest on-prem version  of TFS doesn't support that yet.

[2018-05-04 18:50] bryanmacfarlane commented on #184
The project supports on-prem via PAT token (TFS2015QU3+) and NTLM (supply user/pass).  It does not support integrated auth/single sign on.

The library negotiates the version to use with the service.  The 4.1-preview embedded in the client is just a way for the client to negotiate and tell the server the latest it knows about.  It will negotiate back down.

Since it uses latest types (and contract

[2018-05-04 18:50] #184 closed

[2018-05-05 21:34] ArtGangsta commented on #184
Well, I would like to use this library but with single sign-on support, which I will add in my own fork.   I'll post back here that's done.

[2018-05-05 23:33] bryanmacfarlane commented on #184
We welcome PRs.  Thanks

[2018-05-14 13:43] stephenmichaelf commented on #182
Thanks for taking a look @SunnyKumarR. Closing this as it's expected functionality.

[2018-05-14 13:43] #182 closed

[2018-05-23 13:49] TiredOfProgramming commented on #114
Why do we create an issue with the wording "TFS" in the title, whereas the whole repo is about **vsts-node-api**? From my understanding TFS and VSTS completely two different instances. No?

[2018-06-01 14:12] #169 closed

[2018-06-11 19:53] omeshp opened #187 "BeginGetAreaLocation caches the response even in case of failures."
The code at https://github.com/Microsoft/vsts-node-api/blob/master/api/VsoClient.ts#L189 caches the response even in case of failures. So if a call like getBuild fails with timeout error, retrying the call fails with the same error.

[2018-06-13 13:09] stephenmichaelf commented on #187
Will take a look, thanks!

[2018-06-13 13:10] stephenmichaelf commented on #187
Is this resolved now? Can close if so.

[2018-06-13 13:22] omeshp commented on #187
@stephenmichaelf The fix isn't ported to this repo, I have fixed it in "Download Build Artifacts" task, I can port it to this repo also. I have tested the changes for "Download Build Artifacts" scenario and they seems to be working fine.

[2018-06-13 18:53] stephenmichaelf commented on #187
Doesn't your solution set the value to null? In the success case areaLocationsPromise has not been updated yet since the promise has not resolved.

[2018-06-13 18:54] stephenmichaelf commented on #187
Also not sure why we have the node api copied into this Task? If there are changes needed in the node api we should make them there and reference as npm package.

[2018-06-13 19:29] omeshp commented on #187
@stephenmichaelf No, the promise is assigned before hand, resolving the promise will just mark it fulfilled.

Regarding copying vso-node-api, there a set of pending issue which need to be fixed before we can use published version of vso-node-api, like the vso-node-api is currently using old typed-rest-client. Old typed-rest-client had issue with proxy and connection pooling because of which "Downl

[2018-06-18 15:00] hashtagchris opened #188 "node-api's downloadSecureFile returns stream of json metadata if ticket is null"
If a securefiles request is made without a ticket or an Accept header, you match a different controller method and get a Json response. vsts-node-api should ensure ticket is included in the request. vsts-node-api should probably check that ticket isn't falsey.

Repro:

[code]

[2018-06-18 18:12] pabrams opened #189 "deleteDocumentByName"
### Environment
Node version: 8.9.3
Npm version: 5.6.0
OS and version:  Windows 7 SP1
vsts-node-api version: 6.3.2

### Issue Description
deleteDocumentByName fails silently when document Id contains forward slash

### Expected behaviour
record should be deleted from database

### Actual behaviour
record is not deleted from database

### Steps to reproduce
1.  Create a document that has an ID cont

[2018-06-19 13:09] stephenmichaelf commented on #189
Thanks for letting us know! I will check with the team who owns this.

[2018-06-24 07:16] japj commented on #183
The vsts-agent has a proxybypass option, perhaps this is something that could be made to behave in a consistent way? (Same configuration/behavior)

[2018-06-25 14:11] stephenmichaelf opened #190 "Profile service failed query"
Tried to run creation samples for profile service and it had an error

[2018-06-25 19:30] nschonni commented on #183
@gforceg your patch looks good, are you going to submit a PR?

[2018-06-26 15:24] Ninido opened #191 "getWorkItems AsOf Date fails"
### Environment
Node version: 8.9.4
Npm version: 5.6.0
OS and version: Windows 8
vsts-node-api version: 6.5.0
typescript: 2.8.3

### Issue Description
I'm testing the vsts-node-api library with React and TypeScript and I came upon issue with getWorkItems method and Date parameter (AsOf parameter).

When i trigger my call i get 404 back. Same call Without Date parameter works as expected.

404 call

[2018-06-26 19:31] stephenmichaelf commented on #191
I will take a look! Thanks for letting us know.

[2018-06-29 04:12] gforceg commented on #183
@nschonni, I forgot I started this issue after I made the above comment regarding the --proxy argument. I'll submit the PR and see what happens.

[2018-06-29 15:44] stephenmichaelf commented on #142
Should be resolved now in version 6.5.3. Will publish soon.

[2018-07-09 06:29] natepelzel opened #196 "Feature Request: Support for Get Iteration Work Items endpoint"
Node version: 8.11.2
Npm version: 6.1.0
OS and version: Mac OS X 10.13.4
vsts-node-api version: 6.5.0

### Issue Description
I spent some time poking around and was not able to find a way to call the endpoint for retrieving work items for a certain iteration (documented [here](https://docs.microsoft.com/en-us/rest/api/vsts/work/iterations/get%20iteration%20work%20items?view=vsts-rest-4.1)).
Did I

[2018-07-09 13:09] stephenmichaelf commented on #196
I will take a look and see why it's not available. Thanks!

[2018-07-13 10:13] kachkaev commented on #98
Same problem here

[code]
↑ results 400

---
[code]
↑ works OK

[2018-07-20 08:08] pradeepgudipati commented on #21
@stephenmichaelf , getPullRequestsByProject sample is still not there !

[2018-07-20 13:52] stephenmichaelf commented on #21
Will add this specific one, thanks!

[2018-07-27 21:28] nschonni opened #197 "[Suggestion] Tag/Release when the final api-version is generated"
For those running on TFS rather than VSTS, being able to browse the API for the version of TFS we're using would be very helpful.
EX: From the versions listed here https://docs.microsoft.com/en-us/rest/api/vsts/?view=vsts-rest-4.1#api-and-tfs-version-mapping
Being able to click through to the git tag of the generated API would mean we could see what the API contracts are, even if they are no longe

[2018-08-03 11:16] pkarny opened #198 "[WorkItemTrackingApi] addTestCasesToSuite fails to add test cases to suite"
### Environment
Node version: 8.9.3
Npm version: 6.2.0
OS and version: Windows 10
vsts-node-api version: 6.5.3 (current master), 6.5.0 (current npm latest)

### Issue Description
While trying to add existing test cases to existing suite operation fails without any error.
On VSTS all work items stay untouched.

### Expected behaviour
Test cases should be connected with test suite

### Actual behavi

[2018-08-03 12:34] stephenmichaelf commented on #198
Thanks @pkarny I will take a look!

[2018-08-05 00:46] ian-craig opened #199 "searchCriteria in GitApi are not serialized correctly"
### Environment
Node version: 10.8.0
Npm version: 6.2.0
OS and version: Windows 10
vsts-node-api version: 6.5.0

### Issue Description
The `GitQueryCommitsCriteria` object is not serialized correctly when passed to `GitApi` methods (e.g. `getCommits`).

`GitQueryCommitsCriteria` can contain nested objects, but the method used to serialize the object (`VsoClient.getSerializedObject`) only looks one

[2018-08-06 08:28] Ninido commented on #191
Is there any status update for this issue? Thanks.

[2018-08-06 19:44] stephenmichaelf commented on #191
Not yet, will try to take a look tomorrow.

[2018-08-16 13:55] kachkaev commented on #41
@stephenmichaelf I'm also facing a problem with traversing teams. Basically what I'd like to do is to get all human members of the given project team. `coreApi.getTeamMembersWithExtendedProperties()` returns a mix of team references and human members and I can't figure out what API call to make to expand those teams. Any suggestions?

[2018-08-16 22:23] kachkaev opened #200 "No way to retrieve all individual members of a project"
### Environment
Node version: 10.8
Npm version: yarn 1.9.2
OS and version: macos
vsts-node-api version: 6.5.0

### Issue Description

I would like to get a full list of individual project members. This is needed to map their email addresses to VSTS account ids and later dynamically assign these ids as release approvers. There exists a method named `coreApi.getTeamMembersWithExtendedProperties()`,

[2018-08-16 23:29] bryanmacfarlane commented on #200
Please provide that feedback to developer community for a service change.  The node api is generated from the service and this is a feature request of the service.

[2018-08-16 23:50] bryanmacfarlane commented on #200
https://developercommunity.visualstudio.com/spaces/21/index.html

[2018-08-16 23:50] #200 closed

[2018-08-17 06:34] kachkaev commented on #200
@bryanmacfarlane I thought the API does allow this in general, it’s just Node SDK does not cover such thing.

Meanwhile, do you know of a method that would return user id by their email address? That’s what i’m after in the end when trying to get all users in a given project.

[2018-08-17 12:52] stephenmichaelf commented on #200
@kachkaev Do you have a sample of the API call that does this that's missing from the node lib?

[2018-08-17 13:27] omkar2607 commented on #158
Hello..Did the create a connection work @pabrams ? I started following the same instructions. However I am unable to understand the steps for Running the .ts code for connecting to vsts.

[2018-08-17 17:52] pabrams commented on #158
@omkar2607 Iirc, the updated instructions worked for me once I figured out how to get a Personal Access Token and get the proper collection url.

[2018-08-17 17:53] pabrams commented on #158
I'm closing this issue since it was resolved by the merge.  Omkar, you might want to open a new one if you're having problems.

[2018-08-17 17:53] #158 closed

[2018-08-20 20:52] nadavsinai commented on #175
Hi @stephenmichaelf ,
I've tried to make vso-node-api work with our on-prem TFS (2018 now) for a while now . I wrote about this in issue #114. didn't have the time to look deeply into the matter until now.
this time around I closed the repo and looked at the source, I found exactly what you describe in this issue and did exactly what you did in our branch in our fork [algotec/vso-node-api](https:/

[2018-08-21 11:24] bryanmacfarlane opened #201 "Add package management APIs"

[2018-08-21 12:13] stephenmichaelf opened #202 "Query methods for WorkItemTracking have required field listed as optional."
Both of the following methods have teamContext listed as optional but it is required for a successful query.

queryByWiql(...)
queryById(...)

It seems like it should be optional. This might be an API fix.

Additional details:

The parameter itself is optional but the code is accessing members of the teamContext object, which results in an exception being thrown. However, it is sufficient to pass

[2018-08-21 18:12] stephenmichaelf commented on #175
Are you calling readBody multiple times? Calling it right when you get 200 should work. I haven't done a PR for this fix yet.

[2018-08-24 15:39] kevinrusson commented on #114
I'm having the same issue reported above using an on-prem TFS 2018 RTW (Version 16.122.27102.1) and vso-node-api 6.5.0 (latest version).

I'm trying to authenticate using a PAT:

    const collectionUrl = `${config.tfs.url}/DefaultCollection`;
    const authHandler = vsts.getPersonalAccessTokenHandler("PAT here");
    this.connection = new vsts.WebApi(collectionUrl, authHandler);
    const witApi:

[2018-08-24 19:56] nadavsinai commented on #175
no, not calling it more than once, it fails already on the first time.
I am waiting for your official PR, doesn't seem that anyone got  on prem TFS autenticated with NTLM yet.

[2018-08-27 04:10] trinhpham commented on #153
This library mostly doesn't work with TFS 2015 now.
All WebApi.get[Component]Api() methods try to call to getResourceAreas() -> getVersioningData() -> beginGetLocation()
And because of this failing, we can't go next.
Do you have any idea for this, @stephenmichaelf ?

[2018-08-27 13:49] stephenmichaelf commented on #114
@kevinrusson Can you send me the specific request/response that is giving you the error?

stfrance at microsoft dot com

[2018-08-27 13:50] stephenmichaelf commented on #153
What is the specific issue you are seeing, beginGetLocation is returning 404 and the whole thing stops?

[2018-08-27 22:03] klazuka commented on #199
I also ran into this bug. @ian-craig thanks for providing the workaround!

Seems like an important bug to fix.

[2018-08-29 01:40] trinhpham commented on #153
Yes, @stephenmichaelf
I've run the sample code and get the error as below.
You could see that the second console.log cannot be run.
![image](https://user-images.githubusercontent.com/9128061/44760017-237a5100-ab67-11e8-9a96-9de89846b237.png)

[2018-08-30 11:59] nadavsinai commented on #175
@stephenmichaelf or anyone else in VSTS team - can we get a sign to whether NTLM support will be available anytime soon? should I open a separate ticket here?
I've done what I can in the @algotec/vsts-node-api fork, i'm stuck with something I can not even debug - node just quits on me, not respecting any "break on exceptions" flag.

[2018-08-30 12:01] nadavsinai commented on #172
It fails also with TFS 2017, even the latest vso-node-api doesn't have working NTLM support.
see #175

[2018-08-30 13:55] stephenmichaelf commented on #175
Except for a minor change the handlers in this repo haven't been changed in a while. Is there any version, pre [this change](https://github.com/Microsoft/vsts-node-api/commit/5db8f429772240873aaeb8aa60c90eca141df742#diff-d445f12d1cd7e3e47d747591dec4e706) that works? Or did it never work?

[2018-08-30 14:26] nadavsinai commented on #175
never managed to get it to work....

[2018-08-30 17:08] stephenmichaelf commented on #175
I think we just need to pull in the handlers from the typed rest client, those are working. I will try and get to this next week. Can you use a different type of auth for now?

[2018-08-30 17:10] stephenmichaelf commented on #175
If this has never worked then you are the first person to try and use NTLM with this lib, or there is an issue with your setup :) I am not sure which.

[2018-08-30 22:37] johnseghersmsft opened #203 "Several rest.update calls have incorrect parameters"
### Environment
Node version: v8.9.4
Npm version: 5.6.0
OS and version: Windows 1803 (17134.228)
vsts-node-api version: 6.5.0

### Issue Description
Multiple calls to `rest.update` pass only url and options. `rest.update` requires `(url, resources, options)`.

This causes the API version information to be passed in the body rather than the accept header.

Example error when calling `ReleaseAPI.add

[2018-08-31 12:55] stephenmichaelf commented on #203
Thanks I will take a look! The clients are generated and I think this is a bug tracked in another issue with the generation. Will dig in and make sure.

[2018-08-31 13:02] stephenmichaelf commented on #153
Thanks @trinhpham appreciate the details. We need to add some code to handle that more gracefully if the endpoint doesn't exist.

[2018-08-31 13:10] stephenmichaelf commented on #175
Generally the use case for this is with a bearer token. I will keep this on the backlog and look into it. I would recommend using different auth if possible.

[2018-09-02 06:45] nadavsinai commented on #175
My use case is this:
I have written a CLI which maintains the developers workspace - cloning, commiting and performing other git/tfs operations on behalf on the user.
I can not use a token for the CLI app (as I need the current user's permissions) and asking each user to create a personal access token is tiresome.
currently on first use I ask the users for their passwords (username is known from e

[2018-09-02 10:28] ethomson opened #204 "Build definition trigger types are not DefinitionTriggerType"
vsts-node-api version: 6.5.0

### Issue Description
When I query build definitions, and request to include all properties, the returned trigger types are not `DefinitionTriggerType`s.  Unlike the return of a single build definition query, these are enums to string values, not numeric values.

Assuming that I have a build definition with a single trigger that is a pull request trigger:

[code]

###

[2018-09-04 13:44] stephenmichaelf commented on #175
@bryanmacfarlane To comment on ideal solution.

[2018-09-04 17:14] stephenmichaelf commented on #34
@damccorm can you take a look at this?

[2018-09-04 18:11] damccorm commented on #34
@stephenmichaelf I think that this was taken care of in https://github.com/Microsoft/typed-rest-client/commit/9a7f674a490a70a457c54ac5c62374c9b13fce5d#diff-f31e14a10c23a24a1ea5b65fa061110f

The response body is now included in the err object's 'result' field.

[2018-09-04 18:43] damccorm commented on #34
Added tests to ensure this, reflected in this PR - https://github.com/Microsoft/typed-rest-client/pull/77

[2018-09-05 16:56] damccorm commented on #191
Pretty sure this is the same issue as here: https://github.com/Microsoft/vsts-node-api/issues/98

I submitted a PR that should fix both.

[2018-09-06 14:40] stephenmichaelf commented on #44
@damccorm

[2018-09-06 14:40] stephenmichaelf commented on #155
@damccorm

[2018-09-07 17:05] damccorm commented on #149
@lvsezhufu I believe the getCommits function in the GitApi can do this. The second parameter takes a GitQueryCommitsCriteria object, which has an optional itemVersion field. This allows you to indicate a branch that you would like to search.

[2018-09-07 17:06] damccorm commented on #148
@insulind this should be possible, see here: https://github.com/Microsoft/vsts-node-api/issues/149

[2018-09-07 20:20] johnseghersmsft opened #207 "UpdateRelease gives bogus error when using OAuth token"
### Environment
VSTS agent version 2.129.0
Node version: v8.9.4
Npm version: 5.6.0
OS and version: Windows 10.0.14393
vsts-node-api version: 6.3.2

### Issue Description
Using UpdateRelease to change the Deployment Group queueId in a Deployment Phase works when using Personal Access Token, but not when using OAuth token.

As a secondary issue, it is unclear the mapping between "Project Collection

[2018-09-07 21:44] johnseghersmsft opened #208 "ReleaseApi.getReleases requires PAT with All Scopes"
### Environment
Node version: v8.9.4
Npm version: 5.6.0
OS and version: Windows 17134.228
vsts-node-api version: 6.3.2

### Issue Description
calling ReleaseApi.getReleases with a tag filter requires a PAT with the "All Scopes" option. Using "Selected scopes" and selecting all of the scopes available will not work. Thus the scope required for this API is not selectable for a PAT.

### Expected beh

[2018-09-10 12:56] damccorm commented on #175
I went ahead and added this to my PR upgrading to the latest typed-rest-client, it now uses typed-rest-client's handlers

[2018-09-10 18:50] #34 closed

[2018-09-11 14:26] #155 closed

[2018-09-11 14:26] #98 closed

[2018-09-11 14:26] #175 closed

[2018-09-11 14:26] #191 closed

[2018-09-11 14:26] #199 closed

[2018-09-12 00:40] bryanmacfarlane commented on #208
service side issue.  not a node api issue (we're just passing the token)

please create a report on developer community: https://developercommunity.visualstudio.com/spaces/21/index.html

[2018-09-12 00:40] #208 closed

[2018-09-12 13:18] kim-knudsen commented on #149
Specifying the `GitQueryCommitsCriteria` still has no effect for me, e.g.:

[code]

I only receive `master` commits. 🤔

[2018-09-12 13:27] stephenmichaelf commented on #149
@kim-knudsen Can you turn on Fiddler and compare the HTTP requests and see what's different between the one that gets the results you want and the failing one?

[2018-09-12 16:49] stephenmichaelf opened #211 "Build required modules not referenced correctly"
There were 2 dependencies added to the build api incorrectly. They need to be updated on the generation side.

[2018-09-12 16:51] stephenmichaelf opened #212 "APIs not getting generated"
Profile, SecurityRoles are not getting generated.

I check the genclient files and don't see any glaring issues. Need to revisit this.

[2018-09-17 06:56] DennisPan opened #215 "Query params broken with version 6.6.0?"
### Environment
Node version: 8.11.4
Npm version: 5.6.0
OS and version: macOS High Sierra 10.13.6
azure-devops-node-api version: 6.6.0

### Issue Description
Installed most recent changes (#206). Tried this code:

[code]

### Expected behavior
The request is sent to `https://<account>/<project id>/_apis/git/repositories/<repo id>/pullRequests?status=3"`

### Actual behavior
The request is sent to

[2018-09-17 10:36] stephenmichaelf commented on #215
Thanks for reporting @DennisPan we will take a look today.

@damccorm Can you take a look? Let's add Nock L0s and some L1s. Can serve as samples too. We should try to make L1s that cover more of the surface area for each API.

[2018-09-17 13:02] damccorm commented on #215
Added a PR to take care of the root issue. I'll start working on the tests as well, just figured I'd push this first since its such a simple fix.

[2018-09-17 13:27] damccorm opened #217 "Add L0 and L1 tests for base API logic (VsoClient)"
Can Nock L0's, want to cover more api surface area

[2018-09-17 20:15] bryanmacfarlane commented on #212
I don't want to generate FileContainer - follow up with me

[2018-09-18 14:05] stephenmichaelf opened #219 "Create L1 tests for Wit"

[2018-09-18 14:05] stephenmichaelf opened #220 "Create L1 tests for Git"

[2018-09-18 14:05] stephenmichaelf opened #221 "Create L1 tests for Identity"

[2018-09-18 14:05] stephenmichaelf opened #222 "Create L1 tests for Build"

[2018-09-18 14:20] stephenmichaelf commented on #148
I am going to close this, let's track in #149

[2018-09-18 14:20] #148 closed

[2018-09-18 14:27] stephenmichaelf commented on #124
@helaili Are you still having an issue with running tests? They should be working now. Can you get latest and try?

[2018-09-18 14:31] stephenmichaelf commented on #110
@damccorm Can you take a look?

[2018-09-18 14:43] stephenmichaelf commented on #90
Working on this now, can create Issue in tfx-cli too.

[2018-09-18 15:11] stephenmichaelf commented on #90
And add L0 tests once that infrastructure is setup. Good candidate for a Nock test to make sure the header is set correctly with/without tool being specified.

[2018-09-18 15:36] damccorm commented on #215
Closing this since its been resolved by the PR

[2018-09-18 15:36] #215 closed

[2018-09-18 15:56] DennisPan commented on #215
Why aren't we publishing the new version to npm yet?

[2018-09-18 16:11] damccorm commented on #128
From the documentation: "The download parameter is to indicate whether the content should be available as a download or just sent as a stream in the response. Doesn't apply to zipped content, which is always returned as a download."

https://github.com/Microsoft/azure-devops-node-api/blob/91cc61009898b0f8656cba70e54fff63257e734f/api/GitApi.ts#L1723

Looks like the issue here is that tgz files can'

[2018-09-18 16:14] damccorm commented on #215
@bryanmacfarlane Can we release this?

[2018-09-18 16:31] stephenmichaelf commented on #128
Thanks for taking a look, closing this as it doesn't seem to be a bug with the node api. Expected functionality.

[2018-09-18 16:31] #128 closed

[2018-09-18 20:17] damccorm commented on #90
@stephenmichaelf I added a PR to address this, I'm going to hold off on adding testing until #218 is approved (adding a setup for testing) to avoid issues merging them together.

[2018-09-19 02:16] gregpakes opened #224 "How to get task name and publisher whilst inside a task?"
I am writing an extension that has a task.  I am trying to use the ExtensionManagement Api to get documents out by name using the **getDocumentByName** method.

This method expects as arguments:

- publisher
- extensionName

The issue is that I don't want to hardcode these values.  In our release pipeline we have Dev, Preview and Release versions of the extension and the extension name changes wit

[2018-09-19 12:51] stephenmichaelf commented on #224
Can you parse the [vss-extension.json](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=vsts#step-2-create-the-extension-manifest-file) and get this information?

Publisher is at the root and the task name can be found in the contributions array. If your extension just has one task you can get the first item and check for the id.

[2018-09-19 23:16] gregpakes commented on #224
Hi,

In theory yes, but as I said we have a different vss-extension.json file for dev.  So I thought it would be better if this data came from the runtime.

thanks,

Greg

[2018-09-20 15:53] #217 closed

[2018-09-20 19:18] damccorm commented on #149
Looks like this was an issue with serializing nested objects that wasn't quite fully fixed. About to put a PR in that fixed it for me locally.

[2018-09-20 22:41] gregpakes commented on #224
Further to this - how would I do this when the filename changes during deployment?

The source file is **vss-extension.json**, but when packaged the file is **extension.vsomanifest**.

The package file also does not contain the publisher.

Is there no better way to do this?

[2018-09-21 13:04] stephenmichaelf commented on #224
Can you pass the extension name to your release and change that value per version?

I am not sure I fully understand what you're trying to do. You're releasing your extensions but want to query the API to get the name of the extension you're trying to release?

And when you say "look up... from within a task" do you mean the task in your task definition or the task inside your extension?

If you c

[2018-09-21 13:50] #90 closed

[2018-09-21 15:33] damccorm commented on #109
I think that this was already fixed, but if not then #226 should take care of this, the query params are all definitely URI encoded now.

[2018-09-21 15:43] damccorm commented on #134
Looks like we're no longer supporting the service hook api so I'm closing. Feel free to reopen if appropriate.

[2018-09-21 16:39] damccorm commented on #187
@omeshp, FYI we upgraded to the new typed-rest-client in #206. I'm adding a PR to port over your solution to this problem as well.

[2018-09-21 20:44] flcdrg commented on #134
Whoa... What do you mean by not supporting?

I've got a whole bunch of stuff that depends on service hooks. Are they going away and if so what are they being replaced with?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: damccorm <notifications@github.com>
Sent: Saturday, September 22, 2018 1:14:13 AM
To: Microsoft/azure-devops-node-api
Cc: David Gardiner; Mentio

[2018-09-22 01:03] gregpakes commented on #224
@stephenmichaelf I appreciate you trying to help.  I will explain the situation below.

I have an extension.  This extension contains a **Pull Request Hub** and a **Release task**.

The hub puts documents into the **extensiondata** that will later be retrieved by the task.  The issue is that the API to interact with **extensiondata** is different between the hub and the task.

In the hub, you do n

[2018-09-22 19:13] damccorm commented on #134
Whoops, my mistake - as I reread I realize that I both didn't fully understand the issue and communicated my response poorly. Totally my fault, apologies for alarming you. This is not something that is going away.

Regarding your issue, I don't think that at least in this library we're planning on creating types for the service hook data, again that's somewhat out of the scope of what this library

[2018-09-23 05:38] wham opened #232 "Failing to map response header value to response object."
My build definition has 1k+ builds over the course of the past month. Method `getBuilds()` does not return them all. My understanding is that I need to implement pagination. There is a parameter `continuationToken` but it's not clear how to set it. API response header `x-ms-continuationtoken` does not seem to be persisted by the code. Any suggestions please?

[2018-09-24 13:45] stephenmichaelf commented on #232
Yes it looks like that header is the value you need to pass in the subsequent request. I will check on how we can update our code to map it for easy access.

[2018-09-24 14:37] #149 closed

[2018-09-24 14:40] damccorm commented on #109
#226 has been submitted, so this should be working, let me know if its still causing problems. I'm going to close for now, feel free to reopen if appropriate.

[2018-09-24 14:40] #109 closed

[2018-09-24 22:04] wham commented on #232
Thanks! I'm looking for a contribution, if you give me a spec how this should be done, I can try coding it. I suspect we'll have to modify https://github.com/Microsoft/typed-rest-client first, it currently does not expose the response headers.

[2018-09-26 10:35] alexjchapman opened #234 "CoreApi: Cannot create new project with name of deleted project"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 10.5.0
Npm version: 6.1.0
OS and version: Windows 7
vsts-node-api version: 6.6.0

### I

[2018-09-26 17:06] stephenmichaelf commented on #234
How long was it from the time the project was deleted to the time you tried to create it with the same name? It's possible there is a delay in the actual deleting.

[2018-09-26 17:14] stephenmichaelf commented on #134
@damccorm Is correct that we do not have plans to add the types for service hooks in this lib.

@bryanmacfarlane May know if there is another lib where we have this. There isn't one that I am aware of for Typescript.

[2018-09-26 17:18] damccorm commented on #198
Looking into this, looks like an issue with replaceRouteValues in VSOClient

[2018-09-26 23:45] gregpakes commented on #224
I'm still blocked by this - Any ideas would be great!

[2018-09-26 23:50] bryanmacfarlane commented on #224
We don't offer that in node-api.  I also don't think it's the role of node-api.  Node-api is a generated api of the rest apis proferred by azure-devops.

[2018-09-27 00:17] gregpakes commented on #224
Is there a better/different repo I should be posting this to?

[2018-09-27 01:49] bryanmacfarlane commented on #224
You're in a task that's in an extension.  You know what extension you're part of.  It's a constant.

[2018-09-27 01:50] bryanmacfarlane commented on #224
vsts-task-lib is a better place however I still believe it's a constant, not an api

[2018-09-27 01:50] #224 closed

[2018-09-27 13:45] damccorm commented on #198
Actually nevermind, I think that action should be getting replaced on the server side, as best as I can tell we don't have a way to replace that on our side.

[2018-09-27 14:58] damccorm commented on #232
@wham I just assigned an issue to you here: https://github.com/Microsoft/typed-rest-client/issues/87

Once RestClient returns headers, it should be possible to update the autogeneration to pull them out here.

[2018-09-27 16:42] damccorm commented on #198
Opened a PR for the autogeneration that fixes this, once that goes through we can regenerate and push to here.

[2018-09-27 19:07] stephenmichaelf commented on #234
@damccorm You had been looking into the creation queue for some of our tests, did you see anything about deleting when you looked?

[2018-09-27 19:29] damccorm commented on #234
Hmm, I just reverified that I can still do this without errors, example code that I ran here: https://github.com/Microsoft/azure-devops-node-api/blob/b8778333948c98e689f0d25b0a50b0c152c7a9e8/samples/run.ts (this basically spins up a project, runs samples, and deletes the project. It can be run repeatedly with no issues, but the project always has the same name). Are you deleting the project with t

[2018-09-27 19:33] damccorm commented on #234
I'm also using git for version control, maybe there are differences there that are causing issues. @alexjchapman would you mind providing an example create call that's failing?

[2018-09-27 19:40] namankanakiya commented on #174
Any update on this? The NTLM still seems to be broken. Seems like the data is not being passed through correctly:

```{ Error: TF400813: The user '' is not authorized to access this resource.```

[2018-09-27 19:42] namankanakiya commented on #172
Still failing as of 6.6.0

[2018-09-27 20:09] damccorm commented on #188
I've created a PR to fix this in the code generation. Once it is submitted, we'll regenerate and publish here.

[2018-09-28 01:07] gregpakes opened #235 "Timeout when calling getPullRequestQuery"
Server: Azure Devops
Agent: Hosted VS2017

### Issue Description
I am writing a task which needs to use the function **getPullRequestQuery**.  This can sometimes try and pull alot of data.  When the number of commits gets large (3000), I get a timeout.

### Expected behaviour
I would expect the function to return the data or to allow me to set a timeout.

### Actual behaviour
I get the following e

[2018-09-28 01:13] gregpakes commented on #235
Ignore me....

[2018-09-28 07:07] helaili commented on #124
Not using the API anymore but thanks for the follow up.

[2018-09-28 07:07] #124 closed

[2018-09-28 07:16] alexjchapman commented on #234
`project = {
            capabilities: {
                processTemplate: {
                    templateTypeId: "27450541-8e31-4150-9947-dc59f998fc01",
                },
                versioncontrol: {
                    sourceControlType: "git",
                },
            },
            description: "New project",
            name: projectName,
            visibility: "private",
        }

[2018-09-28 07:41] alexjchapman commented on #234
Our create and delete code is identical to yours, the only difference is the template type id in the project body.

[2018-09-28 13:01] damccorm commented on #234
Ok, I tried switching to that template type id and was still able to get it to work. With that being said, I see that you have your visibility set to "private" as a string, but visibility is supposed to map to the ProjectVisibility enum. I think what you want is coreInterfaces.ProjectVisibility.Private (or just 0). Please try that and let me know if that fixes your issue.

https://github.com/Micro

[2018-09-28 13:12] damccorm commented on #203
I submitted a PR to update the generation logic, we should be able to regenerate soon and fix this.

[2018-09-28 15:53] damccorm commented on #44
Looking at https://github.com/Microsoft/azure-devops-node-api/pull/233, it looks like we're now sending headers in a much different way than we were and I was unable to reproduce. I'm going to close, feel free to reopen if this issue persists.

[2018-09-28 15:53] #44 closed

[2018-09-28 18:27] damccorm commented on #141
This is basically the same issue as #232 (not having access to headers). Since we're tracking there, I'm going to close here.

[2018-09-28 18:27] #141 closed

[2018-09-28 18:29] damccorm commented on #72
This is also being tracked in #74, so I'm going to close here.

[2018-09-28 18:29] #72 closed

[2018-09-28 18:36] damccorm commented on #132
I'm going to go ahead and close this since we updated to the latest typed-rest-client and it is confirmed working there. Feel free to reopen if appropriate.

[2018-09-28 18:36] #132 closed

[2018-09-28 19:01] damccorm commented on #220
@stephenmichaelf As I've started working on this, I've started to question whether it might just make more sense to prioritize building out the samples (this applies to all of issues 219-222). Because we can't rely on what users' already have in their projects, to test effectively we have to create anything we want to test on. This in turn limits what we can test because there's not a way to progr

[2018-09-28 19:05] damccorm commented on #167
I submitted a PR to update the generation logic, we should be able to regenerate soon and fix this.

[2018-09-28 19:05] damccorm commented on #167
Also, this is currently being tracked in #203, I'm going to close here and continue to follow up there.

[2018-09-28 19:05] #167 closed

[2018-09-28 19:31] damccorm commented on #173
I think requiring the author to be omitted is actually the correct behavior - you shouldn't be allowed to create a comment for other people, so I think the comments are automatically set to have the caller be the author which makes sense to me. Setting someone else as the author, then, would end up trying to reassign the comment to a different author, causing an error.

Regarding the optional prop

[2018-09-28 19:31] #173 closed

[2018-09-28 20:04] damccorm commented on #204
Definitely looks like this is an issue with the API, not this library. Try https://dev.azure.com/{organization}/{project}/_apis/build/definitions?api-version=4.1&includeAllProperties=true. It comes back with the trigger types as strings with no additional info linking them to the enum.

Not sure if this was intentional, but it doesn't seem ideal. Regardless, might be hard to fix without breaking b

[2018-09-28 20:04] omeshp commented on #132
@damccorm @stephenmichaelf Thanks for taking care of this. I haven't gotten around to trying this yet, will update once I do. You can close the issue for now.

[2018-09-28 20:09] bryanmacfarlane commented on #220
Agreed. We need to prioritize customer issues and samples.

[2018-09-28 22:35] gregpakes commented on #235
I'm going to reopen this...

In short - How can I change the timeout setting in this API?

[2018-09-29 02:15] damccorm commented on #235
When you initialize the API, you should be able to specify an optional parameter called options, which is a VsoBaseInterfaces.IRequestOptions object. This in turn has a socketTimeout field, I believe that's what you're looking for. Please let me know if this solves your problem and/or if there's any additional info I can provide!

https://github.com/Microsoft/azure-devops-node-api/blob/a9304ac939c

[2018-09-29 02:32] gregpakes commented on #235
Thanks for this.

Do you have any idea why I would get this error in production (hosted agents) but not in dev, running the exact same queries against the same VSTS instance?

[2018-09-29 15:09] damccorm commented on #235
Hm, I can't say for sure, I guess one thing that could be causing issues is if there's a I/O bottleneck in how fast the agent can consume the data (and your dev machine absorbs faster than the hosted agent). You might be close to the timeout and that bottleneck would then push it over the edge. Have you tried setting a higher timeout and seeing if that fixes it in production?

[2018-10-01 12:53] damccorm commented on #234
Agreed, that's not super helpful. With that being said, my typescript compiler at least caught the issue and wouldn't let me create that object, so I'm surprised it didn't do the same for you (unless you're just using normal JavaScript). The error behavior is also an issue with the API (this library is autogenerated from a REST endpoint), I'll pass it on to them internally and close the issue here

[2018-10-01 12:53] #234 closed

[2018-10-01 13:06] alexjchapman commented on #234
Just realised why our typescript compiler wasn't catching this, we passed our project body as type any because my colleague didn't want to populate the _links, defaultTeam, abbreviation, id, revision, url and state fields (that you also passed in as null in your example code). Could be worth asking your guys to change those fields to be optional.

[2018-10-01 13:11] damccorm commented on #234
Yeah, that's a pain to do, we actually have a PR in for this internally now, its being tracked here: https://github.com/Microsoft/azure-devops-node-api/issues/74

[2018-10-01 13:50] stephenmichaelf commented on #235
@gregpakes Are you running locally using an agent on your machine or running the script directly?

It could be a timeout from the agent, @TingluoHuang ?

[2018-10-01 20:30] damccorm commented on #190
@stephenmichaelf I created a profile sample and didn't have any issues, maybe it got fixed by one of the autogenerations or on the API side?

[2018-10-02 11:58] nadavsinai commented on #175
hi @damccorm , @stephenmichaelf

Thank you for your work on the matter, I upgraded my code to use the new "azure-devops-node-api": "^6.6.0" but still could not use ntlm authentication.
The error is still slient and impossible to debug,
the code for my auth init looks like this (wrapped in an async function):

[code]
the first log is displayed and the second isn't at all. the node process just quit

[2018-10-02 12:28] damccorm commented on #175
@nadavsinai it looks like NTLM is indeed broken even with the move to typed-rest-client handlers, I'm looking into this but will track it through #172 since that's more dedicated to this exact issue.

[2018-10-02 13:35] damccorm commented on #172
Currently investigating. It looks instead of getting a 401 response (which we would expect), we're getting a 302 redirect message, which redirects us to a 203 with an empty response message. I think the only reason we're not getting issues with using PAT here is that it uses preauth, it may be that only preauth is supported on the server side (in which case NTLM would not be a viable option). I'll

[2018-10-02 15:17] damccorm commented on #172
It looks like currently, even for a call that returns a 401, like WebApi.getCoreApi() NTLM is not working. This looks like another issue on the server, as the www-authenticate header is not returning NTLM as an option. Not sure if this is because it is not supported at all or they are just missing that in the header response. Regardless, I'll log this with them and continue to communicate any upda

[2018-10-02 15:20] damccorm commented on #174
@chrismbarr, unfortunately I think the longest expiration period we allow is 1 year as far as I know.

[2018-10-02 15:22] damccorm commented on #174
Concerning NTLM, I'm taking a look and tracking it in #172. I'm going to close since it looks like the basic auth question has been resolved and we're tracking NTLM elsewhere.

[2018-10-02 15:22] #174 closed

[2018-10-02 16:59] damccorm commented on #207
@johnseghersmsft we recently updated to use the typed-rest-client handlers, is this still an issue? Also, have you tried using OAuth for anything else, and if so was it successful?

[2018-10-02 19:09] hoovercj opened #237 "versionType=2 is not a valid value for versionType. Try one of: Branch,Tag,Commit"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 8.10.0
Npm version: 5.6.0
OS and version: Win 10
azure-devops-node-api version: 6.6.0

[2018-10-02 19:38] hoovercj commented on #237
Note: my repositoryName and projectName are the same so I use the same variable in both places but I'm aware that they are in fact two different parameters.

If I don't specify a version at all, I DO get the content of the file in master:

[code]

And if I omit the versionType and just provide `master` as the version, I get a different exception:

Code:
[code]

Exception:
[code]

[2018-10-02 20:43] damccorm commented on #129
I've created a PR in the generation code that should add this to the API. Once that's approved, we can regenerate and push here.

[2018-10-03 12:27] hoovercj commented on #237
To clarify, you mean `azure-devops-node-api`  6.6.2?

[2018-10-03 12:29] damccorm commented on #237
Whoops yes, sorry

[2018-10-03 12:30] hoovercj commented on #237
[code]

I'm assuming tt hasn't been published yet

[2018-10-03 12:37] damccorm commented on #237
Ah, you're correct, sorry forgot I just had it locally - we'll try to get that out soon. I think once that's out this should probably be fixed. Is this blocking you?

[2018-10-03 12:37] damccorm commented on #237
@bryanmacfarlane can we release today?

[2018-10-03 12:40] hoovercj commented on #237
I am blocked, yes.

[2018-10-03 12:42] hoovercj commented on #237
If you can't release today, maybe it's possible to send me a zip of the package (alias: cohoov)

[2018-10-03 12:51] damccorm commented on #137
Looks like we are now returning an explicit null instead of undefined. I don't think we're going to switch to the promise reject model basically because of the reason you laid out - the request was successful, even if no resource was found, meaning there is no repository there.

[2018-10-03 12:52] damccorm commented on #137
I'm going to close since we've switched to null, feel free to reopen if you have further questions/thoughts about that decision though.

[2018-10-03 12:52] #137 closed

[2018-10-03 13:00] damccorm commented on #237
I just sent it, will follow up in this thread when the new version gets published

[2018-10-03 14:36] damccorm commented on #196
Looks like this is stemming from the same cause as #129. I'll continue updating there, but a PR is in to fix this on the autogenerate side, once that is approved we can push the new api here.

[2018-10-03 18:03] damccorm commented on #189
@pabrams is this still broken? It looks like they're now encoding document names to UTF-8 which should avoid this problem. Also, if its still broken, are you encountering these issues when you create the document from this API, when you create it from the UI, or both?

[2018-10-03 18:29] damccorm commented on #138
I'm going to close this for now, feel free to reopen as appropriate.

[2018-10-03 18:29] #138 closed

[2018-10-03 18:51] damccorm commented on #177
I think this is basically just an extension of #178 (its the same basic problem, just a different proposed solution), so they should probably be tracked together. This is especially true since we don't control the solution, that's up to the team that owns the API, so our response is going to be the same for both. I'm going to close this one and we'll track it in #178.

[2018-10-03 18:51] #177 closed

[2018-10-03 19:09] damccorm commented on #115
I don't think this is something we can support in this library since it doesn't exist on the endpoint. In general, it seems like they don't provide enums for things like this properties field which have a lot of different possible keys. If this is something you need, I'd recommend logging this with the developer community for a service change. The node api is generated from the service and this is

[2018-10-03 19:09] damccorm commented on #115
I'm going to close, feel free to reopen if appropriate.

[2018-10-03 19:09] #115 closed

[2018-10-03 19:14] damccorm commented on #126
Looks like this should be fixed by #233

[2018-10-03 19:15] damccorm commented on #197
Added a PR to start to address this, will add tags once that's in

[2018-10-03 19:31] damccorm commented on #153
@stephenmichaelf I think that in general it might just make more sense to assume this endpoint does exist and continue to redirect TFS 2015 users to an earlier version. After v0.7.0, we start using REST 3.0 (changed in [this commit](https://github.com/Microsoft/azure-devops-node-api/commit/1864cfbb59f8cef8c6db2570611fa4d7d8e52f6b#diff-b9cfc7f2cdf78a7f4b91a753d10865a2)), which is only compatible wi

[2018-10-03 20:15] damccorm commented on #146
I think this is something that the team is not planning on fixing. The recommendation is to use an earlier version of this API that is compatible with the version of TFS you are using.

[2018-10-03 20:15] #146 closed

[2018-10-03 20:30] damccorm commented on #176
Update, this is in the team's backlog, the current proposed solution is to delete document collections when all documents are removed from them.

[2018-10-04 04:35] raix commented on #126
@damccorm we need to use the public Gallery api (public == no need to set auth handler)

[2018-10-04 12:55] damccorm commented on #190
I'm going to close for now, let me know if there are issues with things beyond what I added in the sample

[2018-10-04 12:55] #190 closed

[2018-10-04 13:02] damccorm commented on #197
PR is in and tags have been added so I'm going to close this. Feel free to reopen if appropriate

[2018-10-04 13:02] #197 closed

[2018-10-04 14:03] damccorm commented on #126
Ah, gotcha, thanks for clarifying.

Upon investigation, it looks like the thing that is holding the library back from this currently is the call in every method to [vsoClient.getVersioningData](https://github.com/Microsoft/azure-devops-node-api/blob/6525ead92dcbbd585a7d73e6360ea28afe9a3146/api/VsoClient.ts#L117), which eventually triggers a [call to the rest client](https://github.com/Microsoft/az

[2018-10-04 14:19] damccorm commented on #204
I filed a bug internally for this, will follow up here with more info as it comes

[2018-10-04 17:53] damccorm commented on #172
@ankitr42 @nadavsinai @namankanakiya we are actively investigating this right now. It would be helpful if you could answer these questions:

1. Was this ever working for you?
2. If it was working, what version of node-api/TFS were you using?

[2018-10-04 19:35] damccorm commented on #202
Added an internal PR that should fix this once its approved and we regenerate.

[2018-10-04 20:54] namankanakiya commented on #172
It was never working for me

On Thu, Oct 4, 2018, 10:53 AM damccorm <notifications@github.com> wrote:

[2018-10-05 02:53] ankitr42 commented on #172
@damccorm It was never working for me either.

[2018-10-05 04:08] raix commented on #126
Regarding 3. `vsce` is doing more or less what `vs code` does in [extensionGalleryService.ts](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/extensionManagement/node/extensionGalleryService.ts#L487)

Agree with 1. if that's the missing link for this module to be able to add support for requests against the public api.

I guess my point it that I would argue that it would be the re

[2018-10-05 08:12] FlorianRappl commented on #237
I am blocked as well. Would be nice to release 6.6.2 soon, as I don't want to fork / re-release the project internally (or copy it to our sources and change paths). Thanks!

[2018-10-05 14:19] damccorm commented on #126
Several thoughts:
- I think the more that I think about it, the less attractive option 3 is. Right now, we use info from the API to autonegotiate versioning info. Without that, I think this would break for some users who are using TFS.
- I've looked around and haven't been able to find a great alternative for option 1. I may have a way to get the route template, but that alone doesn't solve any of

[2018-10-05 14:21] damccorm commented on #126
@stephenmichaelf, any thoughts on this? I'm somewhat torn on the best way to proceed (though I'm leaning towards a no-op), you might have better perspective/context

[2018-10-05 15:07] stephenmichaelf commented on #126
I reached out to @tedchamb to see how the C# client handles it. We normally try to keep parity with their feature set.

[2018-10-06 03:44] raix commented on #126
We currently have no option to authenticate in vsce it might be the same in vs code? when searching for extensions in the gallary. Also having to authenticate in order to use a public api sounds contradicting.

[2018-10-07 01:48] damccorm commented on #126
@raix, agreed that you don't need auth for those libraries - they're also not supporting things like autonegotiating versioning info (which is part of why we currently need auth) and they aren't autogenerated like this library (which provides other advantages). It might be that we can't have auth without giving up one/both of those things, though I'm interested in how the C# client handles it.

Re

[2018-10-07 08:11] nadavsinai commented on #172
@damccorm never worked for me either. thanks for your work on the issue.

[2018-10-08 00:04] damccorm commented on #183
Closing because of #192

[2018-10-08 00:04] #183 closed

[2018-10-08 14:42] damccorm commented on #172
Do you have the domain and workstation options specified when you get the ntlmHandler? It looks like these should actually be required, and not having them may be the source of the issues. Passing in an empty string should be enough for this. @ankitr42 it looks like they're at least not specified in the sample code you provided.

If that's what is causing the issues, that's definitely something ty

[2018-10-08 21:28] FlorianRappl commented on #237
Any news on this one? Thanks!

cc @damccorm

[2018-10-09 14:37] damccorm commented on #220
I'm going to close these testing issues since we're prioritizing samples and not addressing this right now.

[2018-10-09 14:37] #220 closed

[2018-10-09 14:37] #222 closed

[2018-10-09 14:37] #221 closed

[2018-10-09 14:47] damccorm commented on #178
@pabrams is this still an issue? It looks like they may have updated it so that it is consistently 100-length

[2018-10-09 15:12] huserben commented on #235
@gregpakes

How did you tackle this issue now? I'm facing the same problem that every once in a while it seems that I get a ETIMEDOUT back from VSTS.

I wondered if I shall just increase the timeout value as described above and hope for the best, but maybe you have a better approach?

[2018-10-09 16:05] pabrams commented on #178
@damccorm We aren't running the latest version - it's an issue in TFS 2017 Update 3.  I guess you can close it if you're saying it's fixed, and we'll have to keep using the workaround until we upgrade.

[2018-10-09 16:21] pabrams commented on #189
@damccorm It was happening in v6.3.2 - we'll upgrade to the latest azure-devops-node-api when we get a chance and get back to you.
I encountered this issue in the API - I wasn't aware there was any way to create an extension document from the UI (without calling that API).

[2018-10-09 16:54] damccorm commented on #153
This is related to #126, to summarize, we need this endpoint to do things like get the route and negotiate the version. Here in particular, negotiating the version is vital because the older versions of TFS will not work with the newer API. I think this has to be a no-op because of this.

I'm going to close, our recommendation here is that you just use an older version of this library that works w

[2018-10-09 16:54] #153 closed

[2018-10-09 21:09] gregpakes commented on #235
@huserben

I suspect my solution was unique to me, but I'm happy to explain.  I was firing 5000+ requests to VSTS in an async loop using the **getPullRequestQuery** method.  I was sending one request per commit, but that method actually allows me to batch them.  I batched them into groups of 500 and then was only sending 5-15 requests.  I also increased the timeout and this resolved my issue.

[2018-10-10 18:10] damccorm commented on #211
Added an internal PR to address this.

[2018-10-10 19:13] #187 closed

[2018-10-10 21:06] damccorm commented on #126
Just did a little digging, looks like the C# client doesn't provide a public option - they use the same endpoint to create their requests. Because of that and the other aforementioned reasons, I think this should be a no-op. My recommendation for now would be to just create/send the requests using the typed-rest-client. Basically its going to be the same logic as here, you just need to hardcode th

[2018-10-10 21:07] damccorm commented on #126
I'm going to close, feel free to reopen if you have more thoughts and/or questions though.

[2018-10-10 21:07] #126 closed

[2018-10-11 08:03] joaomoreno commented on #126
That's too bad. Can you quickly review https://github.com/Microsoft/vscode-vsce/blob/master/src/publicgalleryapi.ts?

[2018-10-11 13:16] damccorm commented on #126
@joaomoreno this generally looks fine to me, a couple thoughts though.

1) We use queryParams to encode variables into the url instead of passing them in the request as data. Not sure if the API is ok accepting them both ways or not, but the recommended way for [all of these REST API's](https://docs.microsoft.com/en-us/rest/api/vsts/?view=vsts-rest-4.1) is through the url. So with your parameters

[2018-10-12 09:32] joaomoreno commented on #126
@damccorm Thanks! Created https://github.com/Microsoft/vscode-vsce/issues/297

[2018-10-12 15:09] MortenHoustonLudvigsen opened #243 "The WebApi constructor reads package.json from the current working directory"
### Environment
Node version: 10.0.0
Npm version: 5.6.0
OS and version: Windows 10 Pro
azure-devops-node-api version: 6.6.2

### Issue Description

The WebApi constructor tries to get the version of azure-devops-node-api, for use in the user agent string, by reading `package.json` from the current working directory.

### Expected behaviour

The WebApi constructor should get the version of azure-de

[2018-10-12 15:38] #243 closed

[2018-10-15 12:52] jarethuk commented on #243
@damccorm Can this be released please?

[2018-10-15 14:02] damccorm commented on #243
@bryanmacfarlane can you release? Only changes are this and a patch version bump.

[2018-10-16 15:03] damccorm commented on #189
Update, there is a PR in right now to not allow creation of documents with names like this, looks like the team decided that was the best practice.

[2018-10-16 17:32] damccorm commented on #211
Oh, misunderstood this issue, looks like the dependencies are actually in the buildInterfaces file, current fix doesn't address this.

[2018-10-16 17:56] damccorm opened #245 "Profile Endpoint is failing"
Can't get profileApi from webApi. To reproduce, just try running samples, profile will fail.

Produces error:

[2018-10-16 17:56] damccorm commented on #212
Looks like taskAgentApi isn't getting generated either.

[2018-10-16 17:59] damccorm opened #246 "VSS Interfaces generated with bad reference"
Tries to require ../interfaces/GraphInterfaces, should be ../GraphInterfaces

[2018-10-16 18:03] damccorm opened #247 "WITApi tries to call rest.head"
Tried to generate WITApi and it had a method getQueryResultCount() that tried to call rest.head. Deleted it for the moment.

[2018-10-16 18:15] damccorm commented on #188
Hm, it looks like the internal PR didn't actually solve this, not sure why. Going to take another look.

[2018-10-16 18:39] damccorm commented on #245
@stephenmichaelf have you run into anything similar to this before? I did a little digging and as far as I can tell this is the correct endpoint. Also, is this reproducible for you? Could be an issue with my profile.

[2018-10-16 19:31] damccorm commented on #246
It actually does this for all interfaces generated within common. Need to find way to figure out where files are getting generated.

[2018-10-17 13:13] damccorm commented on #245
I've narrowed the source of the issue down - calling getResourceAreas sends a request to {API_URL}/_apis/ResourceAreas, which is supposed to return all of the resource areas. It currently doesn't, however, contain the profile resource area. I'll go ahead and file a bug with the appropriate team.

[2018-10-17 14:02] damccorm commented on #207
@johnseghersmsft I'm going to close, please reopen if this is still a problem.

[2018-10-17 14:02] #207 closed

[2018-10-17 20:32] cschleiden opened #249 "Reading package.json fails when using in VS code extension"
When using the API in a vscode extension, package.json is not available, and creation of an API fails.

![image](https://user-images.githubusercontent.com/2201819/47114519-e0f0fe80-d210-11e8-9451-93f3e73dc4e4.png)

As a sidenote: as a user I was very surprised that an http client library tries to read files from the disk, is that really necessary? The library should know its version without doing

[2018-10-17 20:57] damccorm commented on #249
This has been fixed, see #244 - we will republish soon. And I don't know of a good way to get the library without reading from the package.json or hardcoding it, certainly open to suggestions and/or PRs though.

[2018-10-17 20:57] #249 closed

[2018-10-17 21:15] cschleiden commented on #249
Why don't you encode the version when building?

[2018-10-18 03:34] cschleiden commented on #249
It's about being predicable. I hadn't used our node API package before, and when I saw the error message about `package.json` not being found I would have never guessed - without debugging - that the error was caused by the API client.

If you need the version of the API package, we should hardcode it during the build in `make.sh`. Basically have some `const` and replace its value with the version

[2018-10-18 18:12] nadavsinai commented on #172
This is not the cause in my case, I have definitely supplied the
workstation and domain details

On Wed, Oct 17, 2018 at 4:27 PM damccorm <notifications@github.com> wrote:

[2018-10-18 21:09] damccorm commented on #176
This has been fixed internally, you should no longer be able to create this type of doc.

[2018-10-18 21:09] #176 closed

[2018-10-23 02:29] MLoughry opened #250 "Date parameters are not being passed correctly to the REST API"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 8.12.0
~Npm~ yarn version: 1.10.1
OS and version: Windows 10
~vsts~ azure-devops-node-a

[2018-10-23 13:00] #250 closed

[2018-10-25 07:36] andreasblueher opened #252 "Failing to run samples"
### Environment
Node version:  10.11.0
Npm version: 6.4.1
OS and version: Windows Server 2016
azure-devops-node-api version:

### Issue Description
I'm trying to get the samples up and running. I've set the environment variables and executed npm run samples.

### Expected behaviour
Samples should run

### Actual behaviour
I get the error in the attached log file

### Logs
[node api log.txt](https:

[2018-10-25 12:33] damccorm commented on #245
Looks like this has been resolved, must have been an issue on the backend that was fixed.

[2018-10-25 12:33] #245 closed

[2018-10-25 12:38] damccorm commented on #252
I'm unable to reproduce locally, but it looks like you're getting a 401 unauthorized error. Are you sure the token you've supplied has both read and write permissions?

[2018-10-25 14:13] andreasblueher commented on #252
Hey Daniel, let me give it fullcontrol and see if that resolves the issue. I'll come back to you.

[2018-10-26 08:04] andreasblueher commented on #252
It appears i messed up permissions. I create a pat with full access and it worked. So I'll figure out which permission I was missing. Thank you very much

[2018-10-26 08:04] #252 closed

[2018-10-26 12:56] terotests opened #254 "getTestCases is returning Suite not array of TestCases?"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 8
Npm version: 6.2.0
OS and version: Mac OS 10.13.6
azure-devops-node-api version: 6.6.

[2018-10-26 15:49] justin0022 opened #255 "Samples in plain JavaScript"
Is there a chance we can get plain JavaScript samples, instead of TypeScript? Even a transpilation to regular JS would be helpful for people not used to reading/writing TS.

[2018-10-26 16:06] damccorm commented on #243
6.6.3 has been published, sorry for the delay.

[2018-10-26 16:13] damccorm commented on #255
I think since this is a TypeScript library we're going to keep the samples as TypeScript. With that being said, if you run the following in the base directory, it will transpile all of the samples to JS - they will show up in the samples folder next to the TS versions:
[code]

In addition, if you copy and paste any TS file in the left pane [here](https://www.typescriptlang.org/play/index.html), tr

[2018-10-26 16:13] #255 closed

[2018-10-26 20:52] D10100111001 opened #256 "Support for peelTags query string for the getRefs method within GitApi"
### Issue Description
Add support for `peelTags` boolean query string for the `getRefs` method inside the `GitApi` file.

[2018-10-28 11:45] terotests commented on #254
And, if you have anything you need to ask, or any workaround you want to suggest, please do not hesitate to ask - I follow this thread every day and can respond in 1-2 office days at least.

[2018-10-29 13:51] damccorm commented on #254
I'm looking into this, it looks like its caused by the same underlying issue as #198 and it should be fixed by #248

[2018-10-29 13:57] damccorm commented on #256
Currently have a PR in that will support this.

[2018-10-30 08:44] thusithagh opened #257 "Unable to display projects using a pick list"
### Environment
Node version: v8.11.1
Npm version: 5.6.0
OS and version: Windows 10
azure-devops-node-api version: 6.6.3

### Issue Description
Unable to display projects list using a pick list

### Expected behaviour
The pick list should be populated with project names

### Actual behaviour
The pick list is empty

### Steps to reproduce
Following is my pick list definition:
{
      "name": "proje

[2018-10-30 12:44] damccorm commented on #257
Hi, could you provide a little more info on how you're using the node api? Are you calling [getProjects](https://github.com/Microsoft/azure-devops-node-api/blob/e852eb96355ff697564e16cb02578450c3076445/api/CoreApi.ts#L36)? Also, are you able to verify that the issue is with getting the project info and not populating the pick list?

If the issue is indeed with getting the project info, my instinct

[2018-10-30 12:49] damccorm commented on #246
PR in internally to fix this.

[2018-10-30 12:50] damccorm commented on #211
PR in internally to fix this.

[2018-10-30 12:52] bryanmacfarlane commented on #257
This doesn't appear to be an issue with node api.  It looks like a UI extension question/issue, right?

[2018-10-30 14:50] damccorm commented on #211
This has been resolved internally

[2018-10-31 04:31] thusithagh commented on #257
Yeah. This is related to UI. Can you please point me the correct place to ask, if this is not the one?

Thank you.

Best Regards,
Thusitha

[2018-10-31 17:02] damccorm commented on #257
It definitely seems like its not an issue with the node-api if you're not making any node-api calls. It probably would be better suited for https://github.com/Microsoft/azure-pipelines-tasks. With that being said, I'd also recommend taking a look at some of the tasks in that library that use picklists before proceeding. Most of them have predefined options, but some (e.g. [PackerBuildV0](https://g

[2018-10-31 17:02] #257 closed

[2018-11-16 03:21] nirendrashakya commented on #245
@damccorm It seems like the issue is still there in finding the profile Api. I get the same error message:
Error: Could not find information for resource area 8ccfef3d-2b87-4e99-8ccb-66e343d2daa8 ' + 'from server:

[2018-11-21 20:15] cgosiak opened #258 "Access to Completion Options"
### Environment
Node version: v8.12.0
Npm version: v6.4.1
OS and version: Windows 10
azure-devops-node-api version: v7.0.0

### Issue Description
When attempting to programmatically modify the "completion options" of a pull request I receive an error disallowing me to update the pull request.

### Expected behaviour
I would like to have access to modify the options available in the completionOptio

[2018-11-26 17:48] damccorm commented on #258
This looks like an internal issue with our REST Api. I created an internal issue with the team that owns this and will post any updates here.

[2018-11-26 18:41] luker2 commented on #254
Seems like a dupe of #50 which was never actually fixed

[2018-11-26 18:53] damccorm commented on #254
@luker2 are you still having issues with version 7.0.0 of this library?

[2018-11-26 19:16] luker2 commented on #254
Nope I'm good. I just wanted to reference #50 here since it seemed to be the same issue (#50 was closed long ago, but don't think it was ever truly fixed). I haven't had time to upgrade/test this, but I noticed `action: "TestCases"` was finally added to `TestApi.ts`, which has been my local fix for a long time.

[2018-11-27 14:02] damccorm commented on #258
From the team that owns this: "The only time we let you update the merge commit message is when you are completing or auto-completing a pull request. Typically we build the merge commit message from the title and description of the PR, so this is by design. When completing the PR you can set the completion options as desired."

[2018-11-27 14:02] #258 closed

[2018-11-28 14:12] damccorm commented on #258
I believe if you set it and complete it at the same time you should be able to do it through the API

[2018-12-04 09:42] JulianNeuberger opened #259 "Creating a branch is not possible"
### Environment
Node version: v8.10.0
Npm version: -
OS and version: Ubuntu 18.04.1 LTS
azure-devops-node-api version: 7.0.0

### Issue Description
Creating a branch using `GitApi.updateRef()` is not possible, even though Azure Devops uses the `_apis/git/repositories/<repo-id>/refs` endpoint in the web view to do that.

### Expected behaviour
Calling

[code]

creates a new branch.

### Actual beha

[2018-12-04 14:02] damccorm commented on #259
UpdateRef isn't meant to create branches, it is supposed to [lock/unlock a branch](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/refs/update%20ref?view=azure-devops-rest-4.1). I think you want [createRef](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/refs/create?view=azure-devops-rest-4.1)

[2018-12-05 08:36] JulianNeuberger commented on #259
At first I thought so as well, but documentation says

Additionally the overview for the [https://docs.microsoft.com/en-us/rest/api/azure/devops/git/?view=azure-devops-rest-4.1](git api) links to updateRef, when you click on

[2018-12-05 14:18] damccorm commented on #259
Hm, you're right, I'm not 100% sure what the correct guidance is here. I've reached out internally to the team that owns the API (we just generate this library based on the REST Endpoints). I'll update you as I get more info.

[2018-12-05 14:19] damccorm commented on #246
Closing as this has been fixed internally and shouldn't show up in future generation.

[2018-12-05 14:19] #246 closed

[2018-12-07 12:16] joaomoreno opened #260 "Where is IGalleryApi?"
Looking into adopting the latest version in [VSCE](https://github.com/Microsoft/vscode-vsce), and I can't seem to find the `IGalleryAPI` which we're using to query extensions from the Marketplace.

[2018-12-07 12:26] joaomoreno opened #261 "IGalleryAPI.createExtension returns success when using an unknown publisher"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/vsts-node-api/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/vsts-node-api/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 8.10.0
Npm version: 6.4.1
OS and version: macOS 10.14.1
vso-node-api version: 6.1.2-pre

[2018-12-10 22:09] debben opened #278 "getCommitDiffs url parameter naming"
### Environment
Node version: 8.7.0
Npm version: 5.4.2
OS and version: Windows 10
azure-devops-node-api version: 7.0.0

### Issue Description
When using the getCommitDiffs method with the typed parameters baseVersionDescriptor and targetVersionDescriptor, the URL parameters for these values are incorrectly translated.

[code]
### Expected behaviour
Per the [docs](https://docs.microsoft.com/en-us/r

[2018-12-11 15:01] damccorm commented on #278
This looks like an inconsistency that should be addressed on the API side (we just generate this library from the REST endpoints). I'll file a bug internally, I think having the targetVersionDescriptor prefix _should_ be valid though.

[2018-12-12 16:22] damccorm commented on #180
@SeriousM sorry this slipped through the cracks a little bit

@bryanmacfarlane - thoughts on me coming back to this and trying to get this working (versus spending that time working through task issues)? I think most of the work was basically done in [this PR](https://github.com/Microsoft/typed-rest-client/pull/84), but we had reservations about merging that in without a bigger test/sample push

[2018-12-12 18:04] ribrdb opened #279 "distributedtask postEvent method is missing"
The post event method required for marking an async agentless http task as done is missing.
https://blogs.msdn.microsoft.com/aseemb/2017/12/18/async-http-agentless-task/
{"id":"557624af-b29e-4c20-8ab0-0399d2204f3f","area":"distributedtask","resourceName":"events","routeTemplate":"{scopeIdentifier}/_apis/{area}/hubs/{hubName}/plans/{planId}/{resource}","resourceVersion":1,"minVersion":"2.0","maxVer

[2018-12-12 18:35] damccorm commented on #279
I'm not quite sure what you're referring to, the link doesn't reference a postEvent method. Is this something that exists on the C# client that you're expecting to see on the node client? Or is it just a method you'd like to see an implementation for?

[2018-12-13 16:41] damccorm commented on #279
Thanks for the clarification - after some discussion, I don't think we're going to add this. This is written by hand in the C# client for some legacy/backcompat reasons which would also apply here. To avoid things getting out of sync/other concerns we don't want to add it here.

My recommendation would be to manually construct the request using the [typed-rest-client](https://github.com/Microsoft/

[2018-12-13 16:42] damccorm commented on #279
I'm going to close for now, please reopen if you have more thoughts and/or questions about this.

[2018-12-13 16:42] #279 closed

[2018-12-13 18:07] ribrdb commented on #279
I'm sorry, maybe this is more an issue for the azure pipelines people, but I think this is ridiculous.
The [Invoke REST API task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/http-rest-api?view=vsts) has a completion event option to allow an async callback. But there's no official documentation anywhere on how to make the callback. The only thing I can find is that blog po

[2018-12-13 18:34] damccorm commented on #279
As long as you continue to target the same version of the API, the url shouldn't change, sorry I should have been more clear about that.

To elaborate a little more on why we're not adding it in this library: For the most part we try to maintain parity across our libraries to avoid these sorts of problems. One exception to this is that we don't need to maintain complete parity for some agent speci

[2018-12-17 14:31] damccorm commented on #278
Unfortunately the generation code is all internal :(

[2018-12-20 15:28] uma1966 opened #281 "Add Operation API"
### Environment
Node version: v8.12.0
Npm version: 6.4.1
OS and version: Windows 10
azure-devops-node-api version: 7.0.0

### Issue Description
Please add Operations API.
When creating a project with the Core API (queueCreateProject) an OperationReference is returned. It would be nice to be able to query the operation status but the corresponding API is not implemented in this package.

### Expect

[2018-12-31 18:47] wsmckenz opened #282 "Code search client"
### Environment
Node version: 8.11.1
Npm version:
OS and version: all
azure-devops-node-api version: 6.6.2

### Issue Description
There doesn't seem to be a client for the code search api. I know the API pretty well, and have used it in other environments/languages. My question is just this: is there any value in trying to use the basic WebApi class to call a generic url against the API and take a

[2019-01-02 18:47] damccorm commented on #282
I would say the biggest advantage of using the WebApi is that it has all of the stuff you mentioned built in abstracted away and you can be sure it works without having to reinvent the wheel and. With that being said, if you're just looking to do ad-hoc queries against an API you know well, you might just be better off using the [typed-rest-client](https://github.com/Microsoft/typed-rest-client) s

[2019-01-02 19:06] damccorm commented on #281
In general, we just try to maintain parity with the .Net client, they control which APIs get generated. I don't believe this exists on the .Net client, so we won't add this here right now.

Could you follow up with the .Net client folks by creating an issue in [this repo](https://github.com/Microsoft/vsts-dotnet-samples/issues)? I would do it, but it would probably be better coming from you since

[2019-01-02 19:06] #281 closed

[2019-01-03 09:19] joaomoreno commented on #261
ping @DanielSundberg @pkuma-msft @stephenmichaelf

[2019-01-04 20:21] MireilleHanna commented on #204
This is actually by design for readability. Users can bypass this through providing the header "enumsAsNumbers"

[2019-01-04 21:17] ethomson commented on #204
It's odd that `getDefinitions` is inconsistent with `getDefinition` though.  The latter returns ints by default.

[code]

Results:
[code]

One would expect that they have the same defaults.

[2019-01-07 16:29] damccorm opened #283 "Add unpublishExtension to GalleryApi"
Consider adding ```unpublishExtension``` to the GalleryApi (probably requires some work on the generation side).

See [here](https://github.com/Microsoft/azure-devops-node-api/pull/233/#issuecomment-451907276)

[2019-01-07 16:31] damccorm commented on #261
@joaomoreno is this still an issue with #233?

[2019-01-07 16:31] damccorm commented on #260
Resolved by merging #233

[2019-01-07 16:31] #260 closed

[2019-01-07 16:32] joaomoreno commented on #260
Thanks a lot! Looking forward to a release.

[2019-01-07 16:33] damccorm commented on #282
I'm going to close, please reopen if you have additional thoughts/questions

[2019-01-07 16:33] #282 closed

[2019-01-07 16:35] damccorm commented on #260
@bryanmacfarlane can we release ```7.1.0```? The only changes should be those from #233 adding this.

[2019-01-09 21:01] damccorm commented on #204
I'm going to close here since this isn't really an issue with the library and they've decided not to change this on the API side, though a workaround has been provided.

[2019-01-09 21:01] #204 closed

[2019-01-10 18:46] stephenmichaelf commented on #204
I agree that this is confusing. If it's more readable for one it should be for the other too?

[2019-02-01 15:07] stephenmichaelf commented on #261
Closing because of #233, let's reopen if it's still an issue.

[2019-02-01 15:07] #261 closed

[2019-02-01 15:57] joaomoreno commented on #261
Sorry guys, super busy... still haven't been able to catch up to this.

[2019-02-04 19:39] kachkaev commented on #41
ping @stephenmichaelf 🙂

[2019-02-06 18:36] damccorm commented on #283
@joaomoreno does an endpoint exist for ```unpublishExtension```? Or does it exist under a similar name? I wasn't able to find one and we would need that before we can generate it here.

[2019-02-08 14:44] damccorm commented on #283
Closing after offline discussion - this can be achieved using ```updateExtensionProperties```

[2019-02-08 14:44] #283 closed

[2019-02-08 16:12] nschonni commented on #283
Nice! Is there a work item to get this documented somewhere?

[2019-02-13 09:56] JamieMagee opened #285 "Create GitHub releases to match npm releases"
The latest version of `azure-devops-node-api` on npmjs.com is 7.0.0, however the latest GitHub release is 6.6.2. Versions 6.6.3 and 7.0.0 are missing from GitHub releases.

I would expect the releases on GitHub and npm to match.

[2019-02-13 14:12] damccorm commented on #285
We actually use the GitHub releases and npm releases slightly differently. The npm release should map to the latest release in general. The GitHub releases map to [TFS releases](https://github.com/Microsoft/azure-devops-node-api#api-and-tfs-mapping) (a newer version of the library won't work with an older version of TFS). This is mostly just for tracking purposes (see [here](https://github.com/Mic

[2019-02-13 14:23] JamieMagee commented on #285
If I understand correctly GitHub releases tag the commit where the API is generated? And do not match the package that is released to npm?

[2019-02-13 14:29] damccorm commented on #285
Yes, GitHub releases should be a subset of packages released to npm though. I'll go ahead and document this behavior in the tags of the releases for clarity as well

[2019-02-13 14:35] damccorm commented on #285
It should be documented more clearly now at https://github.com/Microsoft/azure-devops-node-api/releases

[2019-02-14 08:41] JamieMagee commented on #285
I understand the need to map TFS release to `azure-devops-node-api` release, but I think that source code not matching released code is a security bug. Just look at [the `event-stream` fiasco](https://medium.com/intrinsic/compromised-npm-package-event-stream-d47d08605502) to see an example of this.

It is possible to have an npm package with npm releases and GitHub releases that have to match to a

[2019-02-14 14:08] damccorm commented on #285
Source code definitely does match released code - what we have published most recently on npm always matches our current source code (with 1 or 2 exceptions where development is slightly ahead of the release), and our GitHub releases match previous versions of our source code (which are available to browse). The only difference between the 2 is that we've published to GitHub less often.

Maybe I'm

[2019-02-15 08:24] JamieMagee commented on #285
I've clearly misunderstood, and I apologise if I came off as hostile. Can you help me to understand what the 2 newer versions on npm are for—`6.6.3`, and `7.0.0`. Is `6.6.3` a patch for TFS 2018 Update 2, and is `7.0.0` for TFS vNEXT?

[2019-02-15 12:18] bryanmacfarlane commented on #285
When code is updated it’s gen’d from the latest code.  Code ships to hosted every 3 weeks and the same code a couple times a year builds tfs on prem.

There is no affinity of node api to any hosted or on prem.  You should just use latest node api and connect to any of them.

Service holds back and node api will negotiate down to talk to older tfs.

Hope that helps

[2019-02-15 12:55] JamieMagee commented on #285
Okay, thanks for taking the time to explain @bryanmacfarlane and @damccorm

[2019-02-15 12:55] #285 closed

[2019-02-21 15:20] pasangh commented on #259
https://docs.microsoft.com/en-us/rest/api/azure/devops/git/refs/update%20refs?view=azure-devops-rest-4.1

Update refs endpoint can be used to create a ref. You can review the sample example in the link.
To create a new ref, the "oldObjectId" should point to "0000000000000000000000000000000000000000"

[2019-02-26 18:54] damccorm commented on #259
Closing since @pasangh has answered the question. If appropriate, comment and I'll reopen.

[2019-02-26 18:54] #259 closed

[2019-02-26 18:57] damccorm commented on #163
I'm going to close since this is on the appropriate team's backlog and isn't really an issue with this library (since we're just autogenerated from the endpoint). If appropriate, please comment and I'll reopen

[2019-02-26 18:57] #163 closed

[2019-02-27 11:39] ashwinsaval opened #286 "samples/build.ts issues with coding practices in the sample"
### Environment
Node version: 8.11.3
Npm version: 5.6.0
OS and version: Mac OS 10.14.3 (Mojave)
azure-devops-node-api version: Irrelevant

### Issue Description

I am looking at this sample https://github.com/Microsoft/azure-devops-node-api/blob/master/samples/build.ts and I cannot seem to understand why we are doing things this way. Is it intentional or for demonstration.

1. https://github.com/M

[2019-02-27 11:41] ashwinsaval commented on #286
cc: @bryanmacfarlane @stephenmichaelf @scottdallamura @kimsey0

[2019-02-27 14:34] damccorm commented on #286
Sure. By nature some of the samples are a little arbitrary since they're just trying to demonstrate functionality not solve a real world problem, but I'll try to explain what we're doing:

1. We're not trying to extract just the last definition. What we are doing is taking a list of `DefinitionReference` objects and for each of them extracting the richer `BuildDefinition` object, and then ultimate

[2019-02-28 09:12] ashwinsaval commented on #286
@damccorm thanks for following up. My follow ups point by point below:
1. I understood that you want to expose the need for `vstsBuild.getDefinition` to get complete details for a build definition. I don't understand however, the need for a for loop, that extracts the complete definition for all definitions. We only need complete definition information for only the last definition, correct?

Can t

[2019-02-28 14:19] damccorm commented on #286
1. That would be valid as well, we just happen to also be printing out some info about the other builds as well. Just doing slightly different things, again its kinda arbitrary since its samples 😄

4. I'm still not quite sure what you're asking for. There's not a `JsonPatchProperties` object as far as I know, do you mean `JsonPatchDocument`? If so, I think the docs you pointed to basically lay it

[2019-02-28 15:17] ashwinsaval commented on #286
@damccorm replies pointwise:
1. Fair enough, since its a sample it's alright
2. My bad. I meant `JsonPatchDocument`. You were right, that is what I was looking for and thanks for the explanation. However, I cannot see your explanation in the link I shared. Is there an alternate resource I could refer for this usage.

In summary, this issue is dragging along now. We can close the issue since the re

[2019-02-28 15:31] damccorm commented on #286
I don't think this is documented anywhere else. With that said, I think everything I said is in the docs you linked to - I honestly haven't used this API before personally so I was just drawing from the docs in my answer. If you disagree/think that they're not clear, I'd recommend adding an issue in [this repo](https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues), that's where we track our

[2019-02-28 15:31] #286 closed

[2019-03-06 14:14] stephenmichaelf opened #288 "Add retries to the library"
Customers have had some issues with specifically get resource areas failing to try.

We should add resilience to the library to retry.

We should think through where we want to add retries (e.g. - just in code outside the api calls or also in the api calls).

[2019-03-11 14:49] nils-a opened #289 "error TS2503: Cannot find namespace 'NodeJS' - again"
I can't seem to get `azure-devops-node-api` working. I tried to create a minimal example:

Start new..
1. npm init
2. npm install --save-dev typescript
3. npm install --save azure-devops-node-api
4. create `index.ts` like so:
[code]
running `tsc` yields:

The old [Issue#58](https://github.com/Microsoft/azure-devops-node-api/issues/58) says:

However, the project comes with it's own typings.. So I

[2019-03-11 15:05] damccorm commented on #289
I think you want to install the actual [typings module](https://www.npmjs.com/package/typings).

You may also need `typings install dt~node --global --save-dev` to save node as a global dependency.

[2019-03-11 15:21] nils-a commented on #289
Ok. Thanks.
As I'm kind of quirky when it comes to installing things global - and the old typings module has been deprecatd for years now, I tried `npm add --save-dev @types/node` which relsoved the issue.

[2019-03-11 15:21] #289 closed

[2019-03-19 03:20] dmitryserbin opened #292 "Intermittent ECONNRESET errors"
### Environment

Node version: 11.12
Npm version: 6.2
OS and version: Windows 2018 server (Azure DevOps release pipelines)
azure-devops-node-api version: 7.0.0 (also 6.x)

### Issue Description

I'm experiencing intermittent [ECONNRESET](https://stackoverflow.com/questions/17245881/node-js-econnreset) errors [running](https://github.com/dmitryserbin/azdev-release-orchestrator) various Build/Core/R

[2019-03-19 19:04] stephenmichaelf commented on #292
We just added a PR to the rest-client that this library uses and it should be incorporated here soon!

@damccorm

[2019-03-19 19:54] dmitryserbin commented on #292
Awesome, that should do, thanks a lot

[2019-03-21 14:33] #292 closed

[2019-03-22 16:51] damccorm commented on #288
Fixed by #293

[2019-03-22 16:51] #288 closed

[2019-04-04 10:18] TheDarkBoz opened #298 "No children in GetQueries"
### Environment
Node version: 11.13.0
Npm version: 6.7.0
OS and version: Windows 10
azure-devops-node-api version:  Azure Devops Server 2019

### Issue Description
When I use the api for Get Querries, I have my 2 root queries.
But I dont have theirs children.
I have checked with browser debugger I don't have the propriety while the propriety hasChildren is okay

### Steps to reproduce
I use follow

[2019-04-04 11:50] stephenmichaelf commented on #298
Are you able to get this working with raw HTTP queries from something like Postman? This library is just a wrapper around the APIs.

@damccorm can you take a quick look? If it's not readily apparent let's route to API owners.

[2019-04-04 15:29] TheDarkBoz commented on #298
I have 401 with postman...

[2019-04-04 15:50] TheDarkBoz commented on #298
I am sorry, I found my mistake.
I have the children if add the parameter depth with the value 1 or 2 (not 0)
I replaced
`client.getQueries(CurrentProject)`
by
`client.getQueries(CurrentProject,'All',2)`

[2019-04-04 16:09] damccorm commented on #298
Ok, great! I'm going to close since it seems like you've resolved this, if not feel free to comment and I'll reopen!

[2019-04-04 16:09] #298 closed

[2019-04-05 17:38] MisinformedDNA opened #300 "Cannot contribute to pull request from a pipeline custom task"
### Environment
OS and version: Azure DevOps Services
azure-devops-node-api version: 7.2.0

### Issue Description
I am trying to create an Azure DevOps custom pipeline task that will add a message to a specified pull request.

### Expected behaviour
It should be added.

### Actual behaviour

Receive an error message

### Steps to reproduce
1. Create a custom task with the code [here](https://gist.

[2019-04-05 17:49] MisinformedDNA opened #301 "Git pull request thread api methods are named inconsistently"
The way methods are named in IGitApi is inconsistent. Take a look at these methods that all apply to `GitPullRequestCommentThread`:

- `createThread`
- `updateThread`
- `getPullRequestThread`
- `getThreads`

Why do 3 out of the 4 definition names omit "PullRequest"?

See https://github.com/Microsoft/azure-devops-node-api/blob/master/api/GitApi.ts#L109-L112

[2019-04-08 12:28] stephenmichaelf commented on #301
Danny can you take a look at our generation? I don't think we do any modification to decide how methods should be named.

[2019-04-08 12:37] stephenmichaelf commented on #300
Please try using System.AccessToken.

[2019-04-08 13:04] MisinformedDNA commented on #300
This results in the same error:

[code]

[2019-04-08 13:30] damccorm commented on #301
Yeah, we don't, this comes directly from the endpoint (which we don't own).

Obviously this isn't great, I'm not sure that its worth introducing breaking changes to fix this though. Could be a good candidate to try to fix next time we do a new API version.

[2019-04-08 17:54] MisinformedDNA commented on #301
[Get single](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20request%20threads/get?view=azure-devops-rest-5.0) and [get list](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20request%20threads/list?view=azure-devops-rest-5.0) don't look like they are named differently at the API level:

[code]

[2019-04-08 17:56] damccorm commented on #301
Sorry, should have been more clear - this comes from the internal endpoint **controller** code from which this API is generated (not the endpoint itself)

[2019-04-08 18:33] damccorm commented on #300
I believe `System.AccessToken` is actually for PAT auth. With that said, I'm not able to reproduce - lots of our built in tasks use the same way of getting Bearer Auth as you (e.g. nuget tasks that use [locationUtilities](https://github.com/Microsoft/azure-pipelines-tasks/blob/261a0f87ab7f9911df2055ef2628c129188946fe/Tasks/Common/packaging-common-old/locationUtilities.ts#L119)).

A couple things y

[2019-04-08 21:02] MisinformedDNA commented on #300
1. Am I using OAuth? I think I'm using OAuth. I checked the "Allow scripts to access the OAuth token" box and am accessing 'System.AccessToken'.
2. Yep. I used Postman to create a pull request thread without any issue (using a PAT). Also, I was able to create a work item using the same token and the same library, with no issue.

[2019-04-09 16:28] MisinformedDNA commented on #300
I verified the schema is OAuth. I never set up a PAT, so I have to assume it was OAuth, but I'm working on recreating the "create work item" code so I can verify that.

[2019-04-09 16:50] MisinformedDNA commented on #300
I guess I never created a work item directly through the library. I was actually using the [Create Work Item](https://github.com/MicrosoftPremier/VstsExtensions/blob/master/CreateWorkItem/en-US/overview.md) task from MS Premier, which uses essentially the same code as me (so both should be OAuth):

[code]

I would agree that there seems to be a permissions issues somewhere, but besides the permiss

[2019-04-10 09:45] simondel opened #302 "Use different user agents"
### Environment
Node version:  10.x
Npm version: 6.x
OS and version: Windows Server 2016 DC
azure-devops-node-api version: 6.0.1-preview

### Issue Description
The current Api's use a user agent that's quite odd. For example, the `CoreApi` uses user agent `node-Core-api`: https://github.com/Microsoft/azure-devops-node-api/blob/master/api/CoreApi.ts#L55

This makes it quite difficult to use user ag

[2019-04-10 18:20] damccorm commented on #302
Can you just whitelist things that follow the pattern `node-*-api`? I believe all the APIs follow that pattern (and that's consistent across our clients in other languages as well).

As a side note, the user agent is really easy to spoof if that matters to you, so I'd be careful making any security assumptions there.

[2019-04-10 20:56] simondel commented on #302
I agree it's not a great thing to use. However, I would expect there to be some notion of Azure DevOps in the user agent of this module to indicate its purpose/make.

[2019-04-10 21:04] damccorm commented on #302
That doesn't seem obvious to me. The user agent is primarily used to identify the user (client), not the service its connecting to. In this case, we're connecting to Azure DevOps so it feels redundant to have that in the name.

For the reasons I mentioned above, I'd explicitly recommend against doing something like whitelisting based on user agent, outside of that I don't see much reason to change

[2019-04-11 00:27] MisinformedDNA opened #303 "Samples do not work"
### Environment
Node version: 8.11.1
Npm version: 6.0.1
Tsc version: 3.4.1
OS and version: Win10 1803
azure-devops-node-api version: Git cloned master branch

### Issue Description
I can't get the samples to run.

### Expected behaviour
Samples run successfully

### Actual behaviour
Errors out

### Steps to reproduce
1. git clone
2. cd into directory
3. npm install
4. npm run samples

### Logs

To

[2019-04-11 03:07] damccorm commented on #303
Yeah, this is broken, I noticed the same thing the other day. It should be fixed as part of #294

[2019-04-11 15:05] MisinformedDNA commented on #303
After switching branches to regen branch (commit bf4d95181fc686cbb701ed28b6c4f98c4e8add67) and running `npm install` and then `npm run samples`, the errors were identical.

[2019-04-11 15:38] MisinformedDNA commented on #303
If we can get this fixed quickly, I would greatly appreciate it. I am running into issues trying to create a custom pipeline task and am being able to run this successfully would help me validate what I am doing.

[2019-04-11 15:52] damccorm commented on #303
Whoops, had local files that I didn't check in. We can just fix this separately, I just added a PR.

The auth issue is different, I'm not running into it and it definitely indicates that somehow you don't have the right permissions. I'm guessing that this is the same issue as #300, though I'm still not 100% sure what is causing that.

[2019-04-11 17:53] MisinformedDNA commented on #303
Upon further investigation, I realized that I didn't initially know that my PAT needed Full Access so it was missing some permissions.

On a side note: I also saw some deletions. Is the sample only reading from the project set by API_PROJECT?

So the samples ran quite well, but fails with

[2019-04-11 18:19] damccorm commented on #303
I'm running into this as well - it looks like an issue on the backend with the profile resource area, probably the same root cause as #245 (which I thought was fixed). I'll take a look at it.

[2019-04-16 10:12] NxSoftware opened #305 "queryTestResultsReportForBuild does not return all data"
### Environment
Node version: 11.9.0
Npm version: 6.9.0
OS and version: macOS 10.14.4
azure-devops-node-api version: 7.2.0

### Issue Description

The response object received from the Test API `queryTestResultsReportForBuild` method does not contain all of the data in the raw JSON response.

The following code reproduces the issue:

[code]

Furthermore, using the `WebApi.rest` object we can acces

[2019-04-16 13:44] stephenmichaelf commented on #305
@damccorm Can you take a look? Let's confirm the rest calls are exactly the same then we can look at potentially changing the objects the result is deserialized into.

[2019-04-16 17:49] damccorm commented on #305
I'm able to repro.

If you add the following logging to queryTestResultsReportForBuild:

[code]

You get:
[code]

So this is pretty clearly an issue with our serialization (note that changing the outcome from 'passed' to 2 is fine since that's an enum, the issue is just with the Passed to false). I'm taking a look now

[2019-04-16 18:20] damccorm commented on #305
Ok, I've figured out the source of the problem. When we deserialize the object, we rely on the provided types. The [way we define our types](https://github.com/Microsoft/azure-devops-node-api/blob/6f647c7f9a1a96c710ab478a139d1c3847f00d6c/api/interfaces/TestInterfaces.ts#L4587), we have a structure that should map `{ Passed: { outcome: 'passed', count: 504, duration: '00:00:44.4440000' } }` to `{ T

[2019-04-22 20:05] damccorm commented on #302
I'm going to close, please comment if you have further thoughts and/or would like me to reopen

[2019-04-22 20:05] #302 closed

[2019-04-22 20:09] damccorm commented on #247
Looks like this has been fixed

[2019-04-22 20:09] #247 closed

[2019-04-23 21:35] DrewHiggins opened #306 "createThread in Git API throws error: 'Both a source and target reference is required'"
### Environment
Node version: 8.15.1
Npm version: 6.4.1
OS and version: Windows 10
azure-devops-node-api version: 7.2.0

### Issue Description
I'm running a script in a build agent that is supposed to comment on pull requests in Azure DevOps with information about the build in a new thread. However, when calling the `createThread` method in `IGitApi` with all required parameters (a new thread obje

[2019-04-24 11:46] stephenmichaelf commented on #306
Hey Drew,

This library is a wrapper around the REST api calls. It looks like you're missing some data in the request object.

Have you tried making a raw HTTP request with something like Postman and seeing what response you get?

[2019-04-24 17:09] DrewHiggins commented on #306
Making a raw request works correctly, as does this call from JS using `fetch()`:

[code]

[2019-04-24 18:39] stephenmichaelf commented on #306
Can you check the request from the lib using Fiddler and diff the two and see where it's different?

Thanks!

[2019-04-25 13:05] stephenmichaelf opened #308 "Investigate caching location data"
Today we don't cache location data.

https://github.com/Microsoft/azure-devops-node-api/blob/8ba98263f6e0673c08e990f46bbfb64d4c0a0a9c/api/WebApi.ts#L404

The other clients, C# and Python, do cache data to disk to reduce the number of calls.

The Python client has a 24 hour expiration.

Let's investigate how those other client libraries work, how it might work in this lib, how long it will take, et

[2019-04-29 15:15] #303 closed

[2019-05-02 00:19] jarmit opened #309 "Requesting git blame feature"
I would like an api where I can pass in a file path and a line number, and it will return the commits or latest commit that changed that line on that file path.

[2019-05-02 01:02] damccorm commented on #309
This library is almost entirely generated from the endpoints listed [here](https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-5.0&viewFallbackFrom=vsts-rest-4.1), so we can't do much about that request until an endpoint exists.

Would you mind logging your request with the developer community [here](https://developercommunity.visualstudio.com/spaces/21/index.html)? That

[2019-05-02 01:03] damccorm commented on #309
I'm going to close since there's nothing we can do about this in this library. Feel free to comment if you'd like me to reopen

[2019-05-02 01:03] #309 closed

[2019-05-02 04:18] jarmit commented on #309
Thanks @damccorm. I will post this comment on the azure devops developer community!

[2019-05-06 10:39] shudv opened #310 "Add service endpoint api"
### Environment
Node version: 10.14.2
Npm version: 6.4.1
OS and version: Windows 10 Build 18890
azure-devops-node-api version: 7.2.0

### Issue Description
The `getConnectedServices` and `getConnectedServiceDetails` api's in Core interface do not seem to be working.

### Expected behaviour
I created a custom service connection instance in my ado account. Using [this](https://docs.microsoft.com/en-

[2019-05-06 13:09] damccorm commented on #310
I can't get a repro, would you mind trying the request from the lib using Fiddler and trying it from the endpoint and diffing the two to see what's different?

[2019-05-06 13:34] shudv commented on #310
Sure. It's night time here in India so will try this next morning and report back. Thanks for the suggestion. :)

[2019-05-07 05:28] shudv commented on #310
@damccorm, I have been trying to do what you suggested but for some reason I haven't been able to get Fiddler to capture the packets from my process or the browser. I will keep trying to see what I am doing wrong but until then I will lay out some investigation info from my end hoping that it might give you some insight into the problem.

- This is most likely not because of some weird network con

[2019-05-07 05:48] shudv commented on #310
The fiddler does capture the HTTPS GET request from the browser and I see the data as I expect. Although the call from the library does not show up on the fiddler. Are we sure that we are hitting the same route from the library?

[2019-05-07 15:43] damccorm commented on #310
I took another look at this - the reason its not returning what you're expecting is that its actually hitting a different api. The api you linked to is part of the service endpoint api, not the core api.

Right now, we don't have this exposed via the generated clients - I'm going to update the title/label to reflect that this is an enhancement.

[2019-05-07 18:13] damccorm commented on #306
@DrewHiggins any update on this?

[2019-05-07 18:17] damccorm commented on #301
As I rethink this, probably not worth breaking back compat for naming consistency - I'm going to close here. Feel free to comment if you'd like me to reopen

[2019-05-07 18:17] #301 closed

[2019-05-07 18:24] damccorm commented on #300
@MisinformedDNA sorry I lost track of this one. Have you made any progress?

One thing you could check is if you've restricted access at the org level. Beyond that, I'm not sure how much help I can give you on this one without seeing your security settings unfortunately.

![image](https://user-images.githubusercontent.com/42773683/57323333-9b742000-70d3-11e9-97c4-06ead418e496.png)

[2019-05-07 18:53] damccorm commented on #308
From offline discussion - not sure if this actually adds value so I'm going to close. If anyone disagrees feel free to comment and we can reopen/discuss

[2019-05-07 18:53] #308 closed

[2019-05-09 00:55] FXschwartz opened #311 "Get Work Items by Assigned User"
I've looked a great deal through the documentation and it's very possible I missed it but is there built functionality to get work items based on the user assigned to the work item?

If I did miss this I apologize, any help pointing me in the right direction would be greatly appreciated!

[2019-05-09 18:54] jholovacs commented on #259
How does this work if branching off a specific branch?

[2019-05-10 11:19] jholovacs commented on #259
Is the following code correct?

[code]

[2019-05-11 19:57] damccorm commented on #259
I'm not 100% sure - it looks right to me. @pasangh to comment as an endpoint owner

[2019-05-11 21:28] pasangh commented on #259
Yep, looks good to me.

[2019-05-14 20:11] alechirsch commented on #278
I am unable to get a successful call using getCommitDiffs because of this issue. Is there a working example of getting a diff between two branches using this API?

It generates this URL:
[code]

[2019-05-14 20:21] damccorm commented on #278
If you cut `baseVersionDescriptor` and `targetVersionDescriptor` it should work. So your example would be:

[code]

I'll follow up internally to see if we can get this fixed.

[2019-05-15 06:28] dmitryserbin commented on #292
Just to follow up on this @stephenmichaelf @damccorm - it seems like retry isn't really working as we're still experiencing ECONNRESET errors.

`
2019-05-15T00:07:05.4224798Z ##[warning]read ECONNRESET
`

[code]

[code]

[2019-05-15 14:15] alechirsch commented on #278
@damccorm Thanks, I was able to make the call with the correct URL. But this module still generates the incorrect URL, so I cannot use it effectively.

[2019-05-16 11:25] stephenmichaelf commented on #292
Are the logs showing that there were 20 retries?

[2019-05-16 19:37] debben commented on #232
It looks like typed-rest-client now supports returning headers. Is this ticket still in need of a contributor or is this support dependent on changes to code generation?

[2019-05-16 20:17] damccorm commented on #232
It might need both a change here and a change in the generation. Ideally they would come in the same minor version.

What we're doing now is calling
[code]
See [here](https://github.com/microsoft/azure-devops-node-api/blob/d6c74df97a203b684c3fa6733ab6532a71d72264/api/BuildApi.ts#L196) for an example of this.

`formatResponse` lives in the [ClientApiBase](https://github.com/microsoft/azure-devops-n

[2019-05-19 01:20] dmitryserbin commented on #292
I don't think is retrying at all @stephenmichaelf. I will try to reproduce it and come back to you with some logs.

[2019-05-20 21:55] MisinformedDNA commented on #300
The solution was to add the "Project Collection Build Service" user to the “Project Collection Build Service Accounts” security group. Seems strange that the user isn't a member by default.

[2019-05-20 21:55] #300 closed

[2019-05-21 08:51] alessandromuresan opened #312 "WebApi doesn't work in projects that use Webpack"
### Environment
Node version: v8.9.1
Npm version: 6.9.0
OS and version: Windows 10.0.17134.0
azure-devops-node-api version: 8.0.0

### Issue Description
The WebApi class' constructor tries to read the caller's package.json using `readFileSync`:
[code]
This causes an exception when using Webpack to build and bundle, because the build output folder is an arbitrary `dist` folder, not the project root